{% set c=contract %}
{% set a=c.application %}
{% set application_number=a and a.number or _("N/A") %}
<div class="table-responsive">
  <table class="table table-bordered searchable">
    <tbody>

      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Application Number') }}
        </th>
        <td>
          {% if a %}
            <a href="{{ url('application-detail', number=application_number) }}" target="_blank">{{ application_number }}</a>
          {% else %}
            {{ _("N/A") }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Type') }}
        </th>
        <td>
          TODO: Visit
        </td>
      </tr>

      {% if c.source %}

        <tr>
          <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {% if c.is_variation %}{{ _('Variation of') }}{% else %}{{ _('Transferred contract of') }}{% endif %}
          </th>
          <td>
            {% if export %}
              {{ c.source }}
            {% else %}
              <a href="{{ c.source.get_absolute_url }}" target="_blank">{{ c.source }}</a>
            {% endif %}
          </td>
        </tr>

        {#% if export and c.change_requests.count() > 0 %}
          <tr>
            <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
              {{ _('Type') }}
            </th>
            <td>

            </td>
          </tr>
        {% endif %#}

      {% endif %}

      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Organisation') }} / {{ _('Source') }}
        </th>
        <td>
            {% if c.org %}
                {% if request.user.is_superuser %}
                  <a href="{{ url('admin:portal_organisation_change', object_id=c.org_id) }}" target="_blank">{{ c.org }}</a>
                {% else %}
                  {{ c.org }}
                {% endif %}
            {% else %}
                {{ _('N/A') }}
            {% endif %}
        </td>
      </tr>

      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Panel') }}
        </th>
        <td>
          {{ c.panel or _('N/A') }}
        </td>
      </tr>

      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Fund') }}
        </th>
        <td>
          {{ c.fund or _('N/A') }}
        </td>
      </tr>

      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Project Title') }}
        </th>
        <td>
          {{ c.project_title or a.application_title or a.round.name }}
        </td>
      </tr>

      {% if c.contact %}
      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Contact') }}
        </th>
        <td>
          {{ c.contact }}
        </td>
      </tr>
      {% endif %}

      {% if c.contact_phone %}
      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Contact Phone Number') }}
        </th>
        <td>
          {{ c.contact_phone }}
        </td>
      </tr>
      {% endif %}

      {% if c.host_contact_email %}
      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Host Contact Email Address') }}
        </th>
        <td>
          {{ c.host_contact_email }}
        </td>
      </tr>
      {% endif %}

      {#% if (request.user.is_staff or request.user.is_superuser or request.user.is_site_staff) and c.org.research_offices.exists() %#}
      {% if (is_staff or request.user.is_superuser) and c.org.research_offices.exists() %}
      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Research Office') }}
        </th>
        <td>
            {% for ro in c.org.research_offices.order_by("user__first_name") %}
                {{ ro.user.full_name_with_email }}
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </td>
      </tr>
      {% endif %}

      {% if c.address %}
      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Address') }}
        </th>
        <td>
          {{ c.address|safe }}
        </td>
      </tr>
      {% endif %}


    </tbody>
  </table>

  <table class="table">
    <tr>
      <td><strong>{{ _('Contract starts') }}</strong>: {{ c.start_date or '-'}} </td>
      <td><strong>{{ _('Contract ends') }}</strong>: {{ c.end_date or '-' }} </td>
    </tr>
  </table>

  <table class="table table-bordered searchable table-striped">
    <thead>
      <tr class="thead-dark">
        <th scope="col">
          {{ _('Part') }}
        </th>
        <th scope="col">
          {{ _('Organisation Status') }}
        </th>
        <th scope="col">
          {{ _('Society Status') }}
        </th>
        {% if not export %}<th scope="col">{{ _('Document') }}</th>{% endif %}
      </tr>

    </thead>
    <tbody>
      {% for rd in c.get_required_documents().all() %}
        {% for d in rd.documents.all() %}
          <tr>
            <td>{{ rd }}</td>
            <td>
              {% if d.state == 'approved' or d.state == 'accepted' %}{{ _('Approved') }}
              {% elif d.state == 'released' %}{{ _('Released') }}
              {% else %}{{ _('WIP') }}
              {% endif %}
            </td>
            <td>
              {% if d.state == 'accepted' %}{{ _('Accepted') }}
              {% elif d.state == 'draft' %}{{ _('Awaiting Submission') }}
              {% else %}{{ _('To Review') }}
              {% endif %}
            </td>
            {% if not export %}
              <td>
                {% if d.file %}
                  <a href="{{ d.file.url }}">{{ d.file.name|basename }}</a>
                  {% if d.convert_file %}
                    (<a href="{{ d.convert_file.url }}">{{ d.convert_file.name|basename }}</a>)
                  {% endif %}
                {% else %}
                  {{ _('Not uploaded yet') }}
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% else %}
          <tr>
            <td>{{ rd }}</td>
            <td>-</td>
            <td>-</td>
            {% if not export %}<td>-</td>{% endif %}
          </tr>
        {% endfor %}
      {% endfor %}
      <!-- tr>
        <td>Aims</td><td>Approved</td><td>Approved</td>
      </tr>
      <tr>
        <td>Timeline</td><td>Approved</td><td>Approved</td>
      </tr><tr>
        <td>Budget</td><td>Approved</td><td>To Review</td>
      </tr><tr>
        <td>Declaration</td><td>Approved</td><td>Approved</td>
      </tr><tr>
        <td>Compliance</td><td>Approved</td><td>Approved</td>
      </tr -->
    </tbody>
  </table>
  <table class="table table-bordered searchable table-striped">
    <thead>
      <tr class="thead-dark">
        <th scope="col" colspan="2">
          {{ _('Funding') }}
        </th>
        <th scope="col" colspan="2">
          {{ _('Reporting Due') }}
        </th>
      </tr>

    </thead>
    <tbody>
      {% for a in c.allocations.order_by("period") %}
        <tr>
          {% set schedule=c.reporting_schedule.filter(period=a.period).order_by("due_date") %}
          {% set sec=schedule.count() %}
          <td{% if sec %} rowspan="{{ sec }}"{% endif %} style="vertical-align: middle;">{{ _("Year") }} {{ a.period }}:</td>
          <td{% if sec %} rowspan="{{ sec }}"{% endif %} style="vertical-align: middle; text-align: right;">
            {{ a.allocation and '${:0,.2f}'.format(a.allocation) or _('N/A') }}
          </td>
          {#% set e=schedule_entries.get(a.period) %#}
          {% if sec %}
            {% for e in schedule %}
              {% if loop.index0 %}<tr>{% endif %}
              <td style="vertical-align: middle;">
                {{ e and e.type and e.get_type_display() or _('N/A') }}
              </td>
              <td>
                {{ e and e.due_date or _('N/A') }}
              </td>
              {% if loop.index0 %}</tr>{% endif %}
            {% endfor %}
          {% else %}
            <td>&nbsp;</td><td>&nbsp;</td>
          {% endif %}
        </tr>
      {% endfor %}
      <tr>
        <td><strong>{{ _("Total") }}</strong>:</td>
        <td style="vertical-align: middle; text-align: right;">
            ${{ '{:0,.2f}'.format(c.total_allocation) }}
        </td>
        <td>&nbsp;</td><td>&nbsp;</td>
      </tr>
    </tbody>
  </table>

</div>
