{% set c=contract %}
{% set a=c.application %}
{% set application_number=a.number %}
<div class="table-responsive">
  <table class="table table-bordered searchable">
    <tbody>

      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Application Number') }}
        </th>
        <td>
          <a href="{{ url('application-detail', number=application_number) }}" target="_blank">{{ application_number }}</a>
        </td>
      </tr>

      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Type') }}
        </th>
        <td>
          TODO: Visit
        </td>
      </tr>

      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Organisation') }} / {{ _('Source') }}
        </th>
        <td>
            {% if c.org %}
                {% if request.user.is_superuser %}
                  <a href="{{ url('admin:portal_organisation_change', object_id=c.org_id) }}" target="_blank">{{ c.org }}</a>
                {% else %}
                  {{ c.org }}
                {% endif %}
            {% else %}
                {{ _('N/A') }}
            {% endif %}
        </td>
      </tr>

      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Panel') }}
        </th>
        <td>
          {{ c.panel or _('N/A') }}
        </td>
      </tr>

      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Fund') }}
        </th>
        <td>
          {{ c.fund or _('N/A') }}
        </td>
      </tr>

      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Project Title') }}
        </th>
        <td>
          {{ c.project_title or a.application_title or a.round.name }}
        </td>
      </tr>

      {% if c.address %}
      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Address') }}
        </th>
        <td>
          {{ c.address|safe }}
        </td>
      </tr>
      {% endif %}


    </tbody>
  </table>

  <table class="table">
    <tr>
      <td>{{ _('Contract starts') }}: {{ c.start_date or '-'}} </td>
      <td>{{ _('Contract ends') }}: {{ c.end_date or '-' }} </td>
    </tr>
  </table>

  <table class="table table-bordered searchable table-striped">
    <thead>
      <tr class="thead-dark">
        <th scope="col">
          {{ _('Part') }}
        </th>
        <th scope="col">
          {{ _('Organisation Status') }}
        </th>
        <th scope="col">
          {{ _('Society Status') }}
        </th>
      </tr>

    </thead>
    <tbody>
      {% for rd in c.get_required_documents().all() %}
        {% for d in rd.documents.all() %}
          <tr>
            <td>{{ rd }}</td>
            <td>{% if d.state == 'approved' or d.state == 'accepted' %}{{ _('Approved') }}{% else %}{{ _('WIP') }}{% endif %}</td>
          <td>{% if d.state == 'accepted' %}{{ _('Approved') }}{% elif d.state == 'draft' %}{{ _('Awaiting Submission') }}{% else %}{{ _('To Review') }}{% endif %}</td>
          </tr>
        {% else %}
          <td>{{ rd }}</td>
          <td>-</td>
          <td>-</td>
        {% endfor %}
      {% endfor %}
      <!-- tr>
        <td>Aims</td><td>Approved</td><td>Approved</td>
      </tr>
      <tr>
        <td>Timeline</td><td>Approved</td><td>Approved</td>
      </tr><tr>
        <td>Budget</td><td>Approved</td><td>To Review</td>
      </tr><tr>
        <td>Declaration</td><td>Approved</td><td>Approved</td>
      </tr><tr>
        <td>Compliance</td><td>Approved</td><td>Approved</td>
      </tr -->
    </tbody>
  </table>
  <table class="table table-bordered searchable table-striped">
    <thead>
      <tr class="thead-dark">
        <th scope="col" colspan="2">
          {{ _('Funding') }}
        </th>
        <th scope="col" colspan="2">
          {{ _('Reporting Due') }}
        </th>
      </tr>

    </thead>
    <tbody>
      {% for a in c.allocations.order_by("period") %}
        <tr>
          {% set schedule=c.reporting_schedule.filter(period=a.period).order_by("due_date") %}
          {% set sec=schedule.count() %}
          <td{% if sec %} rowspan="{{ sec }}"{% endif %} style="vertical-align: middle;">{{ _("Year") }} {{ a.period }}:</td>
          <td{% if sec %} rowspan="{{ sec }}"{% endif %} style="vertical-align: middle;">{{ a.allocation }}</td>
          {#% set e=schedule_entries.get(a.period) %#}
          {% if sec %}
            {% for e in schedule %}
              {% if loop.index0 %}<tr>{% endif %}
              <td style="vertical-align: middle;">
                {{ e and e.type and e.get_type_display() or _('N/A') }}
              </td>
              <td>
                {{ e and e.due_date or _('N/A') }}
              </td>
              {% if loop.index0 %}</tr>{% endif %}
            {% endfor %}
          {% else %}
            <td>&nbsp;</td><td>&nbsp;</td>
          {% endif %}
        </tr>
      {% endfor %}
      <tr>
        <td>{{ _("Total") }}:</td>
        <td style="vertical-align: middle;">{{ '%0.2f' % c.total_allocation }}</td>
        <td>&nbsp;</td><td>&nbsp;</td>
      </tr>
    </tbody>
  </table>

</div>
