{% if disabled_tooltip_text %}
<span
    tabindex="0"
    class="d-inline-block"
    data-toggle="tooltip"
    title="{{ disabled_tooltip_text }}">
{% endif %}
<input
    type="submit"
    name="{{ action }}"
    value="{{ button_label }}"
    class="btn btn-primary"
    id="id_{{ form.prefix }}_{{ action }}_part"
    data-document-action="{{ action }}"
    data-document-type="{{ required_document.document_type.pk }}"
    data-document-role="{{ document_role or required_document.document_type.role }}"
    data-required-document="{{ rd_id }}"
    data-enabled-title="{{ enabled_tooltip_text }}"
    {% if disabled_tooltip_text %}data-disabled-title="{{ disabled_tooltip_text }}"{% endif %}
    data-toggle="tooltip"
    title="{{ enabled_tooltip_text }}"
    {% if disabled_tooltip_text %}disabled style="pointer-events: none;"{% endif %}>
{% if disabled_tooltip_text %}</span>{% endif %}
