<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{ round.title }}</title>
        <meta charset="utf-8" />
    </head>

    <body class="body" style="background-color:#f6f6f6">

        <table class="table table-bordered searchable table-striped">
            <thead>
                <th>{% trans %}Document{% endtrans %}</th>
                <th>{% trans %}Optional{% endtrans %}</th>
                <th>{% trans %}Templates{% endtrans %}</th>
            </thead>

            <tbody>

                {#% if round.opens_on %}
                <tr>
                    <th style="width: 32%; min-width: 180px; max-width: 200px;">
                        Period Starts On
                    </th>
                    <td colspan="2">
                        {{ round.opens_on.strftime('%d-%m-%Y') }}
                    </td>
                </tr>
                {% endif %}

                {% if round.closes_at %}
                <tr>
                    <th style="width: 32%; min-width: 180px; max-width: 200px;">
                        Ends On
                    </th>
                    <td colspan="2">
                        {{ round.closes_at.strftime('%d-%m-%Y') }}
                    </td>
                </tr>
                {% endif %#}

                {% for d in required_documents %}
                <tr>
                    <td>
                        {{ d }}
                    </td>
                    <td style="text-align: center;">
                        {% if d.is_optional %}<i class="fa fa-check text-success text-center"></i>{% endif %}
                    </td>
                    <td>
                        <ul>
                            {% for t in templates.get(d.document_type, []) %}
                            <li><a href="{{ t.file.url }}" target="_blank">{{ t.file.path|basename }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
                {% if round.referee_template %}
                <tr>
                    <td>
                        {{ _("Referee Report") }}
                    </td>
                    <td style="text-align: center;"></td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ round.referee_template.url }}" target="_blank">
                                    {{ round.referee_template.path|basename }}
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endif %}

                {% if round.member_letter_of_support_required or round.member_cv_required %}
                  <tr>
                    <td colspan="3">
                      {% if round.member_letter_of_support_required and round.member_cv_required %}
                          Please note that CVs and host support letters are required and uploaded by the Principal Investigator
                          and all Team Members upon acceptance of the nomination/invitation. Only the support letter of the PI’s
                          organisation is uploaded separately as part of the application documents.
                      {% elif round.member_letter_of_support_required %}
                          Please note that host support letters are required and uploaded by the Principal Investigator
                          and all Team Members upon acceptance of the nomination/invitation. Only the support letter of the PI’s
                          organisation is uploaded separately as part of the application documents.
                      {% else %}
                          Please note that CVs are required and uploaded by the Principal Investigator
                          and all Team Members upon acceptance of the nomination/invitation.
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}

            </tbody>
        </table>


    </body>

</html>
