<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ t }} Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site_name }}">
    <meta name="author" content="Royal Society Te Apārangi">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>

      <style>
table.table .asteriskField,.popover-header {color: gray;}
.modelselect2multiple {height: auto !important;}
.jumbotron {padding: 2rem 2rem;}
/* .tooltip-inner #gravatar-tooltip {text-align: left; white-space: nowrap;} */
.tooltip-inner {max-width: 300px;}
.popover {max-width: 400px;}
.custom-file-label::after {content: "{{ _('Browse') }}";}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
      </style>

</head>
<!-- body class="d-flex flex-column min-vh-100" -->
<body class="d-flex flex-column min-vh-100">

{% block content %}
  <pre>
  {{ group_sql }}
  {{ question_sql }}
  {{ answer_sql }}
  </pre>

    <!-- tr>
      {% for h in headers %}
        <th>{{ h }}</th>
      {% endfor %}
    </tr -->

  {% for g in groups %}
    {% if not exclude_scores %}
      <table style="width: 100.0%">
        <tr>
            <h1 style="text-align: center;">{{ g.group_name|safe }}</h1>
            <h2 style="text-align: center;">{{ referee }}</h2>
        </tr>
        <tr>
          <td>{{ g.description|safe }}</td>
        </tr>
      </table>
    {% else %}
      <h1 style="text-align: center;">{{ g.group_name|safe }}</h1>
      <h2 style="text-align: center;">{{ referee }}</h2>
    {% endif %}

    {% if g.questions %}
      <table style="width: 100.0%" >
        <!-- tr>
          {% for h in headers %}
            <th>{{ h }}</th>
          {% endfor %}
        </tr -->
      {% for q in g.questions %}
        <tbody>
        {% if q.type == 'F' %}
          <tr>
            {% if response %}
              <td colspan="5" style="background: lightgray;">{{ q.question|safe }}</td>
              <td>{{ response[q.qid]|safe }}</td>
            {% else %}
              <td colspan="6" style="background: lightgray;">{{ q.question|safe }}</td>
            {% endif %}
            {#% for h in headers %}
              <td>{{ q[h]|safe }}</td>
            {% endfor %#}
            <!-- td>{{ q.sid }}</td>
            <td>{{ q.gid }}</td>
            <td>{{ q.qid }}</td>
            <td>{{ q.question|safe }}</td -->
          </tr>
        {% else %}
          <tr>
            <td colspan="6" style="background: lightgray;">{{ q.question|safe }}</td>
          </tr>
          {% if response %}
            <tr>
              <td colspan="6">{{ response[q.qid]|safe }}</td>
            </tr>
          {% endif %}
        {% endif %}
      {% endfor %}
      </tbody>
      </table>
    {% endif %}
  {% endfor %}

{% endblock %}

  </body>
</html>

{# vim:set ft=jinja: #}
