{% extends "portal/table_inline_formset.html" %}
{% load i18n %}

{% block table_footer %}
<tfoot>
  <tr>
    <td style="text-align: right; vertical-align: middle;"><strong>{% trans 'Total:' %}</strong></td>
    <td><span class="rcorners" style="text-align: right;" id="id_{{ formset.prefix }}_total">0</span></td>
  </tr>
</tfoot>
<script>

  //$( "#{{ formset.prefix }}_table input[name$='share']")
  {% if formset.instance and formset.instance.pk %}
      // var duration = {{ formset.instance.duration }};
      var awarded_amount = {{ formset.instance.awarded_amount }};
  {% endif %}

  function totalShares_{{ formset.prefix }}() {
    var sum = 0;
    $("#{{ formset.prefix }}_table input[name$='allocation']").each(function() {
      sum += Number($(this).val());
    });
    return sum;
  };
  function updateTotal_{{ formset.prefix }}() {
    var total = totalShares_{{ formset.prefix }}();
    $("#id_{{ formset.prefix }}_total").text(total.toFixed(2));
    {% if formset.instance and formset.instance.pk %}
      if (total > awarded_amount) $("#id_{{ formset.prefix }}_total").css({"color": "red", 'font-weight': "bold"});
      else $("#id_{{ formset.prefix }}_total").css({"color": "green", 'font-weight': "bold"});
    {% endif %}
  };
  $(document).ready(function() {
      //set initial state.
      // if ($('#id_is_vm_na').is(':checked')) { $('#id_vm_na').show() } else { $('#id_vm_na').hide() };
      // $("#id_{{ formset.prefix }}_total_share").text(totalShares_{{ formset.prefix }}());
      updateTotal_{{ formset.prefix}}();
      $("input[name^='{{ formset.prefix }}-'][name$='allocation']").keyup(updateTotal_{{ formset.prefix}});
      // $("#submit-id-submit").prependEvent("click", function(e) {
      /*
      $("#submit-id-submit").on("click", function(e) {
        var total = totalShares_{{ formset.prefix }}();
        if (total==100) return;
        e.preventDefault();  // need for a link
        var tab_pane = $("#{{ formset.prefix }}_table").parents(".tab-pane");
        if (tab_pane) {
          var id=tab_pane.attr("id");
          $('.nav a[href="#'+id+'"]').tab('show');
        };
        var message=$("#{{ formset.prefix }}_table").closest("fieldset").children("legend").first().text()
          + ": {% trans 'the share values do not add up to 100%! Please correct the values and resubmit.' %}";
        var msg_el = $("#messages");
        if (msg_el.length) {
          msg_el.append(
            $('<div class="alert alert-danger">'
              +message
              +'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
          )
          var scrollPos=$("#messages").offset().top; $(window).scrollTop(scrollPos);
        } else bootbox.alert(message);
        return false;
      });
      */
  });
</script>
{% endblock table_footer %}
