{% extends "form.html" %}
{% load crispy_forms_tags static i18n django_bootstrap_breadcrumbs %}

{% block head_title %}{{ object }}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' with category="applications" %}{% endblock sidebar %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Applications" "applications" %}
  {% if object.state == "draft" or object.state == "new" %}
    {% breadcrumb "Draft" "applications-draft" %}
  {% elif object.state == "submitted" %}
    {% breadcrumb "Submitted" "applications-submitted" %}
  {% endif %}
  {% if object %}
    {% breadcrumb object "application-update" object.pk %}
  {% elif round %}
    {% breadcrumb round "applications-submitted" %}
  {% endif %}
{% endblock %}

{% block content %}

      <h1>
        {% if object.number %}{{ object.number }}: {% endif %}
        {% if object.application_title %}
          {{ object.application_title|title }}
        {% elif object.round %}
          {{ object.round.title|title }}
        {% else %}
          {{ round.title|title }}
        {% endif %}
      </h1>

      <form method="post" enctype="multipart/form-data" id="application-form">
        {% crispy form form.helper %}
        {% if inlines %}
          <hr />
          {% for formset in inlines %}
            {% if helper %}
              {% crispy formset helper %}
            {% elif formset.helper %}
              {% crispy formset formset.helper %}
            {% else %}
              {% crispy formset %}
            {% endif %}
          {% endfor %}
        {% endif %}

      </form>

      <!-- /div>
        </div>
        </div -->
        <div class="alert alert-primary" role="alert" id="wait-message" style="display:none;">
          <img src="{% static 'images/spinner.png' %}" />
          {% trans 'We are processing your request. Please be patient.' %}
        </div>

      {% endblock %}

      {% block javascript %}
        {{ block.super }}
        {#{ form.media.js }#}
        <!-- JS -->
        <script>
          {% if SITE_ID != 5 %}
            function activateRefereeTab() {
              $("#submit-id-save_draft").val("{% trans 'Save and send new invitation(s)' %}");
              $("#submit-id-save_draft").attr("name", "send_invitations");
              $("#submit-id-submit,#submit-id-submit_to_referees,#cancel").hide();
            };
          {% endif %}
          $(document).ready(function() {
                      {% if not update_only_referees %}
                        $("#submit-id-submit").click(function(e) {
                          $("input[data-required='1']").not("[name*='__prefix__']").not("[type='file']").each(function() {
                            var $t = $(this);
                            $t.attr({
                              "required": $t.attr("data-required")
                            }); // .removeAttr('required');
                          });
                          // type='file' requires a different appraoch
                          $("input[data-required='1']").not("[name*='__prefix__']").filter("[type='file']").each(function() {
                            var $t = $(this);
                            if (!$t.closest("div.form-group").find("span > a").length) {
                              $t.attr({
                                "required": $t.attr("data-required")
                              }); // .removeAttr('required');
                            }
                          });
                          {% if round.has_toas %}
                            var total = totalToaShares();
                            if (total!=100) {
                              var has_invalid_fields = $("input:invalid,textarea:invalid").length;
                              if (!has_invalid_fields) e.preventDefault();  // need for a link
                              $('.nav a[href="#categories"]').tab('show');
                              var message="{% trans 'Type of Activities: the share values do not add up to 100%! Please correct the values and resubmit.' %}";
                              var msg_el = $("#messages");
                              if (msg_el.length) {
                                msg_el.append(
                                  $('<div class="alert alert-danger">'
                                    +message
                                    +'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
                                )
                                var scrollPos=$("#messages").offset().top; $(window).scrollTop(scrollPos);
                              } else bootbox.alert(message);
                              if (!has_invalid_fields) return false;
                            }
                          {% endif %}
                        });
                        $("#submit-id-save_draft").click(function(e) {
                          $("input[data-required][required]").each(function() {
                            this.required = false;
                            this.invalid = false;
                            this.removeAttribute("required");
                            $(this).removeAttr('required');
                          });
                          if (!$("input:invalid[required]").length) $("#submit-id-save_draft").attr("formnovalidate","formnovalidate");
                        });
                      {% endif %}
                      $("#submit-id-save_draft,#submit-id-submit").click(function(e) {
                        formset_set_inputs(prefix="members");
                        formset_set_inputs(prefix="referees");
                        if (!is_email_list_unique(
                              prefix="members",
                              message_template=email => `{% trans 'One or more team memeber email address entered twice: ${email}. Please amend the list.' %}`)) {
                          e.preventDefault();  // need for a link
                          return false;
                        };
                        if (!is_email_list_unique(
                              prefix="referees",
                              message_template=email => `{% trans 'One or more referee email address entered twice: ${email}. Please amend the list.' %}`)) {
                          e.preventDefault();  // need for a link
                          return false;
                        };
                        return true;
                      });
                                {% if not form.is_team_application.value %}$("#members").hide();{% endif %}
                                $('#id_is_team_application').change(function() {
                                  if (!($(this).prop('checked'))) {
                                    $("#members").hide();
                                    $("#submitter legend").text("{% trans 'Individual applicant' %}");
                                    $("a[href='#applicant']").text("{% trans 'Applicant' %}");
                                  } else {
                                    $("#members").show()
                                    $("#submitter legend").text("{% trans 'Team representative' %}");
                                    $("a[href='#applicant']").text("{% trans 'Team' %}");
                                  };
                                });
                                $('#id_et-not_relevant').change(function() {
                                            if ($(this).is(':checked')) {
                                              document.getElementById("id_et-comment").setAttribute("required", "true");
                                              document.getElementById("id_et-comment").setAttribute(
                                                          "oninvalid",
                                                          "this.setCustomValidity('{% trans 'If not relevant, please comment. For example, the work in this application did not involve people or animals.' %}')"
                                                        );
                                              document.getElementById("id_et-comment").setAttribute("oninput", "this.setCustomValidity('')");
                                              $("label[for='id_et-comment']").append('<span class="asteriskField">*</span>');
                                            } else {
                                              document.getElementById("id_et-comment").removeAttribute("required");
                                              document.getElementById("id_et-comment").removeAttribute("oninput");
                                              document.getElementById("id_et-comment").removeAttribute("oninvalid");
                                              $("label[for='id_et-comment']").children().remove();
                                            }
                                          });
                                {% if not form.is_bilingual.value %}
                                  $("#div_id_summary_en").hide();
                                  $("#div_id_summary_mi").hide();
                                  $("#div_id_application_title_en").hide();
                                  $("#div_id_application_title_mi").hide();
                                {% endif %}
                                $('#id_is_bilingual').change(function() {
                                            if (!($(this).prop('checked'))) {
                                                        $("#div_id_summary_en").hide();
                                                        $("#div_id_summary_mi").hide();
                                                        $("#div_id_application_title_en").hide();
                                                        $("#div_id_application_title_mi").hide();
                                                      } else {
                                                                  $("#div_id_summary_en").show()
                                                                  $("#div_id_summary_mi").show()
                                                                  $("#div_id_application_title_en").show();
                                                                  $("#div_id_application_title_mi").show();
                                                                };
                                          });
                                $("#application-form").on("submit", function(e) {
                                    if (this.checkValidity()) {
                                        $.blockUI({
                                          message: $('#wait-message'),
                                          css: {
                                                      backgroundColor: '#0000',
                                                      color: '#0fff',
                                                      border: '0px',
                                                    }
                                      });
                                    }
                                });
                                // Focus on the first tab with invalid input:
                                $('#submit-id-save_draft,#submit-id-submit').click(function () {
                                    $('input:invalid,textarea:invalid').each(function () {
                                      // Find the tab-pane that this element is inside, and get the id
                                      var $closest = $(this).closest('.tab-pane');
                                      var id = $closest.attr('id');

                                      // Find the link that corresponds to the pane and have it show
                                      $('.nav a[href="#' + id + '"]').tab('show');

                                      // Only want to do it once
                                      return false;
                                    });
                                    /* if (this.form.checkValidity()) {
                                                  $.blockUI({
                                                    message: $('#wait-message'),
                                                    css: {
                                                                backgroundColor: '#0000',
                                                                color: '#0fff',
                                                                border: '0px',
                                                              }
                                                });
                                              } */
                                });
      {% block activate_form_tab %}
                                // Select form tab
                                {% if update_only_referees %}
                                  $('.nav a[href="#referees"]').tab('show');
                                {% elif form.errors.letter_of_support_file %}
                                  $('.nav a[href="#summary"]').tab('show');
                                {% elif "verification" in request.GET %}
                                  $('.nav a[href="#id-verification"]').tab('show');
                                {% elif "referees" in request.GET %}
                                  $('.nav a[href="#referees"]').tab('show');{% if SITE_ID != 5 %} activateRefereeTab();{% endif %}
                                {% elif "summary" in request.GET %}
                                  $('.nav a[href="#summary"]').tab('show');
                                {% else %}
                                  // Jump to the last active tab:
                                  if (location.hash) {
                                      if (location.hash != "#members") $('.nav a[href="' + location.hash + '"]').tab('show');
                                      {% if SITE_ID != 5 %}if (location.hash == "#referees") activateRefereeTab();{% endif %}
                                  };
                                  if (!location.hash || location.hash == "#applicant") {
                                    $("#button-id-previous").hide();
                                  } else if (location.hash.endsWith($(".tab-pane").last().attr('id'))) {
                                    $("#button-id-next").hide();
                                  }
                                {% endif %}
      {% endblock activate_form_tab %}

                                /* $("#div_id_title").parent().css("min-width", "4rem");
                                   $("#id_title").parent().css({"padding-left":"1px", "padding-right":"1px"}); */
                                {% if SITE_ID != 5 %}
                                  $('a[data-toggle="tab"][href="#referees"]').on('show.bs.tab', activateRefereeTab);
                                  $('a[data-toggle="tab"][href="#referees"]').on('hide.bs.tab', function (e) {
                                    $("#submit-id-save_draft").val("{% trans 'Save' %}");
                                    $("#submit-id-save_draft").attr("name", "save_draft");
                                    $("#submit-id-submit,#submit-id-submit_to_referees,#cancel").show();
                                  });
                                {% endif %}
            {% if update_only_referees  %}
              $("#applicant,#categories,#summary,#id-verification,#ethics-statement,#tac").find("input,textarea,button,select").prop({
                readonly: true,
                disabled: true
              });
              $("#id_summary,#id_summary_en,#id_summary_mi").summernote("disable");
            {% endif %}
          });
        </script>
      {% endblock %}
{# vim:set ft=htmldjango: #}
