{% extends 'detail.html' %}
{% load i18n cache crispy_forms_tags tags django_bootstrap_breadcrumbs %}
{#% cache 180 application object.pk user.pk %#}
{% block sidebar %}{% include 'sidebar.html' with category="applications" %}{% endblock sidebar %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Applications" "applications" %}
{% if object.state == "draft" or object.state == "new" %}
{% breadcrumb "Draft" "applications-draft" %}
{% elif object.state == "submitted" %}
{% breadcrumb "Submitted" "applications-submitted" %}
{% endif %}
{% breadcrumb object.number "application" object.pk %}
{% endblock %}

{% if form %}
{% block css %}
{{ form.media.css }}
{{ block.super }}
{% endblock %}
{% endif %}

{% block buttons_above %}
{% block buttons_bellow %}

<div class="row">
  <div class="col-12">

{% with a=object u=request.user r=object.round application=object round=application.round pi=object.pi org=object.org %}
<form method="post" class="action-form">
  {% csrf_token %}
  <input type="hidden" name="action" id="id_action">
  <div class="buttonHolder mb-5 mt-3 float-right">

    {% if can_reenter %}
    <a href="{% url 'application-create' round=current_round.id %}?previous={{a.id}}"
       class="btn btn-primary"
       data-toggle="tooltip"
       data-title="{% trans 'You can re-enter the current round with the application as a new application.' %}"
       >{% trans 'Re-enter' %}
    </a>
      {% else %}
      <div class="tooltip-wrapper{% if not can_update %} disabled{% endif %}"
           {% if update_tooltip %}
           disabled
           title="{{ update_tooltip }}"
           {% elif can_only_update_referees and SITE_ID != 1 and SITE_ID != 7 %}
           title="{% trans 'You can only update the referee list' %}"
           {% elif not is_owner %}
           disabled
           title="{% trans 'Only the main applicant or a team member can edit the application' %}"
           {% elif not can_update or SITE_ID != 1 and SITE_ID != 7 and a.state == "submitted" %}
           disabled
           title="{% trans 'The application has been already submitted and cannot be modified' %}"
           {% comment %}
           {% elif not a.round.is_open %}
           disabled
           data-title="{% trans 'The application period has closed. You can no longer modify this application.' %}"
              class="btn btn-primary{% if not is_owner or was_submitted or not a.round.is_open %} disabled{% endif %}"
           {% endcomment %}
           {% elif is_owner and not is_ro and a.state == "submitted" or is_owner and not is_ro and a.state == "in_review" %}
           title="{% trans 'Modify the referee list' %}"
           {% elif not is_ro %}
           title="{% trans 'Modify your application and continue application process' %}"
           {% else %}
           title="{% trans 'Modify the application and continue application process' %}"
           {% endif %}
          >
           <a href="{% url update_view_name pk=a.pk %}"
              class="btn btn-primary{% if not is_owner or not can_update %} disabled{% endif %}"
              >{% if can_only_update_referees and SITE_ID != 1 and SITE_ID != 7 %}{% trans 'Update Referee List' %}{% else %}{% trans update_button_name %}{% endif %}
           </a>
      </div>
        {% endif %}

        {% if export_button_view_name %}
          <div class="tooltip-wrapper{% if show_basic_details and not export_enabled %} disabled{% endif %}"
            {% if show_basic_details and not export_enabled %}
            disabled
            data-title="{% trans 'Only the applicants and the panellists that submitted a statement of conflict of interest can export the application' %}"
            {% else %}
            data-title="{% trans 'Export the application into a consolidated PDF file' %}"
            {% endif %}
          >
          <a class="btn btn-primary{% if show_basic_details and not export_enabled %} disabled{% endif %}" href="{{ a.export_url }}{% if for_panellists %}?for_panellists={{ for_panellists }}{% endif %}" target="_blank">
              {% trans 'Export' %}
            </a>
          </div>
          {% if user.is_admin %}
            <div class="tooltip-wrapper{% if show_basic_details and not export_enabled %} disabled{% endif %}"
              {% if show_basic_details and not export_enabled %}
              disabled
              title="{% trans 'Only the applicants and the panellists that submitted a statement of conflict of interest can export the application' %}"
              {% else %}
              title="{% trans 'Export the application for the panellists into a consolidated PDF file' %}"
              {% endif %}
              data-toggle="toggle"
            >
            <a class="btn btn-primary{% if show_basic_details and not export_enabled %} disabled{% endif %}" href="{{ a.export_url }}?for_panellists=1" target="_blank">
                {% trans 'For Panellists' %}
              </a>
            </div>
          {% endif %}
        {% endif %}
        {% if testimonial or referee   %}
          {% if testimonial %}<input type="hidden" name="testimonial_id" value="{{ testimonial.pk }}"> {% endif %}
          {% if referee  %}<input type="hidden" name="referee_id" value="{{ referee.pk }}">{% endif %}
        <div class="tooltip-wrapper{% if not can_decline %} disabled{% endif %}"
             {% if not can_decline %}
             disabled
             title="{% trans 'The testimonial/referee report has been already submitted or declined' %}"
             {% elif testimonial.state == "submitted" %}
             disabled
             title="{% trans 'The testimonial/referee report was already submitted and cannot be updated' %}"
             {% else %}
             title="{% if SITE_ID == 5 or SITE_ID == 4 or SITE_ID == 2 %}{% trans 'Decline to provid a referee report' %}{% else %}{% trans 'Decline to provid a testimonial' %}{% endif %}"
             {% endif %}
             data-tooltip="tooltip"
          >
            <button type="button"
              name="turn_down"
              class="btn btn-outline-danger{% if not can_decline %} disabled{% endif %}"
              data-toggle="modal"
              data-action="turn_down"
              data-target="#id_resolution_modal"
              {% if not can_decline %}disabled{% endif %}
            >
              {% if SITE_ID == 5 or SITE_ID == 4 or SITE_ID == 2 %}
                {% trans 'I do not wish to provide a report' %}
              {% else %}
                {% trans 'I do not wish to provide a testimonial' %}
              {% endif %}
            </button>
        </div>

        {% if referee.survey_token_id or referee.survey_token_id or testimonial.referee.survey_token_id or testimonial.referee.survey_token_id %}
        <div class="tooltip-wrapper{% if testimonial.state == "submitted" or referee.survey_completed_at %} disabled{% endif %}"
             {% if referee.survey_completed_at %}
             disabled
             data-title="{% trans 'The referee report has been already submitted or declined' %}"
             {% elif testimonial.state == "submitted" %}
             disabled
             data-title="{% trans 'The testimonial was already submitted and cannot be updated' %}"
             {% else %}
             data-title="{% trans 'Submit the referee report' %}"
             {% endif %}
             >
             <a class="btn btn-outline-primary{% if testimonial.state == "submitted" or referee.survey_completed_at or reviewing_disabled or reviewing_closed %} disabled{% endif %}"
                href="{% if referee %}{% url 'survey-referee' referee_id=referee.pk %}{% else %}{% url 'survey-referee' referee_id=testimonial.referee_id %}{% endif %}">
               {% if SITE_ID == 5 %}
                {% blocktrans %}Progress to <strong>Referee Report</strong>{% endblocktrans %}
               {% else %}
                {% trans 'Complete' %} <strong>{% trans 'Referee Report' %}</strong>
               {% endif %}
             </a>
        </div>
        {% else %}

        <div class="tooltip-wrapper{% if testimonial.state == "submitted" or reviewing_disabled or reviewing_closed %} disabled{% endif %}"
             {% if testimonial.state == "submitted" %}
             disabled
             data-title="{% trans 'The testimonial was already submitted and cannot be updated' %}"
             {% elif reviewing_disabled %}
             disabled
             data-title="{% trans 'The application reviewing will be open after the application submission is closed.' %}"
             {% elif reviewing_closed %}
             disabled
             data-title="{% trans 'The application reviewing has been closed.' %}"
             {% else %}
             data-title="{% trans 'Update and submit the testimonial' %}"
             {% endif %}
             >
             <a class="btn btn-outline-primary{% if testimonial.state == "submitted" or reviewing_disabled or reviewing_closed %} disabled{% endif %}"
                href="{% if testimonial %}{% url 'testimonial-update' pk=testimonial.pk %}{% else %}{% url 'application-review-create' application=referee.application_id %}{% endif %}">
               {% if SITE_ID == 5 %}
                {% blocktrans %}Progress to <strong>Referee Report</strong>{% endblocktrans %}
               {% else %}
                {% if testimonial and testimonial.file %}
                {% trans 'Update' %}
                {% else %}
                {% trans 'Submit' %}
                {% endif %}
                <strong>{% trans 'Testimonial' %}</strong>
              {% endif %}
            </a>
        </div>

        {% endif %}
        {% endif %}

        {% if is_panellist %}

        <div class="tooltip-wrapper{% if has_coi or evaluation.state == 'submitted' or not was_submitted %} disabled{% endif %}"
             {% if has_coi %}
             disabled
             data-title="{% trans 'You have not submitted the statement of conflict of interest.' %}"
             {% elif evaluation.state == 'submitted' %}
             disabled
             data-title="{% trans 'The evaluation has been already submitted and cannot be updated' %}"
             {% elif not was_submitted %}
             disabled
             data-title="{% trans 'The application has not been submitted yet' %}"
             {% else %}
             data-title="{% trans 'Modify your evaluation of the application' %}"
             {% endif %}
             >
             <a
                 {% if r.has_online_scoring %}
                 {% if evaluation %}
                 href="{% url 'application-evaluation' pk=a.pk %}"
                 {% elif not evaluation and not has_coi %}
                 href="{% url 'application-evaluation-create' application=a.pk %}"
                 {% else %}
                 {#href="{% url 'coi-create' application_id=a.pk %}"#}
                 href="{% url 'round-coi' round=a.round_id %}"
                 {% endif %}
                 {% else %}
                 {% if evaluation or not coi %}
                 href="{% url 'score-sheet' round=a.round_id %}"
                 {% else %}
                 href="{% url 'round-coi' round=a.round_id %}"
                 {% endif %}
                 {% endif %}
                 class="btn btn-primary{% if has_coi or evaluation.state == 'submitted' or not was_submitted %} disabled{% endif %}"
                 > {% trans "Evaluate Application" %} </a>
        </div>

          <div class="tooltip-wrapper{% if evaluation.state == 'submitted' or not was_submitted %} disabled{% endif %}"
               {% if evaluation.state == 'submitted' %}
               disabled
               data-title="{% trans 'The evaluation has been already submitted and the statement of the conflict of interest cannot be changed' %}"
               {% elif not was_submitted %}
               disabled
               data-title="{% trans 'The application has not been submitted yet' %}"
               {% else %}
               data-title="{% trans 'Submit the statement of the conflict of interest' %}"
               {% endif %}
               >
               <a
                   {% if r.has_online_scoring %}
                   href="{% url 'round-application-review' round_id=a.round_id application_id=a.pk %}"
                   {% else %}
                   href="{% url 'round-coi' round=a.round_id %}"
                   {% endif %}
                   class="btn btn-primary{% if evaluation.state == 'submitted' or not was_submitted %} disabled{% endif %}"
                   > {% trans "Conflict of Interest" %} </a>
          </div>

            {% endif %}


            {% if is_ro %}
              {% include 'snippets/resolution_modal.html' with application=object round=object.round pi=object.pi org=object.org %}

            <span class="d-inline-block"
                  tabindex="0"
                  data-toggle="tooltip"
                  {% if a.state == "cancelled" %}title="{% trans 'Application had been already cancelled' %}"
                  {% elif a.state == "approved" %}title="{% trans 'Application had been already approved' %}"
                  {% elif a.state == "accepted" %}title="{% trans 'Application has been accepted by the administrators' %}"
                  {% elif a.state == "in_review" %}title="{% trans 'Application has been sent out for reviewing by the referees' %}"
                  {% elif a.state == "funded" %}title="{% trans 'Application had been already marked as funded' %}"
                  {% elif a.state != "submitted" and a.state != "draft" %}title="{% trans 'Application had not yet been submitted' %}"
                  {% else %}title="{% trans 'Cancel and withdraw the application' %}"
                  {% endif %}
                  >
                  <input type="submit"
                         class="btn btn-outline-danger"
                         {% if a.state != "submitted" and a.state != "draft" %} disabled style="pointer-events: none;"
                         {% else %}data-toggle="modal" data-target="#id_resolution_modal"
                         {% endif %} name="cancel" value="{% trans 'Withdraw' %}">
          </span>
            <span class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              {% if a.state == "cancelled" %}title="{% trans 'Application had been already cancelled' %}"
              {% elif a.state == "approved" %}title="{% trans 'Application had been already approved' %}"
              {% elif a.state == "accepted" %}title="{% trans 'Application has been accepted by the administrators' %}"
              {% elif a.state == "in_review" %}title="{% trans 'Application has been sent out for reviewing by the referees' %}"
              {% elif a.state == "funded" %}title="{% trans 'Application had been already marked as funded' %}"
              {% elif a.state != "submitted" %}title="{% trans 'Application had not yet been submitted' %}"
              {% endif %}
            >
              <input type="submit"
                      class="btn btn-outline-warning"
                      {% if a.state != "submitted"  %} disabled style="pointer-events: none;"
                      {% else %}data-toggle="modal" data-target="#id_resolution_modal"
                      {% endif %}
                      name="request_resubmission"
                      data-action="request_resubmission"
                      value="{% trans 'Request Resubmission' %}">
            </span>
            <!-- Approve -->
            <span class="d-inline-block"
                tabindex="0"
                data-toggle="tooltip"
                {% if a.state == "cancelled" %}title="{% trans 'Application had been already cancelled' %}"
                {% elif a.state == "approved" %}title="{% trans 'Application had been already approved' %}"
                {% elif a.state == "accepted" %}title="{% trans 'Application has been accepted by the administrators' %}"
                {% elif a.state == "in_review" %}title="{% trans 'Application has been sent out for reviewing by the referees' %}"
                {% elif a.state == "funded" %}title="{% trans 'Application had been already marked as funded' %}"
                {% elif a.state != "submitted" %}title="{% trans 'Application had not yet been submitted' %}"
                {% else %}title="{% trans 'Approve the application' %}"
                {% endif %}
            >
                  <input class="btn btn-primary"
                        {% if a.state != "submitted"  %} disabled style="pointer-events: none;" type="submit"
                        {% elif r.agent_declaration %}data-toggle="modal" data-target="#id_agent_declaration_modal" type="submit"
                        {% comment %}
                        {% elif r.agent_declaration %}hx-get="{% url 'application-agent-declaration' %}?pk={{object.pk}}" hx-target="#id_agent_declaration_span" type="button"
                        {% endcomment %}
                        {% else %}data-toggle="modal" data-target="#id_resolution_modal" type="submit"
                        {% endif %} name="approve" value="{% trans 'Approve' %}"
                        data-action="approve"
                  >
                  <!-- button type="button" class="btn btn-primary"
                    {% if a.state != "submitted"  %} disabled  style="pointer-events: none;"
                    {% else %}data-toggle="modal" data-target="#id_resolution_modal"
                    {% endif %}>{% trans 'Approve' %}
                    </button -->
            </span>
      {% elif user.is_admin %}
        {% if a.state == "submitted" or a.state == "approved" %}
            {% include 'snippets/resolution_modal.html' with application=object round=object.round pi=object.pi org=object.org %}
            <!-- Accept: {{ a.state }}  -->
            <span class="d-inline-block"
                tabindex="0"
                data-toggle="tooltip"
                {% if a.state == "submitted" or a.state == "approved" %}title="{% trans 'Accept the application' %}"
                {% elif a.state == "cancelled" %}title="{% trans 'Application had been already cancelled' %}"
                {% elif a.state == "accepted" %}title="{% trans 'Application has been already accepted by the administrators' %}"
                {% elif a.state == "in_review" %}title="{% trans 'Application has been sent out for reviewing by the referees' %}"
                {% elif a.state == "funded" %}title="{% trans 'Application had been already marked as funded' %}"
                {% else %}title="{% trans 'The application cannot be accepted' %}"
                {% endif %}
            >
                  <input class="btn btn-primary"
                    {% if a.state != "submitted" and a.state != "approved" %} disabled style="pointer-events: none;"
                    {% else %}data-toggle="modal" {# data-target="#id_resolution_modal" #}
                    {% endif %} type="submit" name="accept" value="{% trans 'Accept' %}"
                    data-action="accept"
                  >
                  <!-- button type="button" class="btn btn-primary"
                    {% if a.state != "submitted"  %} disabled  style="pointer-events: none;"
                    {% else %}data-toggle="modal" data-target="#id_resolution_modal"
                    {% endif %}>{% trans 'Approve' %}
                    </button -->
            </span>
      {% endif %}
      <a class="btn btn-secondary" href="{{ object.admin_url }}" target="_blank" data-toggle="tooltip" title="Open {{ object|verbose_name }} {{ object }} in Admin...">
          {% trans 'Open in Admin' %}
      </a>
    {% endif %}
  </div>
</form>
{% endwith %}

  </div>
</div>

{% endblock buttons_bellow %}
{% endblock buttons_above %}

{% block object_details_table %}

{% if form %}
  {% if cv_upload_required %}
    <div class="jumbotron">
    {% if SITE_ID == 2 %}
      {% blocktrans %}
        Curriculum Vitae are required from applicants to Fund,
        with the exception of Falling Walls where the CV
        can be obtained from the application shared by Falling Walls Lab Foundation Berlin:
        If in doubt skip this step, and when required a CV will be requested.<br><br>
        For NZ-based researchers, a current CV in the
        <a href="https://www.royalsociety.org.nz/assets/documents/NZ-RST-CV-Template.doc">NZ RST CV Template</a> is preferred.
        All others, please provide a CV in whatever is your preferred format (maximum of 5 pages).
      {% endblocktrans %}
    {% else %}
      {% blocktrans %}
        For NZ-based researchers, a current CV in the
        <a href="https://www.royalsociety.org.nz/assets/documents/NZ-RST-CV-Template.doc">NZ RST CV Template</a> is preferred.
      {% endblocktrans %}
    {% endif %}
    </div>
  {% endif %}

  {% if form.helper %}
      {% if form.helper.form_tag %}
        <form method="post" enctype="multipart/form-data" id="{{ form.helper.form_id|default:'object_form' }}">{% csrf_token %}
          {% block modals %}{% endblock %}
          {% block resolution %}
            {% include 'snippets/resolution_modal.html' %}
          {% endblock %}
          {% crispy form form.helper %}
        </form>
      {% else %}
        {% crispy form form.helper %}
      {% endif %}
  {% else %}
    <form method="post" enctype="multipart/form-data" id="object_form">{% csrf_token %}
      {#% crispy form %#}
      {#{ form|crispy }#}
      {% crispy form %}
      {% if object.pk %}
        <input class="btn btn-primary" type="submit" value="{% trans 'Update' %}">
      {% else %}
        <input class="btn btn-primary" type="submit" value="{% trans 'Create' %}">
      {% endif %}
      <a href="{{ view.get_success_url }}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
    </form>
  {% endif %}

{% endif %}

{% with a=object u=request.user r=object.round application=object round=application.round pi=object.pi org=object.org %}
<div class="table-responsive">
  {% include 'snippets/application_detail_table.html' %}
</div>
{% endwith %}

{% endblock %}

{% block javascript %}
{{ block.super }}
{% if form %}
{{ form.media.js }}
{% endif %}
<script>
  $(document).ready(function(){
    $('.tooltip-wrapper').tooltip(); // .tooltip({position: "bottom"});
    {% if is_ro %}
      htmx.on("htmx:afterSwap", (e) => {
        // Response targeting #dialog => show the modal
        target_id = e.detail.target.id;
        if (target_id == "id_agent_declaration_span") {
           $('#id_agent_declaration_modal').modal('show');
           $("[name='action'],#id_action").val("approve");
           $(this).find("textarea[name='resolution']").focus();
        }
      })
    {% comment %}
      $('#id_resolution_modal,#id_agent_declaration_modal').on('shown.bs.modal', function (e) {
          $(this).find("textarea[name='resolution']").focus();
          // $("#id_resolution").focus();
      });
    {% endcomment %}
      $("input[type='submit']").on("click", function(e) {
        e.preventDefault();
        e.stopPropagation();
        var el = e.target;
        let name =  el.dataset["action"]||$(this).attr("name");
        $("[name='action'],#id_action").val(name);
        $('#id_commit_button').text(el.value||el.outerText||'Commit');
        {% if object.round.agent_declaration %}
        if (name == "approve") {
           $('#id_agent_declaration_modal #id_agent_declaration_submit').text(el.value||el.outerText||'Commit');
           $('#id_agent_declaration_modal').modal({keyboard: true});
        } else $('#id_resolution_modal').modal({keyboard: true});
        {% else %}
          $('#id_resolution_modal').modal({keyboard: true});
        {% endif %}
        return false;
      });
      {% if object.round.agent_declaration %}
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-danger ml-1",
          cancelButton: "btn btn-success"
        },
        buttonsStyling: false
      });
      $("#id_action_form,form.action-form").submit(function(e) {
        if ($(this).find("input[name='action']").val() == "approve" && !$("#id_declaration_accepted_check").is(':checked')) {
          e.preventDefault();
          swalWithBootstrapButtons.fire("{% trans 'Please accept the <strong>Agent Declaration<strong>!' %}");
          return false;
        }
      });
      {% endif %}
    {% endif %}
  });
</script>
{% endblock javascript %}
{#% endcache %#}
{# vim:set ft=htmldjango: #}
