{% extends 'form.html' %}
{% load crispy_forms_tags static i18n django_bootstrap_breadcrumbs %}

{% block title %}{% if object %}{{ object }}{% else %}{{ profile }}{% endif %}{% if section_name %} - {{ section_name }}{% endif %}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' with category="contacts" %}{% endblock sidebar %}
{% block head_title %}{{ object }}{% endblock %}

{% block css %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Contracts" "contract-list" %}
  {% if object.pk %}
    {% breadcrumb object "Contract" "contract-update" object.pk %}
  {% else %}
    {% breadcrumb "New Contract" "contract-create" %}
  {% endif %}
{% endblock %}

{% block content %}

  {% comment %}
  {% endcomment %}

  <form method="post" enctype="multipart/form-data" id="contract-form">
    <input type="hidden" name="required_doc" id="id_required_doc" value="">
    <input type="hidden" name="doc_role" id="id_doc_role" value="">
    <input type="hidden" name="doc_type" id="id_doc_type" value="">
    <input type="hidden" name="doc_action" id="id_doc_action" value="">
    <div class="modal fade" tabindex="-1" role="dialog" id="id_resolution_modal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans 'Resolution or a comment (optional)' %}</h5>
            <!-- button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button -->
          </div>
          <div class="modal-body">

            <div id="div_id_postal_address" class="form-group">
              <!-- label for="id_postal_address" class=" requiredField">{% trans 'Resolution' %}<span class="asteriskField">*</span> </label -->
              <!-- input type="text" name="resolution" maxlength="120" class="textinput textInput form-control" required="" id="id_resolution" -->
              <textarea autofocus name="resolution" id="id_resolution" rows="10" style="width: 100%;" spellcheck="true"></textarea>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="id_confirm_action" onclick='return confirmAction(this);'>{% trans 'Approve' %}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
          </div>
        </div>
      </div>
    </div>

    {% if form.helper %}
      {% crispy form form.helper %}
    {% else %}
      {{ form|crispy }}
    {% endif %}

  </form>

  {% comment %}
  <form method="post">{% csrf_token %}
    {{ form|crispy }}
    {% if object.id %}
    <input class="btn btn-primary" type="submit" name="update" value="{% trans 'Update' %}">
    {% else %}
    <input class="btn btn-primary" type="submit" name="save" value="{% trans 'Create' %}">
    {% endif %}
    <a href="{{ view.get_success_url }}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
  </form>
  {% endcomment %}

{% endblock content %}

{% block javascript %}
{% if request.GET.export %}<a style="display: none;" id="id_export_object_link" href="{% url 'contract-export' object.pk %}" trarget="_blank"></a>{% endif %}
{{ block.super }}
<!-- JS -->
  <script>
    var doc_role = null;
    var doc_type = null;
    var doc_action = null;
    var required_doc = null;
    function confirmAction(val) {
        $("#id_required_doc").val(required_doc);
        $("#id_doc_role").val(doc_role);
        $("#id_doc_type").val(doc_type);
        $("#id_doc_action").val(doc_action || "approve");
        $(val).closest("form").submit();
        return true;
    };
    $('input[data-document-role],#id_approve_compliance').on("click", function(event) {
      event.preventDefault();
      event.stopPropagation();
      doc_action = this.dataset["documentAction"];
      doc_role = this.dataset["documentRole"];
      doc_type = this.dataset["documentType"];
      required_doc = this.dataset["requiredDocument"];
      $("#id_confirm_action").text(
        doc_action == "request_correction" ? "{% trans 'Request Correction' %}" : (
        doc_action == "awaiting_approval" ? "{% trans 'Request Approval' %}" : "{% trans 'Approve' %}")
      );
      $('#id_resolution_modal').modal('show');
      return false;
    });
    $(document).ready(function() {
      $("#submit-id-submit").click(function(e) {
        $("input[data-required='1']").not("[name*='__prefix__']").not("[type='file']").each(function() {
          var $t = $(this);
          $t.attr({
            "required": $t.attr("data-required")
          }); // .removeAttr('required');
        });
        // type='file' requires a different appraoch
        $("input[data-required='1']").not("[name*='__prefix__']").filter("[type='file']").each(function() {
          var $t = $(this);
          if (!$t.closest("div.form-group").find("span > a").length) {
            $t.attr({
              "required": $t.attr("data-required")
            }); // .removeAttr('required');
          }
        });
        {% if round.has_toas %}
          var total = totalToaShares();
          if (total!=100) {
            var has_invalid_fields = $("input:invalid,textarea:invalid").length;
            if (!has_invalid_fields) e.preventDefault();  // need for a link
            $('.nav a[href="#categories"]').tab('show');
            var message="{% trans 'Type of Activities: the share values do not add up to 100%! Please correct the values and resubmit.' %}";
            var msg_el = $("#messages");
            if (msg_el.length) {
              msg_el.append(
                $('<div class="alert alert-danger">'
                  +message
                  +'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
              )
              var scrollPos=$("#messages").offset().top; $(window).scrollTop(scrollPos);
            } else bootbox.alert(message);
            if (!has_invalid_fields) return false;
          }
        {% endif %}
      });
      $("input[type='file']").on("change", function() {
          var disabled = !$(this).val();
          $(this).closest("fieldset").find("input[type='submit']").each(function() {
            var b=$(this);
            if (b.prop("disabled") != disabled) {
              b.prop("disabled", disabled);
              b.tooltip(disabled ? "enable" : "disable");
              // b.css("pointer-events", disabled ? "none" : "");
              b.closest("fieldset").find("span").each(function(s, e) {
                $(e).tooltip(disabled ? "enable" : "disable");
                if (!disabled) {
                  b.detach().insertBefore(e);
                };
              });
            };
          });
      });
      /* $("input[type='file']").each(function(b) {
        var approve_button = $(this).closest("fieldset").find("input[type='submit']");
        if (approve_button) {
          disabled = !$(this).val();
          if (approve_button.prop("disabled") != disabled) {
            approve_button.prop("disabled", disabled);
            approve_button.tooltip(disabled ? "enable" : "disable");
            approve_button.css("pointer-events", disabled ? "none" : "");
            var span = $(this).closest("fieldset").find("span");
            if (span) {
              span.tooltip(disabled ? "enable" : "disable");
              if (!disabled) {
                approve_button.detach().insertBefore(span);
              };
            };
          };
        };
      }); */
      $('#id_not_applicable').change(function() {
        var label = $('label[for="id_not_applicable_comment"]');
        if ($(this).is(':checked')) {
          document.getElementById("id_not_applicable_comment").setAttribute("required", "true");
          label.text(label.text().trim());
          $("label[for='id_not_applicable_comment']").append('<span class="asteriskField">*</span>');
        } else {
          document.getElementById("id_not_applicable_comment").removeAttribute("required");
          label.children().remove();
        }
      });
      // $('#id_resolution_modal').on('shown.bs.modal', function () {$('#id_resolution').focus();});
      // $('body').on('shown.bs.modal', '#id_resolution_modal', function () {$('input:visible:enabled:first', this).focus();});
      $('body').on('shown.bs.modal', '#id_resolution_modal', function () {$('textarea:visible:enabled:first', this).focus();});
      $('#id_requires_approval').change(function() {
        if (!($(this).prop('checked'))) {
          $("#id_requires_approval_comment_help").text(
            "{% trans 'Please provide brief reason why ethical or regulatory approval is not required.' %}");
        } else {
          $("#id_requires_approval_comment_help").text(
            "{% trans 'Please provide numbers of relevant approval(s) needed to undertake the proposed research has been obtained. (Please provide serial number, type of approval and date received)' %}");
        };
      });
      // Focus on the first tab with invalid input:
      $('#submit-id-save_draft,#submit-id-submit').click(function () {
          $('input:invalid,textarea:invalid').each(function () {
            // Find the tab-pane that this element is inside, and get the id
            var $closest = $(this).closest('.tab-pane');
            var id = $closest.attr('id');

            // Find the link that corresponds to the pane and have it show
            $('.nav a[href="#' + id + '"]').tab('show');

            // Only want to do it once
            return false;
          });
      });
      {% if request.GET.export %}
      // export after the load in a new tab:
      var win = window.open("{% url 'contract-export' object.pk %}", '_blank');
      if (win) {//Browser has allowed it to be opened
        win.focus();
      } else {
        //Browser has blocked it
        alert('Please allow popups for this website');
        // $('#id_export_object_link').click(function(){window.open(this.href); return false; });
        $('#id_export_object_link').click();
      }
      {% endif %}
    });
  </script>
{% endblock %}
{# vim:set ft=htmldjango: #}
