{% extends 'detail.html' %}
{% load i18n tags static crispy_forms_tags %}

{% if change_request_form %}
{% block css %}
  {{ block.super }}
  {{ change_request_form.media.css }}
{% endblock %}
{% endif %}

{% block content_header %}

{% if object.source %}
  {% if object.is_variation %}
  Variation {{ object.number }} of <a href="{{ object.source.get_absolute_url }}" target="_blank">{{ object.source }}</a>
  {% else %}
  Transferred contract {{ object.number }} of <a href="{{ object.source.get_absolute_url }}" target="_blank">{{ object.source }}</a>
  {% endif %}
{% else %}
  {{ block.super }}
{% endif %}

{% endblock %}

{% block buttons_above %}
{% block buttons_bellow %}
<div class="row">
  <div class="col-12">
      <div class="buttonHolder mb-5 mt-3 float-right">
        {% if transitions %}
          {% include 'snippets/detail_transition_buttons.html' %}
        {% endif %}
      {#% include 'snippets/detail_buttons.html' %#}
        <div class="tooltip-wrapper{% if not can_edit %} disabled{% endif %}"
             data-html="true"
             {% if not can_edit %}
               disabled
               {% if not is_superuser and not is_staff and not is_ro %}
                title="{% trans 'Only R.O. can edit this contract.' %}"
               {% else %}
                  title="{% trans 'Contract was already released.' %}"
                {% endif %}
              {% endif %}
         >
         <a class="btn btn-primary{% if not can_edit %} disabled{% endif %}" href="{% url 'contract-update' object.pk %}">{% trans 'Edit' %}</a>
        </div>
      <a class="btn btn-primary" href="{% url 'contract-export' object.pk %}?format=pdf" target="_blank">{% trans 'Export' %}</a>
      <!-- a class="btn btn-danger" href="{% url 'change-request-create' object.pk %}" target="_blank">{% trans 'Request Changes' %}</a-->
        <!-- a class="btn btn-danger" hx-get="{% url 'change-request-create' object.pk %}?modal=1" hx-target="#form-modal">
          {% trans 'Request Changes' %}
        </a -->
      <!-- a class="btn btn-danger" hx-get="{% url 'change-request-create' object.pk %}?modal=1" hx-target="#form-modal">{% trans 'Request Changes' %}</a -->
      {% if change_request_form %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#change-request-form-modal">
            {% trans 'Request Changes' %}
        </button>
      {% endif %}
      {% if user.is_site_staff or user.is_superuser %}
      <a class="btn btn-secondary" href="{{ object.admin_url }}" target="_blank" data-toggle="tooltip" title="Open {{ object|verbose_name }} {{ object }} in Admin...">
          {% trans 'Open in Admin' %}
        </a>{% endif %}
      </div>
  </div>
</div>
{% endblock buttons_bellow %}
{% endblock buttons_above %}

{% block object_details_table %}
  <div class="table-responsive"> {% contract_summary %} </div>
{% endblock %}

{% with object.change_requests.all as crs %}
  {% block object_details_extra_tabs %}
    {% if tabbed_ui and can_edit and crs.exists %}
      <li class="nav-item">
        <a class="nav-link" href="#change_requests" data-toggle="tab">
          {% if crs.count > 1 %}{% trans 'Change Requests' %}{% else %}{% trans 'Change Request' %}{% endif %}
        </a>
      </li>
    {% endif %}
  {% endblock %}
  {% block object_details_extra_panes %}
    {% if tabbed_ui and can_edit and crs.exists %}
      <div id="change_requests" class="tab-pane">
        <div class="table-responsive">
          {% jinja 'partials/change_request_table.html' objects=crs  %}
        </div>
      </div>
    {% endif %}
  {% endblock object_details_extra_panes %}
{% endwith %}

{% block object_details %}
{% with object.change_requests.all as crs %}

  <hr />

  {{ block.super }}

  <div class="row">
    <div class="col-12">
    </div>
  </div>

  <!-- Placeholder for the modal -->
  {% if change_request_form %}
  <div id="change-request-form-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="form-dialog" class="modal-dialog modal-lg" hx-target="this" >
      <form method="post" enctype="multipart/form-data" id="object_form" action="{% url 'change-request-create' pk=object.pk %}?contract={{ object.pk }}">
        {% csrf_token %}

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Submit a contract variant or transfer request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ change_request_form|crispy }}
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-secondary" value="Save">
        <input type="submit" class="btn btn-primary" name="action" value="Submit">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
    </form>

    </div>
  </div>
  {% endif %}

{% endwith %}
{% endblock %}

{% if change_request_form %}
{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/project.js' %}"></script>
  <!-- change_request_form JS media -->
  {{ change_request_form.media.js }}
  <!-- end: change_request_form JS media -->
  <script>
    $(document).ready(function() {
        $("#div_id_new_host").hide();
        $("#id_types").on("select2:unselect", function(event) {
              if (event.params.data.id == 'TR') $("#div_id_new_host").hide();
        });
        $("#id_types").on("select2:select", function(event) {
              if (event.params.data.id == 'TR') $("#div_id_new_host").show();
        });
    });
  </script>
{% endblock %}
{% endif %}
{# vim:set ft=htmldjango: #}
