{% extends 'base.html' %}
{% load crispy_forms_tags static i18n django_bootstrap_breadcrumbs %}

{% block title %}{% if object %}{{ object }}{% else %}{{ profile }}{% endif %}{% if section_name %} - {{ section_name }}{% endif %}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' with category="contacts" %}{% endblock sidebar %}
{% block head_title %}{{ object }}{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
<style>
#div_id_title span.select2-selection--single {height: 42px;}
</style>
{{ form.media.css }}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Contracts" "contract-list" %}
  {% if object.pk %}
    {% breadcrumb object "Contrarct" "contract-update" object.pk %}
  {% else %}
    {% breadcrumb "New Contract" "contract-create" %}
  {% endif %}
{% endblock %}

{% block content %}

  {% comment %}
  {% endcomment %}

  <form method="post" enctype="multipart/form-data" id="contract-form">

    <input type="hidden" name="doc_role" id="id_doc_role" value="">
    <input type="hidden" name="doc_action" id="id_doc_action" value="">
    <div class="modal fade" tabindex="-1" role="dialog" id="id_resolution_modal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans 'Resolution or a comment (optional)' %}</h5>
            <!-- button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button -->
          </div>
          <div class="modal-body">

            <div id="div_id_postal_address" class="form-group">
              <!-- label for="id_postal_address" class=" requiredField">{% trans 'Resolution' %}<span class="asteriskField">*</span> </label -->
              <!-- input type="text" name="resolution" maxlength="120" class="textinput textInput form-control" required="" id="id_resolution" -->
              <textarea autofocus name="resolution" id="id_resolution" rows="10" style="width: 100%;"></textarea>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="id_confirm_action" onclick='return confirmAction(this);'>{% trans 'Approve' %}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
          </div>
        </div>
      </div>
    </div>

    {% crispy form form.helper %}
  </form>

  {% comment %}
  <form method="post">{% csrf_token %}
    {{ form|crispy }}
    {% if object.id %}
    <input class="btn btn-primary" type="submit" name="update" value="{% trans 'Update' %}">
    {% else %}
    <input class="btn btn-primary" type="submit" name="save" value="{% trans 'Create' %}">
    {% endif %}
    <a href="{{ view.get_success_url }}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
  </form>
  {% endcomment %}

{% endblock content %}

{% block javascript %}
{{ block.super }}
<!-- JS -->
{{ form.media.js }}
<!-- script src="{% static 'admin/js/SelectFilter2.js' %}"></script>
  <script src="{% static 'admin/js/SelectFilter2.js' %}"></script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
  <script src="{% static 'js/project.js' %}"></script>
  <script>
    var doc_role = null;
    var doc_action = null;
    function confirmAction(val) {
        $("#id_doc_role").val(doc_role);
        $("#id_doc_action").val(doc_action || "approve");
        $(val).closest("form").submit();
        return true;
    };
    $('input[data-document-role]').on("click", function(event) {
      event.preventDefault();
      event.stopPropagation();
      doc_action = this.dataset["documentAction"];
      doc_role = this.dataset["documentRole"];
      $("#id_confirm_action").text(
        doc_action == "request_correction" ? "{% trans 'Request Correction' %}" : (
          doc_action == "awaiting_approval" ? "{% trans 'Request Approval' %}" : "{% trans 'Approve' %}")
      );
      $('#id_resolution_modal').modal('show');
      return false;
    });
    // Jump to the last active tab:
    // $('.yearpicker').datepicker({format: "yyyy", startView: 2});
    function setDatePickers(el) {
      el.find(".yearpicker").datepicker({
        format: "yyyy",
        // format: "yyyyy",
        startDate: '1960',
        endDate: '2040',
        startView: 2,
        minViewMode: 2,
        clearBtn: true,
        autoclose: true
      });
      el.find(".datepicker").datepicker({
        format: "yyyy-mm-dd",
        // startDate: '1960-01-01',
        // endDate: '2001-12-31',
        // startDate: $(this).data("min"),
        // endDate: $(this).data("max"),
        startView: 2,
        clearBtn: true,
        autoclose: true
      });
      $("td:has(div>input.datepicker)").css("width", "6em");
      $("td:has(div>input.yearpicker)").css("width", "4em");
    }
    $(document).ready(function() {
      setDatePickers($(document.documentElement));
      // Keep track of the active tab
      $(document.body).on("click", "a[data-toggle='tab']", function(event) {
        location.hash = this.getAttribute("href");
      });
      // Jump to the last active tab:
      if (location.hash) {
          $('.nav a[href="' + location.hash + '"]').tab('show');
      }{% if needs_attention %} else {
        $('.nav a[href="#{{ needs_attention.0 }}"]').tab('show');
      }{% endif %};
      if (!location.hash || location.hash == "#summary") {
        // document.getElementById("button-id-previous").disabled = true;
        $("#button-id-previous").hide();
      } else if (location.hash.endsWith($(".tab-pane").last().attr('id'))) {
        // document.getElementById("button-id-next").disabled = true;
        $("#button-id-next").hide();
      }
      // highlight the tabs that required attaention:
      {% if needs_attention %}
        {% for a in needs_attention %}
          $("[href='#{{ a }}']").addClass("text-danger").attr("style", "font-weight: bold;");
        {% endfor %}
      {% endif %}
      $("input[type='file']").on("change", function() {
        var approve_button = $(this).closest("fieldset").find("input[type='submit']");
        if (approve_button) {
          disabled = !$(this).val();
          if (approve_button.prop("disabled") != disabled) {
            approve_button.prop("disabled", disabled);
            approve_button.tooltip(disabled ? "enable" : "disable");
            approve_button.css("pointer-events", disabled ? "none" : "");
            var span = $(this).closest("fieldset").find("span");
            if (span) {
              span.tooltip(disabled ? "enable" : "disable");
              if (!disabled) {
                approve_button.detach().insertBefore(span);
              };
            }
          };
        };
      });
    });
  </script>
{% endblock %}
{# vim:set ft=htmldjango: #}
