{% extends 'detail.html' %}
{% load i18n tags %}

{% block buttons_above %}
{% block buttons_bellow %}
<div class="row">
  <div class="col-12">
      <div class="buttonHolder mb-5 mt-3 float-right">
      {#% include 'snippets/detail_buttons.html' %#}
        <div class="tooltip-wrapper{% if not can_edit %} disabled{% endif %}"
             data-html="true"
             {% if not can_edit %}
               disabled
               {% if not is_superuser and not is_staff and not is_ro %}
                title="{% trans 'Only R.O. can edit this contract.' %}"
               {% else %}
                  title="{% trans 'Contract was already released.' %}"
                {% endif %}
              {% endif %}
         >
         <a class="btn btn-primary{% if not can_edit %} disabled{% endif %}" href="{% url 'contract-update' object.pk %}">{% trans 'Edit' %}</a>
        </div>
      <a class="btn btn-primary" href="{% url 'contract-export' object.pk %}?format=pdf" target="_blank">{% trans 'Export' %}</a>
      </div>
    <hr />
  </div>
</div>
{% endblock buttons_bellow %}
{% endblock buttons_above %}

{% block object_details %}

<div class="table-responsive">
  {% contract_summary %}
</div>

{% endblock %}
