{% extends 'base.html' %}
{% load crispy_forms_tags static i18n django_bootstrap_breadcrumbs %}

{% block title %}{% if object %}{{ object }}{% else %}{{ profile }}{% endif %}{% if section_name %} - {{ section_name }}{% endif %}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' with category="contacts" %}{% endblock sidebar %}
{% block head_title %}{{ object }}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
<style>
#div_id_title span.select2-selection--single {height: 42px;}
</style>
  {{ form.media.css }}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if object.id %}
    {% breadcrumb "Contrarct" "contract-update" %}
  {% else %}
    {% breadcrumb "Contrarct" "contract-create" %}
  {% endif %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-4">

      {% comment %}
      {% endcomment %}
      <form method="post" enctype="multipart/form-data" id="contract-form">
        {% crispy form form.helper %}
      </form>

      {% comment %}
      <form method="post">{% csrf_token %}
        {{ form|crispy }}
        {% if object.id %}
          <input class="btn btn-primary" type="submit" name="update" value="{% trans 'Update' %}">
        {% else %}
          <input class="btn btn-primary" type="submit" name="save" value="{% trans 'Create' %}">
        {% endif %}
        <a href="{{ view.get_success_url }}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
      </form>
      {% endcomment %}

    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <!-- JS -->
  {{ form.media.js }}
  <!-- script src="{% static 'admin/js/SelectFilter2.js' %}"></script>
  <script src="{% static 'admin/js/SelectFilter2.js' %}"></script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
  <script src="{% static 'js/project.js' %}"></script>
  <script>
    // $('.yearpicker').datepicker({format: "yyyy", startView: 2});
    function setDatePickers(el) {
      el.find(".yearpicker").datepicker({
        format: "yyyy",
        // format: "yyyyy",
        startDate: '1960',
        endDate: '2040',
        startView: 2,
        minViewMode: 2,
        clearBtn: true,
        autoclose: true
      });
      el.find(".datepicker").datepicker({
        format: "yyyy-mm-dd",
        // startDate: '1960-01-01',
        // endDate: '2001-12-31',
        // startDate: $(this).data("min"),
        // endDate: $(this).data("max"),
        startView: 2,
        clearBtn: true,
        autoclose: true
      });
      $("td:has(div>input.datepicker)").css("width", "6em");
      $("td:has(div>input.yearpicker)").css("width", "4em");
    }
    $(document).ready(function() {
      setDatePickers($(document.documentElement));
    });
  </script>
{% endblock %}
