{% load i18n tags %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% specialspaceless %}
{% if formset_tag %}
  <form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
  {% endif %}
  {% if formset_method|lower == 'post' and not disable_csrf %}
    {% csrf_token %}
  {% endif %}

  <div>
    {{ formset.management_form }}
  </div>

    {% comment %}
    <thead>
      {% if formset.readonly and not formset.queryset.exists %}
      {% else %}
        <tr>
          {% for field in formset.forms.0 %}
            {% if field.label and not field.is_hidden %}
              <th for="{{ field.auto_id }}"
                  class="col-form-label {% if field.field.required %}requiredField{% endif %}"
                >
                {% if field.name != "DELETE" %}
                  <span {% if field.help_text %}
                     data-toggle="tooltip"
                     title="{{ field.help_text }}"
                   {% endif %}>
                    {% if field.field.required and not field|is_checkbox %}<span class="asteriskField">*</span></span>
                    {% endif %}
                {% endif %}
              </th>
            {% endif %}
          {% endfor %}
        </tr>
      {% endif %}
    </thead>
    {% endcomment %}

      {% for form in formset %}

        <fieldset id="{{ form.prefix }}_part_fieldset">
        {% autoescape off %}
          {% if form_show_errors and not form.is_extra %}
            {% include "bootstrap4/errors.html" %}
          {% endif %}
        {% endautoescape %}
        {% with rd_id=form.required_document.value %}
            {% with field_label=form.form_label form_show_labels=True required_document=required_documents|get_item:rd_id %}
            {% include 'bootstrap4/field.html' with field=form.file use_custom_control=True %}
        {% for field in form %}{% if field.name != "file" %}{{ field }}{% endif %}{% endfor %}

        {% if form.state %}
          <div class="buttonHolder float-right">
          {% if is_staff or user.is_superuser %}
          {% if not form.file.value  %}
          <span
              tabindex="0"
              class="d-inline-block"
              data-toggle="tooltip"
              {% if not form.file.value %}
              title="{% blocktrans with required_document=required_document %}Please upload {{ required_document }} before requesting corrections{% endblocktrans %}"
              {% endif %}
          >
          {% endif %}
            <input type="submit"
              name="request_correction"
              value="{% trans 'Request Correction' %}"
              class="btn btn-primary"
              id="id_{{ form.prefix }}_request_correction"
              data-document-action="request_correction"
              data-document-type="{{ required_document.document_type.pk }}"
              data-document-role="{{ required_document.document_type.role }}"
              data-required-document="{{ rd_id }}"
              data-enabled-title="Request correction of {{ required_document }}"
              data-disabled-title="{% blocktrans with required_document=required_document %}Please upload {{ required_document }} before requestiong corrections{% endblocktrans %}"
              data-toggle="tooltip"
              title="{% blocktrans with required_document=required_document %}Request correction of {{ required_document }}{% endblocktrans %}"
              {% if not form.file.value %}disabled style="pointer-events: none;"{% endif %}>
          {% if not form.file.value %}</span>{% endif %}
          {% endif %}
          {% if not form.file.value %}
          <span
              tabindex="0"
              class="d-inline-block"
              data-toggle="tooltip"
              {% if not form.file.value %}
              title="{% blocktrans with required_document=required_document %}Please upload {{ required_document }} before approving it{% endblocktrans %}"
              {% endif %}
          >
          {% endif %}
            <input type="submit"
              name="approve_part"
              value={% if is_staff %}"{% trans 'Accept' %}"{% else %}"{% trans 'Approve' %}"{% endif %}
              class="btn btn-primary"
              id="id_{{ form.prefix }}_approve_part"
              data-document-action="approve"
              data-document-type="{{ required_document.document_type.pk }}"
              data-document-role="{{ required_document.document_type.role }}"
              data-required-document="{{ rd_id }}"
              data-enabled-title="Approve {{ required_document }}"
              data-disabled-title={% if is_staff %}"Please upload {{ required_document }} before approving it"{% else %}"Please upload {{ required_document }} before accepting it"{% endif %}
              data-toggle="tooltip"
              {% if is_staff %}
              {% blocktrans with required_document=required_document %}
              title="Accept {{ required_document }}"
              {% endblocktrans %}
              {% else %}
              {% blocktrans with required_document=required_document %}
              title="Approve {{ required_document }}"
              {% endblocktrans %}
              {% endif %}
              {% if not form.file.value %}disabled style="pointer-events: none;"{% endif %}>
          {% if not form.file.value %}</span>{% endif %}
          </div>
        {% endif %}
        </fieldset>

      {% endwith %}{% endwith %}
      {% endfor %}

  {% include "bootstrap4/inputs.html" %}

  {% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}
