{% extends "form.html" %}
{% load crispy_forms_tags static i18n django_bootstrap_breadcrumbs %}

{% block title %}{% if object %}{{ object }}{% else %}{{ block.super }}{% endif %}{% if section_name %} - {{ section_name }}{% endif %}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' with category="reports" %}{% endblock sidebar %}
{% block head_title %}{{ object }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Reports" "report-list" %}
  {% if object.pk %}
    {% breadcrumb object "Report" "report-update" object.pk %}
  {% else %}
    {% breadcrumb "New Report" "report-create" %}
  {% endif %}
{% endblock %}

{% block content %}

  {% comment %}
  {% endcomment %}

  <form method="post" enctype="multipart/form-data" id="contract-form">

    <input type="hidden" name="required_doc" id="id_required_doc" value="">
    <input type="hidden" name="doc_role" id="id_doc_role" value="">
    <input type="hidden" name="doc_type" id="id_doc_type" value="">
    <input type="hidden" name="doc_action" id="id_doc_action" value="">
    <!-- Placeholder for the modal -->
    <div id="publication-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
      <div id="publication-dialog" class="modal-dialog modal-lg" hx-target="this" ></div>
    </div>
    <!-- Placeholder for the modal -->
    <div id="reported-funding-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
      <div id="reported-funding-dialog" class="modal-dialog modal-lg" hx-target="this" ></div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="id_resolution_modal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans 'Resolution or a comment (optional)' %}</h5>
            <!-- button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button -->
          </div>
          <div class="modal-body">

            <div id="div_id_postal_address" class="form-group">
              <!-- label for="id_postal_address" class=" requiredField">{% trans 'Resolution' %}<span class="asteriskField">*</span> </label -->
              <!-- input type="text" name="resolution" maxlength="120" class="textinput textInput form-control" required="" id="id_resolution" -->
              <textarea autofocus name="resolution" id="id_resolution" rows="10" style="width: 100%;" spellcheck="true"></textarea>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="id_confirm_action" onclick='return confirmAction(this);'>{% trans 'Approve' %}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
          </div>
        </div>
      </div>
    </div>

    {% crispy form form.helper %}
  </form>

  {% comment %}
  <form method="post">{% csrf_token %}
    {{ form|crispy }}
    {% if object.id %}
    <input class="btn btn-primary" type="submit" name="update" value="{% trans 'Update' %}">
    {% else %}
    <input class="btn btn-primary" type="submit" name="save" value="{% trans 'Create' %}">
    {% endif %}
    <a href="{{ view.get_success_url }}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
  </form>
  {% endcomment %}

{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script charset="utf-8">
    function delete_closest_table_row(element, event) {
      if (event.detail.successful) {
            $(element).closest("tr").remove();
      }
    };
    $(document).ready(function() {
      htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
        target_id = e.detail.target.id;
        if (target_id == "publication-dialog") {
           $('#publication-modal').modal('show');
        } else if (target_id == "publication-list") {
           $('#publication-modal').modal('hide');
        } else if (target_id == "reported-funding-dialog") {
          // $('#id_agency').select2();
          window.__dal__initialize($("#id_agency"));
          $('#id_start_date,#id_end_date').datepicker();
          $("#id_agency").siblings(".select2").width("100%");
          $(".select2-selection__arrow").remove();
          $('#reported-funding-modal').modal('show');
        } else if (target_id == "reported-funding-list") {
           $('#reported-funding-modal').modal('hide');
        }
      });
      $(".select2-selection__arrow").remove();
      $("#submit-id-submit").click(function(e) {
        $("input[data-required='1']").not("[name*='__prefix__']").not("[type='file']").each(function() {
          var $t = $(this);
          $t.attr({
            "required": $t.attr("data-required")
          });
        });
      });
    });
  </script>
{% endblock javascript %}

{# vim:set ft=htmldjango: #}
