{% extends "contracts/base.html" %}
{% block content %}
  {% if part == "cover" or part == "cover_page" %}
    {% include 'contracts/parts/cover_page.html' with context %}
  {% elif part == "background" %}
    {% include 'contracts/parts/background.html' with context %}
  {% elif part == "agreement" or part == "preamble" %}
    {% include 'contracts/parts/agreement.html' with context %}
  {% elif part == "schedule" %}
    {% include 'contracts/parts/schedule.html' with context %}
  {% elif part == "toc" %}
    {% include 'contracts/parts/toc.html' with context %}
  {% endif %}
{% endblock %}
