{% extends "contracts/base.html" %}
{% block content %}
  <a name="_Toc_schedule_240101001">
  <h1 class="western" style="page-break-before: always">
  SCHEDULE<br>
 {% if fund %}{{ fund.description|upper }}{% else %}{% if c.site_id == 4 %}NG&#256; PUANGA P&#362;TAIAO FELLOWSHIP{% endif %}{% endif %}
  </h1>
  </a>
    <p>Programme Contract Number: <strong>{{ c.number }}</strong></p>

    <p>
    Programme Title: <strong>{{ c.project_title }}</strong>
    </p>
    <ol>

      <li><h2>Key dates</h2>
        <dl><dd>
<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=624
 style='width:467.8pt;margin-left:5.4pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=284 valign=top style='width:212.65pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
    <b>Start Date of Agreement</b></p>
  </td>
  <td width=340 valign=top style='width:255.15pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
      <b>
      {{ c.start_date.strftime("%d %B, %Y") }}
      </b>
    </p>
  </td>
 </tr>
 <tr>
  <td width=284 valign=top style='width:212.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
    <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
    <b>Date by which the Programme must start</b></p>
  </td>
  <td width=340 valign=top style='width:255.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>No later than
  six months after the Start Date of the Agreement (unless otherwise agreed by
  the parties)</p>
  </td>
 </tr>
 <tr style='height:4.15pt'>
  <td width=284 valign=top style='width:212.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
  <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Completion
  Date </b></p>
  </td>
  <td width=340 valign=top style='width:255.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
    <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
    <b>
      {% if c.end_date %}{{ c.end_date.strftime("%d %B, %Y") if c.end_data else '' }}{% else %}&nbsp;{% endif %}
    </b>
    </p>
  </td>
 </tr>
</table>
          </dd></dl>
      </li>

      <li>Application Number: <strong>{{ a.number }}</strong></li>
      <li>Total approved funding and payment process:<br/>
        <dl><dd>
            <table border="1" cellpadding="7" cellspacing="0" with="100%">
              <col width="96"/>
              <col width="225"/>
              <col width="197"/>
              <tr bgcolor="#d0d0d0" valign="middle">
                <th></th>
                <th><b>Funding amount</b> (GST inclusive)</th>
                <th><b>Date of payments</b></th>
              </tr>
              {% for a in c.allocations.all() %}
                <tr valign="middle">
                  <td>Year {{ a.period }}</td>
                  <td style="text-align: right;">${{ a.allocation }}</td>
                  <td>[Monthly, on the 2nd Business Day after the 20th of month]</td>
                </tr>
              {% endfor %}
            </table>
          </dd></dl>
      </li>
      <li>Start Date: <strong>{{ c.start_date.strftime("%d %B, %Y") }}</strong></li>
      <li>Competion Date: <strong>{% if c.end_date %}{{ c.end_date.strftime("%d %B, %Y") if c.end_data else '' }}{% else %}&nbsp;{% endif %}</strong></li>
      <li>Reporting dates:

        <table border="1" cellpadding="5" cellspacing="0" with="100%">
          <tr bgcolor="#d0d0d0">
            <th><b>Report</b></th>
            <th><b>Due date</b></th>
          </tr>
          {% for r in c.reporting_schedule.order_by("period", "due_date").all() %}
            <tr>
              <td>{{ r.get_type_display() }} Report (Year {{ r.period }})</td>
              <td>{{ r.due_date.strftime("%d %B, %Y") }}</td>
            </tr>
          {% endfor %}
        </table>

      </li>
      <li>
        Key Personnel and FTE totals:

        <table border="1" cellpadding="5" cellspacing="0" with="100%">
          <tr bgcolor="#d0d0d0">
            <th><b>Name</b></th>
            <th><b>Role</b></th>
            <th><b>Time (%)</b></th>
          </tr>
          {% for m in c.members.all() %}
            <tr>
              <td>{{ m.full_name_with_title }}</td>
              <td>{{ m.role.name }}</td>
              <td>{{ m.total_fte }}%</td>
            </tr>
          {% endfor %}
        </table>

      </li>
    </ol>
    <div title="footer" style="font-size: 6pt; font-family: Arial; width: 100%;">
      <font size="1" style="font-size: 6pt; font-family: Arial;" face="Arial">
      <table border="0" style="border: none; font-size: 6pt; font-family: Arial;" width="100%">
        <col align="left">
        <col align="center">
        <col align="right">
        <tr>
          <td border="0" style="border: none; font-family: Arial; font-size: 6pt; text-align: left;" align="left">
            <font size="1" style="font-size: 6pt; font-family: Arial" face="Arial">
              <span lang="en-NZ" style="font-family: Arial; font-size: 6pt;"><small>{{ c.fund.code }} {{ c.number }}</small></span>
            </font>
          </td>
          <td border="0" style="border: none; font-family: Arial; font-size: 6pt; text-align: center;" align="center">
            <font size="1" style="font-size: 6pt; font-family: Arial" face="Arial">
              <span lang="en-NZ"><small>Contract	Issued: <sdfield type=DATETIME sdnum="5129;3081;NNNN&quot;&quot;D MMMM YYYY">{{ c.start_date.strftime("%d %B, %Y") }}</sdfield></small></span>
            </font>
          </td>
          <td border="0" style="border: none; font-family: Arial; font-size: 6pt; text-align: right;" align="right">
            <font size="1" style="font-size: 6pt; font-family: Arial" face="Arial">
              <small>Page <b><sdfield type=PAGE subtype=RANDOM format=PAGE>N</sdfield></b> of <b><sdfield type=DOCSTAT subtype=PAGE format=PAGE>NN</sdfield></b></small>
            </font>
          </td>
        </tr>
      </table>
      </font>
    </div>
{% endblock %}
