{% extends "base.html" %}
{% load static i18n compress %}

{% block title %}{% trans 'Server Error - 500' %}{% endblock %}

{% block content %}

  <div class="jumbotron">

  <h1>{% trans "Webservice currently unavailable" %} <small>Error: <br />{{ error }}</small></h1>
  <hr class-"my-4">
  <p class="lead">{% trans 'An unexpected condition was encountered' %}.<br />

  {% trans 'Our service team has been dispatched to bring it back online' %}.</p>
  {% if config.ENV != "prod" and trace %}
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Details</h2>
            <pre>{{trace}}</pre>
          </div>
        </div>
      </div>
  {% endif %}

  <p class="lead">
  {% trans "We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing." %}
  </p>
  <a href="{% if reqest.META.HTTP_REFERER %}{{ reqest.META.HTTP_REFERER }}{% else %}{% url 'home' %}{% endif %}" type="button" role="button" class="btn btn-secondary" id="return">
      {% trans 'Return' %}
    </a>
  <!-- span class="float-right"> </span -->
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <!-- script> var tracking_disabled;</script -->
  {% if sentry_event_id %}
    <script>
      Sentry.showReportDialog({
        lang: '{{ LANGUAGE_CODE }}',
        title: '{% trans "Looks like something went wrong!" %}',
        subtitle: '{% trans "We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing." %}',
        user: {
          name: '{{ request.user.full_name }}',
          email: '{{ request.user.email }}'
        },
        eventId: '{{ sentry_event_id }}',
        labelName: "{% trans 'Name' %}",
        labelEmail: "{% trans 'Email' %}",
        labelComments: "{% trans 'What happened?' %}",
        labelClose: "{% trans 'Close' %}",
        labelSubmit: "{% trans 'Submit' %}",
        errorGeneric: "{% trans 'An unknown error occurred while submitting your report. Please try again.' %}",
        errorFormEntry: "{% trans 'Some fields were invalid. Please correct the errors and try again.' %}",
        successMessage: "{% trans 'Your feedback has been sent. Thank you!' %}"
      });
    </script>
  {% endif %}

{% endblock javascript %}
