{% extends "admin/base_site.html" %}

{% block content %}

  <form action="" method="post">

    {% csrf_token %}
    <input type="hidden" name="action" value="merge_orgs">
    <input type="hidden" name="select_across" value="0">
    <input type="hidden" name="index" value="0">
    {% for o in objects %}
      <input type="hidden" name="_selected_action" value="{{ o.id }}">
    {% endfor %}

    <input type="hidden" name="do_action" value="yes">

    <label for="target">Organisation</label>
    <select id="target" name="target">

      {% for o in objects %}
        <option
            value="{{ o.id }}"
            {% if target and o == target or forloop.first and o.is_active %} selected{% endif %}
            {% if not o.is_active %} disabled{% endif %}
            {#% if not o.is_active %} disabled style="color: #999;"{% endif %#}
        >
        {{ o.code }}: {{ o }}{% if o.is_active %} (<b>ACTIVE</b>){% endif %}
        </option>
      {% endfor %}
    </select>

    <div>
      <input type="submit" class="default" style="float: none" value="Merge">
    </div>

  </form>
{% endblock %}
