{% extends 'detail.html' %}

{% load i18n crispy_forms_tags tags django_bootstrap_breadcrumbs %}
{% block sidebar %}{% include 'sidebar.html' with category="applications" %}{% endblock sidebar %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Applications" "applications" %}
{% if object.state == "draft" or object.state == "new" %}
{% breadcrumb "Draft" "applications-draft" %}
{% elif object.state == "submitted" %}
{% breadcrumb "Submitted" "applications-submitted" %}
{% endif %}
{% breadcrumb object.number "application" object.pk %}
{% endblock %}

{% if form %}
{% block css %}
{{ form.media.css }}
{{ block.super }}
{% endblock %}
{% endif %}

{% block content %}



{% if form %}{% crispy form %}{% endif %}

{% with a=object u=request.user r=object.round %}

<div class="table-responsive">
  {% include 'snippets/application_detail_table.html' %}
</div>

<form method="post" id="id_action_form">
  {% csrf_token %}
  <input type="hidden" name="action" id="id_action">
  <div class="buttonHolder mb-5 mt-3 float-right">

    {% if can_reenter %}
    <a href="{% url 'application-create' round=current_round.id %}?previous={{a.id}}"
       class="btn btn-primary"
       data-toggle="tooltip"
       data-title="{% trans 'You can re-enter the current round with the application as a new application.' %}"
       >{% trans 'Re-enter' %}
    </a>
      {% else %}
      <div class="tooltip-wrapper{% if not can_update %} disabled{% endif %}"
           {% if can_only_update_referees %}
           data-title="{% trans 'You can only update the referee list' %}"
           {% elif not is_owner %}
           disabled
           data-title="{% trans 'Only the main applicant or a team member can edit the application' %}"
           {% elif not can_update %}
           disabled
           data-title="{% trans 'The application has been already submitted and cannot be modified' %}"
           {% comment %}
           {% elif not a.round.is_open %}
           disabled
           data-title="{% trans 'The application period has closed. You can no longer modify this application.' %}"
              class="btn btn-primary{% if not is_owner or was_submitted or not a.round.is_open %} disabled{% endif %}"
           {% endcomment %}
           {% elif is_owner and not is_ro and a.state == "submitted" or is_owner and not is_ro and a.state == "in_review" %}
           data-title="{% trans 'Modify the referee list' %}"
           {% elif not is_ro %}
           data-title="{% trans 'Modify your application and continue application process' %}"
           {% else %}
           data-title="{% trans 'Modify the application and continue application process' %}"
           {% endif %}
           >
           <a href="{% url update_view_name pk=a.pk %}"
              class="btn btn-primary{% if not is_owner or not can_update %} disabled{% endif %}"
              >{% if can_only_update_referees %}{% trans 'Update Referee List' %}{% else %}{% trans update_button_name %}{% endif %}
           </a>
      </div>
        {% endif %}

        {% if export_button_view_name %}
        <div class="tooltip-wrapper{% if show_basic_details and not export_enabled %} disabled{% endif %}"
          {% if show_basic_details and not export_enabled %}
          disabled
          data-title="{% trans 'Only the applicants and the panellists that submitted a statement of conflict of interest can export the application' %}"
          {% else %}
          data-title="{% trans 'Export the application into a consolidated PDF file' %}"
          {% endif %}
        >
        <a class="btn btn-primary{% if show_basic_details and not export_enabled %} disabled{% endif %}" href="{% url export_button_view_name pk=a.pk %}{% if for_panellists %}?for_panellists={{ for_panellists }}{% endif %}" target="_blank">
            {% trans 'Export' %}
          </a>
        </div>
        {% endif %}

        {% if testimonial or referee   %}


        {% if testimonial.referee.survey_token_id or referee.survey_token_id %}
        <div class="tooltip-wrapper{% if testimonial.state == "submitted" or referee.survey_completed_at %} disabled{% endif %}"
             {% if referee.survey_completed_at %}
             disabled
             data-title="{% trans 'The referee report has been already submitted' %}"
             {% elif testimonial.state == "submitted" %}
             disabled
             data-title="{% trans 'The testimonial was already submitted and cannot be updated' %}"
             {% else %}
             data-title="{% trans 'Submit the referee report' %}"
             {% endif %}
             >
             <a class="btn btn-outline-primary{% if testimonial.state == "submitted" or referee.survey_completed_at or reviewing_disabled or reviewing_closed %} disabled{% endif %}"
                href="{% if referee and referee.survey_token_id %}{% url 'survey-referee' referee_id=testimonial.referee_id|default:referee.id %}{% else %}{% url 'survey-referee' referee_id=testimonial.referee_id %}{% endif %}">
               {% trans 'Complete' %}
               <strong>{% trans 'Referee Report' %}</strong></a>
        </div>

        {% else %}

        <div class="tooltip-wrapper{% if testimonial.state == "submitted" or reviewing_disabled or reviewing_closed %} disabled{% endif %}"
             {% if testimonial.state == "submitted" %}
             disabled
             data-title="{% trans 'The testimonial was already submitted and cannot be updated' %}"
             {% elif reviewing_disabled %}
             disabled
             data-title="{% trans 'The application reviewing will be open after the application submission is closed.' %}"
             {% elif reviewing_closed %}
             disabled
             data-title="{% trans 'The application reviewing has been closed.' %}"
             {% else %}
             data-title="{% trans 'Update and submit the testimonial' %}"
             {% endif %}
             >
             <a class="btn btn-outline-primary{% if testimonial.state == "submitted" or reviewing_disabled or reviewing_closed %} disabled{% endif %}"
                href="{% if testimonial %}{% url 'testimonial-update' pk=testimonial.pk %}{% else %}{% url 'application-review-create' application=referee.application_id %}{% endif %}">
               {% if testimonial and testimonial.file %}
               {% trans 'Update' %}
               {% else %}
               {% trans 'Submit' %}
               {% endif %}
               <strong>{% trans 'Testimonial' %}</strong></a>
        </div>

        {% endif %}
        {% endif %}

        {% if is_panellist %}

        <div class="tooltip-wrapper{% if has_coi or evaluation.state == 'submitted' or not was_submitted %} disabled{% endif %}"
             {% if has_coi %}
             disabled
             data-title="{% trans 'You have not submitted the statement of conflict of interest.' %}"
             {% elif evaluation.state == 'submitted' %}
             disabled
             data-title="{% trans 'The evaluation has been already submitted and cannot be updated' %}"
             {% elif not was_submitted %}
             disabled
             data-title="{% trans 'The application has not been submitted yet' %}"
             {% else %}
             data-title="{% trans 'Modify your evaluation of the application' %}"
             {% endif %}
             >
             <a
                 {% if r.has_online_scoring %}
                 {% if evaluation %}
                 href="{% url 'application-evaluation' pk=a.pk %}"
                 {% elif not evaluation and not has_coi %}
                 href="{% url 'application-evaluation-create' application=a.pk %}"
                 {% else %}
                 {#href="{% url 'coi-create' application_id=a.pk %}"#}
                 href="{% url 'round-coi' round=a.round_id %}"
                 {% endif %}
                 {% else %}
                 {% if evaluation or not coi %}
                 href="{% url 'score-sheet' round=a.round_id %}"
                 {% else %}
                 href="{% url 'round-coi' round=a.round_id %}"
                 {% endif %}
                 {% endif %}
                 class="btn btn-primary{% if has_coi or evaluation.state == 'submitted' or not was_submitted %} disabled{% endif %}"
                 > {% trans "Evaluate Application" %} </a>
        </div>

          <div class="tooltip-wrapper{% if evaluation.state == 'submitted' or not was_submitted %} disabled{% endif %}"
               {% if evaluation.state == 'submitted' %}
               disabled
               data-title="{% trans 'The evaluation has been already submitted and the statement of the conflict of interest cannot be changed' %}"
               {% elif not was_submitted %}
               disabled
               data-title="{% trans 'The application has not been submitted yet' %}"
               {% else %}
               data-title="{% trans 'Submit the statement of the conflict of interest' %}"
               {% endif %}
               >
               <a
                   {% if r.has_online_scoring %}
                   href="{% url 'round-application-review' round_id=a.round_id application_id=a.pk %}"
                   {% else %}
                   href="{% url 'round-coi' round=a.round_id %}"
                   {% endif %}
                   class="btn btn-primary{% if evaluation.state == 'submitted' or not was_submitted %} disabled{% endif %}"
                   > {% trans "Conflict of Interest" %} </a>
          </div>

            {% endif %}


            {% if is_ro %}
              {% include 'snippets/resolution_modal.html' %}

            <span class="d-inline-block"
                  tabindex="0"
                  data-toggle="tooltip"
                  {% if a.state == "cancelled" %}title="{% trans 'Application had been already cancelled' %}"
                  {% elif a.state == "approved" %}title="{% trans 'Application had been already approved' %}"
                  {% elif a.state == "accepted" %}title="{% trans 'Application has been accepted by the administrators' %}"
                  {% elif a.state == "in_review" %}title="{% trans 'Application has been sent out for reviewing by the referees' %}"
                  {% elif a.state == "funded" %}title="{% trans 'Application had been already marked as funded' %}"
                  {% elif a.state != "submitted" and a.state != "draft" %}title="{% trans 'Application had not yet been submitted' %}"
                  {% else %}title="{% trans 'Cancel and withdraw the application' %}"
                  {% endif %}
                  >
                  <input type="submit"
                         class="btn btn-outline-danger"
                         {% if a.state != "submitted" and a.state != "draft" %} disabled style="pointer-events: none;"
                         {% else %}data-toggle="modal" data-target="#id_resolution_modal"
                         {% endif %} name="cancel" value="{% trans 'Withdraw' %}">
          </span>
            <span class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              {% if a.state == "cancelled" %}title="{% trans 'Application had been already cancelled' %}"
              {% elif a.state == "approved" %}title="{% trans 'Application had been already approved' %}"
              {% elif a.state == "accepted" %}title="{% trans 'Application has been accepted by the administrators' %}"
              {% elif a.state == "in_review" %}title="{% trans 'Application has been sent out for reviewing by the referees' %}"
              {% elif a.state == "funded" %}title="{% trans 'Application had been already marked as funded' %}"
              {% elif a.state != "submitted" %}title="{% trans 'Application had not yet been submitted' %}"
              {% endif %}
            >
              <input type="submit"
                      class="btn btn-outline-warning"
                      {% if a.state != "submitted"  %} disabled style="pointer-events: none;"
                      {% else %}data-toggle="modal" data-target="#id_resolution_modal"
                      {% endif %} name="request_resubmission" value="{% trans 'Request Resubmission' %}">
            </span>
                <span class="d-inline-block"
                    tabindex="0"
                    data-toggle="tooltip"
                    {% if a.state == "cancelled" %}title="{% trans 'Application had been already cancelled' %}"
                    {% elif a.state == "approved" %}title="{% trans 'Application had been already approved' %}"
                    {% elif a.state == "accepted" %}title="{% trans 'Application has been accepted by the administrators' %}"
                    {% elif a.state == "in_review" %}title="{% trans 'Application has been sent out for reviewing by the referees' %}"
                    {% elif a.state == "funded" %}title="{% trans 'Application had been already marked as funded' %}"
                    {% elif a.state != "submitted" %}title="{% trans 'Application had not yet been submitted' %}"
                    {% else %}title="{% trans 'Approve the application' %}"
                    {% endif %}
                >
                      <input type="submit"
                            class="btn btn-primary"
                            {% if a.state != "submitted"  %} disabled style="pointer-events: none;"
                            {% elif r.agent_declaration %}data-toggle="modal" data-target="#id_agent_declaration_modal"
                            {% else %}data-toggle="modal" data-target="#id_resolution_modal"
                            {% endif %} name="approve" value="{% trans 'Approve' %}"
                      >
                      <!-- button type="button" class="btn btn-primary"
                        {% if a.state != "submitted"  %} disabled  style="pointer-events: none;"
                        {% else %}data-toggle="modal" data-target="#id_resolution_modal"
                        {% endif %}>{% trans 'Approve' %}
                        </button -->
                </span>
              {% endif %}
  </div>
</form>

{% endwith %}
{% endblock %}

{% block javascript %}
{{ block.super }}
{% if form %}
{{ form.media.js }}
{% endif %}
<script>
  $(document).ready(function(){
    $('.tooltip-wrapper').tooltip(); // .tooltip({position: "bottom"});
    {% if is_ro %}
      $('#id_resolution_modal,#id_agent_declaration_modal').on('shown.bs.modal', function (e) {
        $("#id_resolution").focus();
      });
      $("input[type='submit']").on("click", function(e) {
        e.preventDefault();
        $('#id_action').val($(this).attr("name"));
        $('#id_resolution_modal').modal({keyboard: true});
        return false;
      });
      {% if object.round.agent_declaration %}
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-danger ml-1",
          cancelButton: "btn btn-success"
        },
        buttonsStyling: false
      });
      $("#id_action_form").submit(function(e) {
        e.preventDefault();
        if (!$("#id_declaration_accepted_check").is(':checked')) {
          swalWithBootstrapButtons.fire("{% trans 'Please accept the terms and conditions!' %}").then(function(result) {
            if(result.isConfirmed) e.detail.issueRequest(true) // use true to skip window.confirm
          })
          return false;
        }
      });

      {% endif %}
    {% endif %}
  });
</script>
{% endblock javascript %}
{# vim:set ft=htmldjango: #}
