{% load static i18n compress django_bootstrap_breadcrumbs cache %}<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      {% block title %}
        {% trans request.site.name|default:"The Prime Minister’s Science Prize Portal" %}
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ request.site.name }}">
    <meta name="author" content="Royal Society Te Apārangi">
    <!-- meta name="robots" content="all, index, follow" -->
    <meta name="googlebot" content="all, index, follow">
    <meta name="rights" content="Royal Society Te Apārangi">
    <meta name="created" content="20191814">
    <meta property="og:title" content="{% if object %}{{ object }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.royalsociety.org.nz/">
    <meta property="og:site_name" content="Royal Society Te Apārangi">
    <meta property="og:description" content="{{ site.description }}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% if settings.SENTRY_DSN %}
    <script src="https://js.sentry-cdn.com/ca6ff8cc0e2248068d84643686a763d1.min.js" crossorigin="anonymous"></script>
    <!-- script
      src="https://browser.sentry-cdn.com/9.32.0/bundle.tracing.replay.feedback.min.js"
      integrity="sha384-Ysq3iic+5Yn+pBlZKjcZ0ooGe9g6KnGvGAA6dEFo5tKnz5wUWG0tajuhyqxBqnmP"
      crossorigin="anonymous"
      ></script -->{% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {#% if domain == "international.royalsociety.org.nz" %#}
    {% if SITE_ID == 2 or SITE_ID == 3 or SITE_ID == 4 or SITE_ID  == 5 %}
      <link rel="icon" href="{% static 'images/stlp.royalsociety.org.nz/favicon.ico' %}">
      <link rel="SHORTCUT ICON" href="{% static 'images/stlp.royalsociety.org.nz/favicon.ico' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/stlp.royalsociety.org.nz/favicons/RS/logoBandTransparentSquareNoWriting__ScaleWidthWzMyXQ.png' %}">
	<link rel="apple-touch-icon" type="image/png" sizes="32x32" href="{% static 'images/stlp.royalsociety.org.nz/favicons/RS/logoBandTransparentSquareNoWriting__ScaleWidthWzMyXQ.png' %}">
	<link rel="icon" type="image/png" sizes="128x128" href="{% static 'images/stlp.royalsociety.org.nz/favicons/RS/logoBandTransparentSquareNoWriting__ScaleWidthWzEyOF0.png' %}">
	<link rel="apple-touch-icon" type="image/png" sizes="128x128" href="{% static 'images/stlp.royalsociety.org.nz/favicons/RS/logoBandTransparentSquareNoWriting__ScaleWidthWzEyOF0.png' %}">
	<link rel="icon" type="image/png" sizes="144x144" href="{% static 'images/stlp.royalsociety.org.nz/favicons/RS/logoBandTransparentSquareNoWriting__ScaleWidthWzE0NF0.png' %}">
	<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="{% static 'images/stlp.royalsociety.org.nz/favicons/RS/logoBandTransparentSquareNoWriting__ScaleWidthWzE0NF0.png' %}">
	<link rel="icon" type="image/png" sizes="310x310" href="{% static 'images/stlp.royalsociety.org.nz/favicons/RS/logoBandTransparentSquareNoWriting__ScaleWidthWzMxMF0.png' %}">
	<link rel="apple-touch-icon" type="image/png" sizes="310x310" href="{% static 'images/stlp.royalsociety.org.nz/favicons/RS/logoBandTransparentSquareNoWriting__ScaleWidthWzMxMF0.png' %}">

	<!--[if lt IE 9]>
                <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

        <!-- https://helpx.adobe.com/typekit/using/content-security-policy.html -->
        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' *.radionz.co.nz; script-src 'self' 'sha256-5kMb497w7ItxXRHeDONhgk1HOjOqzAVeP4/0KPiMW0Y=' 'sha256-9g3/5tK7TVEOKjpR2drHlVUOymcGU+GKzMMtYimN6Iw=' graph.facebook.com count-server.sharethis.com use.typekit.net platform-api.sharethis.com buttons-config.sharethis.com www.google-analytics.com www.google.com www.gstatic.com; style-src 'self' 'unsafe-inline' use.typekit.net; font-src 'self' use.typekit.net fonts.typekit.net; img-src 'self' p.typekit.net www.google-analytics.com *.evbuc.com; connect-src 'self' l.sharethis.com performance.typekit.net; frame-src www.google.com player.vimeo.com youtube.com *.radionz.co.nz;">-->

      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
    {% elif SITE_ID == 2 %}
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/international.royalsociety.org.nz/favicons/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/international.royalsociety.org.nz/favicons/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/international.royalsociety.org.nz/favicons/favicon-16x16.png' %}">
    {% else %}
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    {% endif %}
    <link rel="manifest" href="{% url 'webmanifest' %}">

    {% block css %}

      <!-- Latest compiled and minified Bootstrap CSS -->
      <!-- link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.standalone.min.css" integrity="sha512-D5/oUZrMTZE/y4ldsD6UOeuPR4lwjLnfNMWkjC0pffPTCVlqzcHTNvkn3dhL7C0gYifHQJAIrRTASbMvLmpEug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css" -->
      <!-- link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/ -->
      <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" / -->
      <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css" -->
      {#% if domain == "international.royalsociety.org.nz" %#}
      {% if SITE_ID == 5 %}
        <link href="{% static 'css/tawhia.royalsociety.org.nz.css' %}" rel="stylesheet">
      {% elif SITE_ID == 4 %}
        <link href="{% static 'css/puanga.royalsociety.org.nz.css' %}" rel="stylesheet">
      {% elif SITE_ID == 3 %}
        <link href="{% static 'css/stlp.royalsociety.org.nz.css' %}" rel="stylesheet">
      {% elif SITE_ID == 2 %}
        <link href="{% static 'css/international.royalsociety.org.nz.css' %}" rel="stylesheet">
      {% else %}
        <link href="{% static 'css/portal.pmscienceprizes.org.nz.css' %}" rel="stylesheet">
        <!-- link href="{% static 'css/project.css' %}" rel="stylesheet" -->
      {% endif %}

      <!-- Your stuff: Third-party CSS libraries go here -->
      {#% compress css %#}
        {% block localcss %}
          <!-- This file stores project-specific CSS -->
          <style>
.select2-selection__arrow {display: none;}
.select2-container { min-width: initial; }
/* .select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered {height: auto !important;} */
.select2-container--default .select2-selection--single .select2-selection__rendered {height: auto !important;}
tr.htmx-swapping td {opacity: 0; transition: opacity 1s ease-out;}
table.table .asteriskField,.popover-header {color: gray;}
.greyAsteriskField { color: $red; font-weight: bold; margin-left: 1.6px; }
.tagselect2,.modelselect2multiple,.modelselect2nopk {height: auto !important;}
.jumbotron {padding: 2rem 2rem;}
/* .tooltip-inner #gravatar-tooltip {text-align: left; white-space: nowrap;} */
.tooltip-inner {max-width: 300px;}
.popover {max-width: 400px;}
.custom-file-label::after {content: "{% trans 'Browse' %}";}
:root {--border-color: lightgray;}
.htmx-indicator{opacity:0; transition: opacity 500ms ease-in;}
.htmx-request .htmx-indicator{opacity:1;}
.htmx-request.htmx-indicator{opacity:1;}
.spinner-indicator{
  display:none;
  z-index: 2;
  position:absolute;
  max-width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.htmx-request .spinner-indicator{
  /* display:inline; */
  display: flex;
  justify-content: center;
}
.htmx-request.spinner-indicator{
  /* display:inline; */
  display: flex;
  justify-content: center;
}
.note-editable {
  font-family: "Arial", sans-serif;
  font-size: 12px;
}
</style>
        {% endblock %}
      {#% endcompress %#}
    {% endblock %}

    {% block headerjs %}
      <!-- Some JS needs to be loaded before the body -->
      <!-- Bootstrap JS and its dependencies-->
      <!-- script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script -->
      <!-- script src="https://code.jquery.com/jquery-3.5.1.min.js"></script -->
      <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script -->
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {% endblock %}

  </head>

  <!-- body class="d-flex flex-column min-vh-100" -->
  <body class="d-flex flex-column min-vh-100"{% if csrf_token %} hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'{% endif %}>
    {% block body %}
      <!-- img id="spinner" class="spinner-indicator" src="{% static 'images/spinner.png' %}" / -->
        <div class="alert alert-primary spinner-indicator" role="alert" id="spinner">
          <img src="{% static 'images/spinner.png' %}" />
          {% trans 'We are processing your request. Please be patient.' %}
        </div>

      {% block header %}
        <div class="mb-0" style="box-shadow: 0px 0px 19px rgb(0 0 0 / 30%);">

          {% include 'header.html' %}

          <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!--  a class="navbar-brand" href="{% url 'home' %}">
              <img
              id="logo"
              src="{% static 'images/logo.png' %}"
              alt="The Prime Minister's Science Prizes">
              </a -->

              <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                  {% if user.is_authenticated %}
                    {% cache 600 navbar user.pk %}
                    <li class="nav-item" id="home">
                      <a class="nav-link" href="{% url 'home' %}">
                        <i class="fa fa-fw fa-home"></i> {% trans 'Home' %}<span class="sr-only">(current)</span>
                      </a>
                    </li>
                    {% if is_ro %}
                      <li class="nav-item" id="contracts">
                        <a class="nav-link" href="{% url 'contract-list' %}">
                          <i class="fa fa-fw fa-file-contract"></i> {% trans 'Contracting' %}<!-- span class="sr-only">(current)</span -->
                        </a>
                      </li>
                      <li class="nav-item" id="variants">
                        <a class="nav-link" href="{% url 'change-request-list' %}">
                          <i class="fa fa-fw fa-clone"></i> {% trans 'Variations' %}<!-- span class="sr-only">(current)</span -->
                        </a>
                      </li>
                      <li class="nav-item" id="reports">
                        <a class="nav-link" href="{% url 'report-list' %}">
                          <i class="fa fa-file"></i> {% trans 'Reporting' %}<!-- span class="sr-only">(current)</span -->
                        </a>
                      </li>
                      <li class="nav-item" id="reports">
                        <a class="nav-link" href="#" data-toggle="tooltip" title="Manage Contacts">
                          <i class="fa fa-address-book"></i> {% trans 'Contacts' %}<!-- span class="sr-only">(current)</span -->
                        </a>
                      </li>
                    {% else %}
                      <li class="nav-item" id="about">
                        <a class="nav-link"
                          href="{% url 'about' %}"
                          {% if SITE_ID == 2 %}
                            data-toggle="tooltip" title="About Catalyst"
                          {% elif SITE_ID == 3 %}
                            data-toggle="tooltip" title="About Science Teaching Leadership Programme"
                          {% elif SITE_ID == 4 %}
                            data-toggle="tooltip" title="About Ngā Puanga Pūtaiao Fellowships"
                          {% elif SITE_ID == 5 %}
                            data-toggle="tooltip" title="About The Aotearoa New Zealand Tāwhia Te Mana Research Fellowships"
                          {% endif %}>
                          <i class="fas fa-trophy"></i>
                          {% if SITE_ID == 1 %}
                            {% trans 'About the Prizes' %}
                          {% else %}
                            {% trans 'About' %}{% if site_name %} {{ site_name }}{% endif %}
                          {% endif %}
                        </a>
                      </li>
                    {% endif %}
                    {% if user.is_admin %}
                      <li class="nav-item" id="admin:index">
                        <a id="admin-link" class="nav-link" href="{% url 'admin:index' %}">
                          <i class="fas fa-radiation"></i> {% trans "Admin" %}</a>
                      </li>
                      {#% if user.is_superuser or user.is_site_staff %#}
                        <li class="nav-item" id="explorer_index">
                          <a id="admin-link" class="nav-link" href="{% url 'explorer_index' %}">
                            <i class="fas fa-database"></i> {% trans "DB Explorer" %}</a>
                        </li>
                      {#% endif %#}
                      {% if LIMESURVEY_ADMIN_URL %}
                        <li class="nav-item" id="limesurvey-admin_id">
                          <a id="limesurvey-admin-link" class="nav-link" href="{{ LIMESURVEY_ADMIN_URL }}">
                            <img src="{% static 'images/limesurvey.png' %}" width="19" height="19" class="d-inline-block align-top" alt="LimeSurvey"> {% trans "LimeSurvey" %}
                          </a>
                        </li>
                      {% endif %}
                      <li class="nav-item" id="invitation-create">
                        {# URL provided by django-allauth/account/urls.py #}
                        <a class="nav-link" href="{% url 'invitation-create' %}">
                          <i class="fas fa-paper-plane"></i> {% trans "Invite to join" %}
                        </a>
                      </li>
                      <li class="nav-item" id="tags">
                        {# URL provided by django-allauth/account/urls.py #}
                        <a class="nav-link" href="{% url 'tags' %}">
                          <i class="fas fa-tags"></i> {% trans "Tags" %}
                        </a>
                      </li>
                      <li class="nav-item" id="stared">
                        {# URL provided by django-allauth/account/urls.py #}
                        <a class="nav-link" href="{% url 'stared' %}">
                          <i class="fas fa-star" aria-hidden="true"></i> {% trans "Favorites" %}
                        </a>
                      </li>
                    {% endif %}
                    {% endcache %}
                  {% endif %}
                </ul>

                <ul class="navbar-nav ml-auto">

                  {% if user.is_authenticated %}
                    {% cache 600 gravatar user.pk %}
                    {% with orcid=user.get_orcid %}
                    <img alt="GRAVATAR"
                         src="{{ user.avatar }}"
                         style="-webkit-border-radius: 12%; border-radius: 12%; max-width: 38px;"
                         data-toggle="popover"
                         data-html="true"
                         data-placement="left"
                         data-trigger="focus"
                         tabindex="0"
                         title="{% trans 'User' %}"
                         data-content="<p id='gravatar-tooltip' class='mb-0'><b>{% trans 'Email' %}:&nbsp</b>{{ user.email }}<br/>
                                <b>{% trans 'Name' %}:&nbsp</b>{{ user.name|default:'N/A' }}<br/>
                                <b>{% trans 'Username' %}:&nbsp</b>{{ user.username }} (<b>ID</b>: {{ user.pk }})
                                {% if orcid %}<br/><b>ORCID:&nbsp</b>{{ orcid }}{% endif %}
                                {% if is_ro or is_staff or user.is_superuser %}
                                <br/>{% trans 'Permissions' %}:<br/>
                                <ul>
                                  {% if is_staff %}<li>{% trans 'Staff' %}</li>{% endif %}
                                  {% if user.is_superuser %}<li>{% trans 'Superuser' %}</li>{% endif %}
                                  {% if is_ro %}<li>{% trans 'R.O.' %}</li>{% endif %}
                                </ul>
                                {% endif %}</p>"
                    >
                    {% endwith %}
                    {% endcache %}
                    <li class="nav-item dropdown" id="profile">
                      <a class="nav-link dropdown-toggle"
                         data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false"
                         id="navbarDropdownMenuLinkProfile">
                        <!-- i class="fas fa-user"></i -->
                        {{ user.username }}
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-info"
                           aria-labelledby="navbarDropdownMenuLinkProfile">

                        {% if request.COOKIES.previous_user_id %}
                          <a class="dropdown-item"
                             href="{% url 'switch-back' %}"
                             id="switch-back"
                             data-toggle="tooltip"
                             title="{% trans 'Swich back to the previous account...' %}"
                          >
                            <i class="fas fa-random"></i> {% trans "Switch User" %}
                          </a>
                        {% endif %}

                        <a class="dropdown-item" href="{% url 'my-profile' %}" id="profile">
                          {# URL provided by django-allauth/account/urls.py #}
                          <i class="fas fa-id-badge"></i> {% trans "My Profile" %}
                        </a>

                        <a class="dropdown-item"
                           href="{% if user.has_rapidconnect_account %}{% url 'logout' %}{% else %}{% url 'account_logout' %}{% endif %}"
                           id="logout">
                          <i class="fas fa-sign-out-alt"></i> {% trans "Sign Out" %}
                        </a>

                      </div>
                    </li>
                  {% endif %}

                  {#% if domain != "international.royalsociety.org.nz" %#}
                  <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <!-- input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" / -->
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="langDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong>{{ LANGUAGE_CODE }}</strong>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right " aria-labelledby="langDropdownMenuButton">

                        {% for language in languages %}
                          <button type="submit"
                                  name="language"
                                  value="{{ language.code }}"
                                  class="dropdown-item {% if language.code == LANGUAGE_CODE %}selected{% endif %}">
                            <strong>{{ language.code }}</strong>: {{ language.name_local }}
                          </button>
                        {% endfor %}

                      </div>
                    </div>
                  </form>
                  {#% endif %#}

                </ul>
              </div>
          </nav>

        </div>

        {% block breadcrumbs %}
          {% breadcrumb_raw_safe '<i class="fa fa-fw fa-home"></i>' "/" %}
        {% endblock %}
        {% block breadcrumbs_content %}
          {% if not disable_breadcrumbs and user.is_authenticated %}
            {% render_breadcrumbs "breadcrumbs.html" %}
          {% else %}
            <div class="mt-3"></div>
          {% endif %}
        {% endblock %}

      {% endblock header %}

      <div class="container-fluid">

        {% if requery.user.needs_identity_verification %}
          {% if domain == 'international.royalsociety.org.nz' %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <span class="badge badge-info">{% trans 'New' %}</span>
              {% trans "This scheme requires a copy of the passport for the the lead applicant." %}
              <a href="{% url 'photo-identity' %}" class="alert-link">{% trans "Please upload a scan of your Passport" %}!</a>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% else %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <span class="badge badge-info">{% trans 'New' %}</span>
              {% trans "This Prize requires photo identification for the the lead applicant." %}
              <a href="{% url 'photo-identity' %}" class="alert-link">{% trans "Please upload a scan of your Driver's Licence or Passport" %}!</a>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endif %}

        {% if outstanding_invitations %}
          {% for oi in outstanding_invitations %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              {% if oi.created_at >= three_days_ago %}
                <span class="badge badge-primary">{% trans 'New' %}</span>
              {% endif %}
              {% if oi.referee %}
                {% blocktrans with a=oi.referee.application url=oi.referee.application.detail_url %}
                You have an invitation to submit a referee report for application <a href="{{ url }}">{{ a }}</a>.
                {% endblocktrans %}
              {% elif oi.type == 'A' %}
                {% if oi.round %}
                  {% blocktrans with round=oi.round %}You have an invitation to submit an application for the round <b>{{ round }}</b> that hasn't been acted on.{% endblocktrans %}
                {% else %}
                  {% trans "You have an invitation to submit an application that hasn't been acted on." %}
                {% endif %}
              {% elif oi.type == 'T' %}
                {% if oi.application %}
                  {% blocktrans with application=oi.application %}You have an invitation to join the team of the application <b>{{ application }}</b> that hasn't been acted on.{% endblocktrans %}
                {% else %}
                  {% trans "You have an invitation to join an application team that hasn't been acted on." %}
                {% endif %}
              {% else %}
                {% trans "You have an invitation that hasn't been acted on." %}
              {% endif %}
              <a href="{% url 'onboard-with-token' token=oi.token %}" class="alert-link">
                {% if oi.referee %}
                  {% trans 'Please click here to review the application' %}!
                {% else %}
                  {% trans 'Please click here to review it' %}!
                {% endif %}
              </a>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}

        {% if outstanding_nominations and outstanding_nominations.count %}
          {% for n in outstanding_nominations %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              {% if n.created_at >= three_days_ago %}
                <span class="badge badge-primary">{% trans 'New' %}</span>
              {% endif %}
              {% trans "You have a nomination to apply that hasn't been acted on." %}
              <a href="{% url 'nomination-detail' pk=n.pk %}" class="alert-link">
                {% trans 'Please click here to review it' %}!
              </a>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}

        {% if outstanding_identity_verifications  %}
          {% for oiv in outstanding_identity_verifications %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              {% if oiv.created_at >= three_days_ago %}
                <span class="badge badge-primary">{% trans 'New' %}</span>
              {% endif %}
              {% trans "A user has submitted a photo for identity verification." %}
              <a href="{% url 'identity-verification' pk=oiv.id %}" class="alert-link">{% trans 'Please click here to review it' %}!</a>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}

        {% if outstanding_authorization_requests %}
          {% for o in outstanding_authorization_requests %}
            {% if o.application and o.application.id %}
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                {% if o.created_at >= three_days_ago %}
                  <span class="badge badge-primary">{% trans 'New' %}</span>
                {% endif %}
                {% blocktrans with site_name=site_name %}
You have a request to join a {{ site_name }} team that you still have to act on.
                {% endblocktrans %}
                <a href="{% url 'application' pk=o.application.id %}" class="alert-link">
                  {% trans 'Please click here to review the request' %}!
                </a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if outstanding_testimonial_requests %}
          {% for o in outstanding_testimonial_requests %}
            {% if o.testimonial_id %}
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                {% if o.created_at >= three_days_ago %}
                  <span class="badge badge-primary">{% trans 'New' %}</span>
                {% endif %}
                {% blocktrans with site_name=site_name %}
You have a request to review a {{ site_name }} application to act on.
                {% endblocktrans %}
                    {% if o.application.round.survey_id %}
                      <a href="{% url 'survey-referee' referee_id=o.id %}" class="alert-link">
                        {% trans 'Please click here to complete the referee report' %}!
                      </a>
                    {% else %}
                      <a href="{% url 'testimonial' pk=o.testimonial_id %}" class="alert-link">
                        {% trans 'Please click here to view the review request' %}!
                      </a>
                    {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if outstanding_review_requests %}
          {% for o in outstanding_review_requests %}
            {% if o.round_id %}
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                {% if o.created_at >= three_days_ago %}
                  <span class="badge badge-primary">{% trans 'New' %}</span>
                {% endif %}
                {% trans "You have a request to review and score a round that hasn't been reviewed yet." %}
                <a href="{% url 'round-application-list' round_id=o.round_id %}" class="alert-link">
                  {% blocktrans with round=o.round %}
                    Please click here to review and score the round "{{ round }}".
                  {% endblocktrans %}
                </a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if user_verifications %}
          {% for u in user_verifications %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              {% if u.last_login >= three_days_ago or u.date_joined >= three_days_ago %}
                <span class="badge badge-primary">{% trans 'New' %}</span>
              {% endif %}
              {% trans "You have a request to review new user account." %}
              <a href="{% url 'profile-summary' username=u.username %}" class="alert-link">
                {% blocktrans with username=u.username %}
                  Please click here to review the user "{{ username }}" account.
                {% endblocktrans %}
              </a>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}

          <div class="row">
            <div class="col-md" id="messages" hx-on::after-swap="setTimeout(function() {$('#messages .alert').fadeOut('slow');}, 15000);">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message|safe }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                {% endfor %}
              {% endif %}
            </div>
          </div>

        {% if form.errors %}
          {% include "form_errors.html" %}
        {% endif %}

        {% comment %}
        {% if formset.errors %}
          {% include "formset_errors.html" %}
        {% endif %}
        {% endcomment %}

        {% if inlines %}
          {% for formset in inlines %}
            {% if formset.errors %}
              {% include "formset_errors.html" %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {% block page %}
          <div class="row">
            {% if user.is_authenticated and sidebar != "off" %}
              <!-- div class="col-md-3 d-none d-md-block" style="max-width: 18rem;" -->
              <div class="col-md-auto d-none d-md-block" style="max-width: 18rem;">
                {% block sidebar %}{% include 'sidebar.html' %}{% endblock sidebar %}
              </div>
            {% endif %}
            <!-- div class="col-md-{% if sidebar == "off" %}12{% else %}9{% endif %} mt-2 mb-3" -->
            <div class="col-md mt-2 mb-3">
              {% block content %}{% endblock content %}
            </div>
          </div>
        {% endblock page %}

      </div> <!-- /container-fluid -->

      {% block modal %}{% endblock modal %}

      {% block footer %}
        {% include 'footer.html' %}
      {% endblock footer %}

      <!-- section class="">
        <footer class="footer">
        <div class="container">

        <div class="row">
        <div class="col-sm-6">
        <p class="contact">
        <small>
        The Prime Minister’s Science Prizes Secretariat<br>
        Phone: +64 (04) 472 7421<br>
        PO Box 598, Wellington 6001<br>
        New Zealand<br>
        <b><a href="mailto:pmscienceprizes@royalsociety.org.nz">pmscienceprizes@royalsociety.org.nz</a></b>
        </small>
        </p>
        </div>
        <div class="col-sm-6">
        <p class="copyright">
        <small>
        2021 {% trans 'Royal Society Te Apārangi' %}<br>
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
        <img src="{% static 'images/CC-BY-icon-88x31.png' %}" alt="CC-BY">
        </a>
        </small>

        </p>
        </div>
        </div>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright: {% trans 'Royal Society Te Apārangi' %}
        <a class="text-white" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
        <img src="{% static 'images/CC-BY-icon-88x31.png' %}" alt="CC-BY">
        </a>
        </div>

        </footer>

        </section -->

        <!-- footer class="footer">
          <div class="container">
          <p></p><strong>Contact</strong> Us <strong>Whakapā</strong> Mai</p>
          <div class="row">
          <div class="footer-col footer-left col-sm-6">
          <div class="widget text-2 widget_text">			<div class="textwidget"><p>The Prime Minister’s Science Prizes is administered by the<br>
          <strong><a href="http://www.royalsociety.org.nz/">Royal Society Te Apārangi.</a></strong></p>
          <p><small>Website provided by <a href="https://www.ackama.com">Ackama</a></small></p>
          </div>
          </div>
          </div>
          <div class="footer-col footer-right col-sm-6">
          <div class="widget text-3 widget_text">			<div class="textwidget"><strong>The Prime Minister’s Science Prizes Secretariat</strong><br>
          PO Box 598 |  Wellington 6001<br>
          Tel: (04) 472 7421<br>
          <a href="mailto:pmscienceprizes@royalsociety.org.nz">pmscienceprizes@royalsociety.org.nz</a></div>
          </div>
          </div>
          </div>
          </div>
          </footer -->

          <!-- Le javascript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            {% block javascript %}

              <!-- Bootstrap JS and its dependencies-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <!-- script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script -->
      <!-- script src="{% static 'js/bootstrap.min.js' %}"></script -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script -->
      <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script -->
      <!-- script src="https://unpkg.com/htmx.org@2.0.2"></script -->
      <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
      <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      {#% compress js %#}
        <!-- script src="{% static 'js/project.js' %}"></script -->
      <script>
        // var tracking_disabled; // TODO: is it still working?
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: "btn btn-danger ml-1",
            cancelButton: "btn btn-success"
          },
          buttonsStyling: false
        });
        $(document).ready(function() {
                  $.fn.datepicker.defaults.format = "yyyy-mm-dd";
                  $.fn.datepicker.defaults.autoclose = true;

                  // $.fn.select2.defaults.set("theme", "bootstrap4");
                  // Timezone settings
                  if (!document.cookie.includes("django_timezone=")) {
                    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
                    document.cookie = "django_timezone=" + timezone;
                  };
                  $("time").each(function () {
                    var el = $(this);
                    var dt = moment.utc(el.attr("datetime")).local();
                    el.html(dt.format(el.data("format") || "YYYY[&#8209;]MM[&#8209;]DD[&nbsp;]HH:mm"));
                  });
                  // $('[data-toggle="tooltip"]').tooltip();
                  $('[data-toggle="tooltip"],[data-tooltip="tooltip"]').tooltip({ boundary: 'window' });
                  // $('.popover-dismiss').popover({ trigger: 'focus' });
                  $('[data-toggle="popover"][data-trigger!="manual"]').popover();
                  $('[data-toggle="popover"][data-trigger="manual"]').hover(function() {
                    $(this).popover('show');
                    $(document.getElementById($(this).attr("aria-describedby"))).click(function() {
                      $(this).popover('hide');
                    });
                  });
                  $('[data-toggle="popover"]').popover({trigger: 'focus'});
                  if ($('[data-toggle="popover"]').length) {
                    $(document).keyup(function (event) {
                        if (event.which === 27) {
                            $('[data-toggle="popover"]').popover('hide');
                        }
                    });
                  }
                  $("#{{view_name}}{% if object_state %},#{{view_name}}-{% if object_state == 'new' %}draft{% else %}{{ object_state }}{% endif %}{% if model_name %},#{{model_name}}s-{% if object_state == 'new' %}draft{% else %}{{ object_state }}{% endif %}{% endif %}{% endif %},#{{view_name}}").addClass("active");
                  document.addEventListener("htmx:confirm", function(e) {
                    e.preventDefault()
                    // https://github.com/bigskysoftware/htmx/issues/2029
                    if (!e.target.hasAttribute('hx-confirm')) {
                      e.detail.issueRequest(true);
                      return;
                    }
                    swalWithBootstrapButtons.fire({
                      title: "{% trans 'Proceed?' %}",
                      text: (e.detail.question?e.detail.question:"{% trans 'Are you sure you want to delete the selected data entry and all the objects linked to it?' %}"),
                      showCancelButton: true,
                      reverseButtons: true,
                      cancelButtonText: "{% trans 'Cancel' %}",
                      confirmButtonText: "{% trans 'Yes, delete it!' %}"
                    }).then(function(result) {
                      if(result.isConfirmed) e.detail.issueRequest(true) // use true to skip window.confirm
                    })
                  });
                  setTimeout(function() {$('#messages .alert').fadeOut('slow');}, 70000);
        {% if site_id == 2 and user.is_authenticated and not is_admin and not request.session.country and not user.person.address.country %}
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(location) {
              document.cookie = "latitude=" + location.coords.latitude;
              document.cookie = "longitude=" + location.coords.longitude;
            });
          }
        {% endif %}
      {% if settings.SENTRY_DSN %}
        try {
          // Sentry.setUser({ fullName: "{{ user.full_name }}", email: "{{ user.email }}"});
          Sentry.init({
          dsn: '{{ settings.SENTRY_DSN }}',
          integrations: [
              Sentry.feedbackIntegration({
                colorScheme: "system",
                {% if user.is_authenticated %}
                useSentryUser: {name: "fullName", email: "email"}
                {% endif %}
              }),
            ],
          });
        } catch (error) {
          if (window.navigator.brave != undefined && window.navigator.brave.isBrave.name == "isBrave") {
            const d = new Date();
            d.setTime(d.getTime() + (5*60*1000)) // 5min;
            document.cookie = "sentry_disabled=1; expires=" + d.toUTCString() + " ;path=/";
          }
        }
      {% endif %}
      $("form").on("submit", function() {
        $(this).find("select[name*='org'] option[value]").each( function() {
          if (this.value) {
            console.log(`"${this.value}:${this.text}"`, this.form);
            $(this.form).append(`<input name="selected_org_with_label" type="hidden" value="${this.value}:${this.text}">`);
          }
        });
      });
  });
</script>
    {#% endcompress %#}
    {% if request.GET.logout %}
      <script>$(document).ready(function() {$.ajax({url: '{{ settings.ORCID_BASE_URL }}' + 'userStatus.json?logUserOut=true', dataType: 'jsonp'});});</script>
    {% endif %}

  {% endblock javascript %}
{% endblock %}
  </body>
</html>
{# vim:set ft=htmldjango: #}
