{% extends 'base.html' %}
{% load i18n tags crispy_forms_tags %}

{% if tag_form %}
{% block css %}
  {% if has_comments and attachments %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.1/dist/bootstrap-table.min.css">{% endif %}
{{ tag_form.media.css }}
{{ block.super }}
<style>
.select2-selection__arrow {display: none;}
.select2-container { min-width: initial; }
.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered {height: auto !important;}
.modelselect2multiple,.modelselect2nopk {height: auto !important;}
.btn-tiny {
  padding: .1rem .3rem; /* Adjust padding as needed */
  font-size: .75rem;   /* Adjust font size as needed */
  /* Add other styles like line-height or border-radius if necessary */
}
</style>
{% endblock %}
{% endif %}

{% block content %}

  {% if transitions %}
    <form method="post">
      {% csrf_token %}
      {% include 'snippets/resolution_modal.html' %}
    </form>
  {% endif %}

  <!-- Placeholder for the modal -->
  <div id="form-modal" class="modal fade bd-example-modal-lg" data-keyboard="true" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="form-dialog" class="modal-dialog modal-lg" hx-target="this"></div>
  </div>

  <h1>
    {% block content_header %}
    {% if object.number %}
      {{ object.number }}{% if object.contract %}
      - <a href="{{ object.contract.get_absolute_url }}" target="_blank">{{ object.contract }}
    </a> {% endif %}
    {% else %}
      {{ object|title }}
    {% endif %}
    {% endblock %}
    {% if object.favorites %}
      {% with is_favorited=user|is_favorited:object object_id=object.pk %}
      {% comment %}
      <span id="favorite-{{ object.pk }}">
        {% include 'snippets/favorite_button.html' with object_id=object.pk is_favorited=user|is_favorited:object %}
      </span>
      {% endcomment %}
        <a hx-put="{{ request.path }}?toggle_favorite=1"
          hx-target="#favorite-status-{{ object_id }}"
          hx-swap="outerHTML"
          class="{% if is_favorited %}favorited{% else %}not-favorited{% endif %}"
        >
          <i id="favorite-status-{{ object_id }}" class="{% if is_favorited %}fa{% else %}far{% endif %} fa-star" aria-hidden="true"></i>
        </a>
      {% endwith %}
    {% endif %}
  </h1>

  <div class="row">
    <div class="col-12">

  {% block buttons_above %}
  <div class="row">
    <div class="col-12">
      <hr />
        {% include 'snippets/detail_buttons.html' %}
    </div>
  </div>
  {% endblock buttons_above %}

  {% block tags %}
    {% if tag_form %}
    <div class="row">
      <div class="col-12">
      {% if tag_form.helper %}
        {% crispy tag_form tag_form.helper %}
      {% else %}
        {{ tag_form|crispy }}
      {% endif %}
      </div>
    </div>
    {% endif %}
  {% endblock %}

  {% block object_details %}

      {% if tabbed_ui %}
        <ul class="nav nav-tabs">
          <li class="nav-item active">
            <a class="nav-link active" href="#details" data-target="#details" data-toggle="tab">{% trans 'Details' %}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#correspondence" data-target="#correspondence" data-toggle="tab">
                <i class="fas fa-comments"></i> {% trans 'Correspondence' %}
              </a>
          </li>
          {% if attachments %}
            <li class="nav-item">
                <a class="nav-link" href="#attachments" data-target="#attachments" data-toggle="tab">
                  <i class="fas fa-paperclip"></i> {% trans 'Attachment(s)' %}
                </a>
            </li>
          {% endif %}
          {% block object_details_extra_tabs %}{% endblock object_details_extra_tabs %}
        </ul>

        <div class="tab-content card-body">
          <div id="details" class="tab-pane active">

      {% endif %}

  {% block object_details_table %}
  <div class="table-responsive">
  <table class="table table-bordered searchable">
    <tbody>
      {% for field in object|fields %}
        <!-- {{ field }} // {{ exclude }} -->
        {% if field.name != 'id' and exclude is None or field.name not in exclude and field.name != "tagged_items" %}
          {% if not object|field_is_empty:field.name %}
          {% with value=object|field_value:field.name %}
          <tr>
            <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
              {% if field.name == "tags" %}
                {% trans 'Tags' %}
              {% else %}
                {{ field.verbose_name|title }}
              {% endif %}
            </th>
            <td>
              {% if not value and value != 0 %}
                {% trans 'N/A' %}
              {% elif field.name == "summary" or field.name == "abstract" or field.name == "notes" or field.name == "assessment" or field.name == "description"  or field.name == "reply" %}
                {{ value|safe }}
              {% elif field|is_file_field %}
                <a href="{{ object|field_file_url }}" target="_blank">{{ object|field_file_name|basename }}</a>
              {% elif field.name == "converted_file"%}
                <a href="{{ object.converted_file|field_file_url }}" target="_blank">
                  {{ object.converted_file|field_file_name|basename }}
                </a>
              {% elif field.name == "tags" %}
                {% for tag in object.tags.all %}
                  <span class="badge badge-secondary">{{ tag }}</span>
                {% empty %}
                  {% trans 'N/A' %}
                {% endfor %}
              {% else %}
        <!-- {{ field.name }} // {{ value }} -->
                {{ value }}
              {% endif %}
            </td>
          </tr>
          {% endwith %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if extra_details %}
        {% for name, value in extra_details.items %}
          <!-- {{ name }}: {{ value }} -->
            <tr>
              <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
                {% if name.isupper %}{{ name }}{% else %}{{ name|title }}{% endif %}
              </th>
              <td>
                {% if not value and value != 0 %}
                  {% trans 'N/A' %}
                {% elif name == "summary" or name == "abstract" or name == "notes" or name == "assessment" or name == "description" %}
                  {{ value|safe }}
                {% elif value|is_file_field %}
                  <a href="{{ value.url }}" target="_blank">{{ value|basename }}</a>
                {% elif name == "tags" %}
                  {% for tag in value.all %}
                    <span class="badge badge-secondary">{{ tag }}</span>
                  {% empty %}
                    {% trans 'N/A' %}
                  {% endfor %}
                {% else %}
                  {{ value }}
                {% endif %}
              </td>
            </tr>
        {% endfor %}
      {% endif %}

    </tbody>
  </table>
  </div>
  {% endblock %}

  {% if tabbed_ui %}

    </div>

	    <div id="correspondence" class="tab-pane">
        {% crispy comment_form comment_form.helper %}
        {% include 'snippets/comments.html' %}
	    </div>

      {% if attachments %}
        <div id="attachments" class="tab-pane">
          <table class="table table-striped"
              data-toggle="table"
              data-search="true"
              data-show-columns="true"
          >
            <thead>
              <tr>
                <th scope="col" data-field="creaded_at" data-sortable="true">{% trans 'Added At' %}</th>
                <th scope="col" data-field="attachment" data-sortable="true">{% trans 'Attachment' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for a in attachments %}
                <tr>
                  <th scope="row">
                    {{ a.0 }}
                  </th>
                  <td>
                    <a href="{{ a.1.url }}" target="_blank">{{ a.1.name|basename }}</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      {% block object_details_extra_panes %}
        <!-- Extra panes can be added by child templates -->
      {% endblock %}

    </div>

  {% endif %}

  {% endblock object_details %}

  {% block extra_object %}
  {% if extra_object %}

  <h1>
    {{ extra_object }}
  </h1>

  <div class="table-responsive">
    <table class="table table-bordered searchable">
      <tbody>

        {% for field in extra_object|fields %}
          {% if exclude is None or field.name not in exclude %}
            {% if field.name != 'id' and extra_object|field_value:field.name %}
              {% if field.name != "summary_en" or extra_object.is_bilingual_summary %}{% if field.name != "summary_mi" or extra_object.is_bilingual_summary %}{% if field.name != "photo_identity" or request.user.is_staff or request.user.is_superuser %}
                <tr>
                  <th  class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
                    {{ field.verbose_name|title }}
                  </th>
                  <td>
                    {% if extra_object|field_is_empty:field.name %}
                      {% trans 'N/A' %}
                    {% elif field.name == "summary" or field.name == "summary_en" or field.name == "summary_mi" %}
                      {{ extra_object|field_value:field.name|safe }}
                    {% elif field|is_file_field %}
                        <a href="{{ extra_object|field_file_url }}" target="_blank">{{ extra_object|field_file_name|basename }}</a>
                    {% elif field.name == "converted_file"%}
                      <a href="{{ extra_object.converted_file|field_file_url }}" target="_blank">
                        {{ extra_object.converted_file|field_file_name|basename }}
                      </a>
                    {% else %}
                      {{ extra_object|field_value:field.name }}
                    {% endif %}
                  </td>
                </tr>
              {% endif %}{% endif %}{% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}

      </tbody>
    </table>
  </div>
  {% endif %}

  {% endblock extra_object %}

  <hr />
  {% block buttons_bellow %}
  {% include 'snippets/detail_buttons.html' %}
  {% endblock buttons_bellow %}

    </div>
  </div>

{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% if attachments %}<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.1/dist/bootstrap-table.min.js"></script>{% endif %}
  <script>
    $(document).ready(function(){
        // Keep track of the active tab
        $(document.body).on("click", "a[data-toggle='tab']", function(event) {
          location.hash = this.getAttribute("href");
        });
        // Jump to the last active tab:
        if (location.hash) {
            $('.nav a[href="' + location.hash + '"]').tab('show');
        }
        $('.tooltip-wrapper').tooltip(); // .tooltip({position: "bottom"});
        {% if has_comments %}
        htmx.on("htmx:afterSwap", (e) => {
          // Response targeting #dialog => show the modal
          target_id = e.detail.target.id;
          if (target_id == "form-dialog") {
            $('#form-modal').modal('show');
          }
          $("[required]").attr("hx-validate", true);
        });
        {% endif %}
        {% comment %}
        {% if has_comments and attachments %}
            const attachments = [
              {% for a in attachments %}
                {
                  "created_at": "{{ a.0 }}",
                  "name": "{{ a.1.name|basename }}",
                  "url": "{{ a.1.url }}"
                    }{% if not forloop.last %},{% endif %}
              {% endfor %}];

        {% endif %}
        {% endcomment %}
        $('button[data-action],input[type="submit"][data-toggle="modal"][name]').not('[name="save"],[data-target]').on("click", function(event) {
          event.preventDefault();
          event.stopPropagation();
          var el = event.target;
          $("[name='action'],#id_action").val(el.dataset["action"]||el.name);
          $('#id_commit_button').text(el.value||el.innerText||'{% trans "Commit" %}');
          $('#id_resolution_modal').modal('show');
          $('#id_resolution').trigger('focus');
          return false;
        });
        $('#id_resolution_modal,#id_agent_declaration_modal').on('shown.bs.modal', function (event) {
          $(this).find("textarea[name='resolution']").focus();
          var el = event.relatedTarget;
          if (el) {
            if (el.type == 'button') {
              $('#id_commit_button').text(el.value||el.innerText||el.name||'{% trans "Commit" %}');
            }
            $("[name='action'],#id_action").val(el.dataset["action"]||el.name);
          }
          $('#id_resolution').trigger('focus');
        });
      });
  </script>
  {% if tag_form %}
  <!-- tag_form JS media -->
    {{ tag_form.media.js }}
  <!-- end: tag_form JS media -->
  {% endif %}
{% endblock javascript %}
