{% extends 'detail.html' %}

{% load i18n crispy_forms_tags tags django_bootstrap_breadcrumbs %}
{% block sidebar %}{% include 'sidebar.html' with category="applications" %}{% endblock sidebar %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Nominations" "nominations" %}
  {% if object.state == "draft" or object.state == "new" %}
    {% breadcrumb "Draft" "nominations-draft" %}
  {% elif object.state == "submitted" %}
    {% breadcrumb "Submitted" "nominations-submitted" %}
  {% endif %}

  {% if object %}
    {% breadcrumb object "nomination-detail" object.pk %}
  {% endif %}
{% endblock %}

{% block content %}

  {% if start_applying %}
    <a class="btn btn-primary btn-lg" href="{{ start_applying }}">
      {% if SITE_ID == 2 or SITE_ID == 4 or SITE_ID == 5 %}
        {% trans 'Start Application' %}
      {% else %}
        {% trans 'Start Prize Application' %}
      {% endif %}
    </a>
  {% endif %}

  <hr />

  {% if form %}
    {% block css %}
      {{ form.media.css }}
      {{ block.super }}
    {% endblock %}
    {% crispy form %}
  {% else %}
  <form method="post">
     {% csrf_token %}
     <input type="hidden" name="action" id="id_action">
  {% endif %}

  {% if is_ro %}
    {% include 'snippets/resolution_modal.html' %}
  {% endif %}

  {{ block.super }}
  {% if not form %}</form>{% endif %}

{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% if form %}
      {{ form.media.js }}
  {% endif %}
  <script>
    $(document).ready(function() {
      $('#id_resolution_modal').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget) // Button that triggered the modal
        var action = target.data('action')||target.val(); // Extract info from data-* attributes
        $("#id_action").val(action);
      });
    });
  </script>
{% endblock javascript %}
{# vim:set ft=htmldjango: #}
