{% extends "table.html" %}

{% load static i18n django_bootstrap_breadcrumbs tags %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {% breadcrumb_raw_safe '<i class="fa fa-fw fa-home"></i>' "/" %}
  {% breadcrumb "Nominations" "nominations" %}
  {% if state == "draft" %}
    {% breadcrumb "Draft" "nominations-draft" %}
  {% elif state == "submitted" %}
    {% breadcrumb "Submitted" "nominations-submitted" %}
  {% endif %}
{% endblock %}

{% block sidebar %}{% include 'sidebar.html' with category="nominations" %}{% endblock sidebar %}

{% block action_button_line %}
  {{ block.super }}
  {% if all_rounds %}
    <form method="GET" action="{% url 'nomination-new' %}" class="form-inline">
      <input type="hidden" name="return_url" value="{{ request.get_full_path|safe }}">
      <div class="form-row">
        <fieldset>
      <select class="form-control" name="round" id="id_round">
        {% for r in all_rounds %}
          <option value="{{ r.pk }}"{% if request.GET.selected_round and request.GET.selected_round|eq_value:r.pk %} selected{% endif %} >{{ r }}</option>
        {% endfor %}
      </select>
      <div class="tooltip-wrapper" title="{% trans 'Nominate other person to apply ...' %}" data-toggle="tooltip" >
        <input class="btn btn-primary" type="submit" value="{% trans 'Create Nomination' %}" >
      </div>
        </fieldset>
      </div>
    </form>
  {% endif %}
{% endblock %}
