{% load i18n tags %}
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
@page {
    size: 21cm 29.7cm;
{% if application.site_id == 4 %}
    margin: 2cm 1cm 1cm 2cm;
{% else %}
    margin: 1cm 1cm 1cm 2cm;
{% endif %}
}
</style>

{% block body %}
{% block sidebar %}{% endblock %}
{% block header %}
{% include 'snippets/export-header.html' %}
{% endblock header %}
{% for object in objects %}
<h2>
  {{ object }}
</h2>
{% if summary_template %}
  {% jinja summary_template %}
{% else %}
  <table class="table table-bordered searchable">
    <tbody>
    {% for field in object|fields %}
      {% with name=field.name %}
        {% if name != 'site' and name != 'summary' and name != 'converted_file' and name != 'id' and name != 'favorites' and exclude is None or name not in exclude %}
          <tr>
            <th style="width: 21%; min-width: 160px; max-width: 180px;">
              {% if name == "state" %}
                {% trans 'Status' %}
              {% else %}
                {{ field.verbose_name|title }}
              {% endif %}
            </th>
            <td>
              {% if name == "summary" %}
                {{ object|field_value:field.name|safe }}
              {% elif name == "file" %}
                {{ object|field_value:field.name|basename }}
              {% else %}
                {{ object|field_value:field.name }}
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endwith %}
    {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endfor %}
{% endblock %}
</body>
</html>
