{% extends "base.html" %}
{% load static i18n cache tags django_bootstrap_breadcrumbs %}

{% block breadcrumbs_content %}<div class="mt-3"></div>{% endblock %}

{% block localcss %}
{{ block.super }}
<style>
.previous-applications-button {
  background-color: white;
}
button:hover .previous-applications-button:hover, button:focus .previous-applications-button:focus {
  background-color: inherit;
}

.partialcollapse .collapse {
  display: block;
  height: 120px !important;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  /*overflow-y: scroll;*/
}
.partialcollapse .collapsing {
  height: inherit!important;
}
.partialcollapse .collapse.show {
  height: auto !important;
  -webkit-mask-image: inherit;
  mask-image: inherit;
  /*overflow-y: scroll;*/
}
.partialcollapse .collapse.hide {
  height: inherit!important;
}
.partialcollapse .collapse+button:after {
  content: "+ {% trans 'Show More' %}";
}
.partialcollapse .show+button:after, .partialcollapse .collapsing+button:after {
  content: "- {% trans 'Show Less' %}";
}

.partialcollapse a.collapsed:after {
  content: "+ {% trans 'Show More' %}";
}

.partialcollapse a:not(.collapsed):after {
  content: "- {% trans 'Show Less' %}";
}
</style>
{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="details" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="detailsLabel" style="color:inherit">...</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="detailsBody">
          <title>...</title>
          <table class="table table-bordered searchable table-striped">
            <tbody>
                <tr>
                  <th style="width: 32%; min-width: 180px; max-width: 200px;">...</th>
                  <td>...</td>
                </tr>
                <tr>
                  <th>...</th>
                  <td>...</td>
                </tr>
                <tr>
                  <th>...</th>
                  <td>...</td>
                </tr>
                <tr>
                  <th>...</th>
                  <td>...</td>
                </tr>
                <tr>
                  <th>...</th>
                  <td>...</td>
                </tr>
                <tr>
                  <th>...</th>
                  <td>...</td>
                </tr>
                <tr>
                  <th>...</th>
                  <td>...</td>
                </tr>
                <tr>
                  <th>...</th>
                  <td>...</td>
                </tr>
              <tr>
                <th>...</th>
                <td>...</td>
              </tr>
            </tbody>
          </table>

          <a class="btn btn-primary" href="#" role="button">{% trans 'Show Detailed Report' %}</a>
          <a class="btn btn-outline-primary" href="#" role="button">{% trans 'Show Scores' %}</a>
          <a class="btn btn-outline-primary" href="#" role="button">{% trans 'Export PDF' %}</a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
        <!-- button type="button" class="btn btn-primary">Save changes</button -->
      </div>
    </div>
  </div>
</div>

<div class="container">

  <!-- h1>{% trans "Apply for The Prime Minister’s Science Prizes" %}</h1 -->

      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <h5 class="card-header">
              <b style="text-transform: uppercase;">
                {% trans "Applications from your institution" %}
              </b>
            </h5>
            <div class="card-body">
              {% blocktrans %}
                <p>Applications that have been submitted by researchers of your organisation.</p>
                <p>All Society-administered schemes 2020 to date.</p>
                <p>NB! For review only.</p>
              {% endblocktrans %}
              <!-- a href="/admin/portal/round/22/change/" class="btn btn-" style="text-transform: uppercase;"> Edit <b>Round</b></a -->
              <a style="text-transform: uppercase;" href="{% url 'applications' %}" type="button" role="button" class="btn btn-secondary" id="view-applications">{% blocktrans %}View <b>Applications </b>{% endblocktrans %}</a>

              <button type="button" class="btn btn-outline-primary"
                                    data-toggle="modal"
                                    data-target="#details"
                                    data-content-url="{% url 'applications' %}"
                                    data-detial-panel-title="{% trans 'Applications' %}"
                                    style="text-transform: uppercase;">
                {% blocktrans %}Show <b>Details</b>{% endblocktrans %}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <h5 class="card-header">
              <b style="text-transform: uppercase;">
                {% trans "Contrancts and awards from your institution" %}
              </b>
            </h5>
            <div class="card-body">
              {% blocktrans %}
                <p>
                Research contracts and awards from your organisation.</p>
                <p>All Society-administered schemes 2018 to date.</p>
                <p>NB! Contract variations can be requested and negotiated from here.</p>
              {% endblocktrans %}
              <!-- a href="/admin/portal/round/22/change/" class="btn btn-" style="text-transform: uppercase;"> Edit <b>Round</b></a -->
              <a style="text-transform: uppercase;" href="#" type="button" role="button" class="btn btn-secondary" id="view-contracts">{% blocktrans %}View <b>Contracts </b>{% endblocktrans %}</a>

              <button type="button" class="btn btn-outline-primary"
                                    data-toggle="modal"
                                    data-target="#details"
                                    data-content-url="{% url 'applications' %}"
                                    data-detial-panel-title="{% trans 'Contracts' %}"
                                    style="text-transform: uppercase;">
                {% blocktrans %}Show <b>Details</b>{% endblocktrans %}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <h5 class="card-header">
              <b style="text-transform: uppercase;">
                {% trans "Contranct reports from your institution" %}
              </b>
            </h5>
            <div class="card-body">
              {% blocktrans %}
                <p>Reports and reporting requirements of your contract(s).</p>
                <p>All Society-administered schemes 2018 to date.</p>
              {% endblocktrans %}
              <!-- a href="/admin/portal/round/22/change/" class="btn btn-" style="text-transform: uppercase;"> Edit <b>Round</b></a -->
              <a style="text-transform: uppercase;" href="#" type="button" role="button" class="btn btn-secondary" id="view-reports">{% blocktrans %}View <b>Reports </b>{% endblocktrans %}</a>

              <button type="button" class="btn btn-outline-primary"
                                    data-toggle="modal"
                                    data-target="#details"
                                    data-content-url="{% url 'applications' %}"
                                    data-detial-panel-title="{% trans 'Reports' %}"
                                    style="text-transform: uppercase;">
                {% blocktrans %}Show <b>Details</b>{% endblocktrans %}
              </button>
            </div>
          </div>
        </div>
      </div>

</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script>
  $(document).ready(function(){
    $("#details").on("show.bs.modal", function(event){
      $("#detailsLabel").html(event.relatedTarget.dataset.detialPanelTitle);
      // $("#detailsBody").load("round/" + event.relatedTarget.dataset.roundId);
      // $(this).find(".modal-body").load("round/" + event.relatedTarget.dataset.roundId);
      $("#detailsBody title").html(event.relatedTarget.dataset.detialPanelTitle);
      $('#details').trigger('focus');
    });
    $('.tooltip-wrapper').tooltip(); // .tooltip({position: "bottom"});
  });
</script>
{% endblock javascript %}

{# vim:set ft=htmldjango: #}
