{% load static i18n tags %}

{% with u=request.user %}
{% if u.is_approved %}

  {% if application_count > 0 or u.is_superuser or is_staff or u.is_site_staff %}
  <div class="card mb-2">
    <div class="card-header{% if category == "applications" %} bg-primary{% endif %}">
      {% if application_count %}
      <a href="{% if application_count > 5 or is_staff or u.is_superuser or is_ro or u.is_site_staff %}{% url 'applications' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}{% else %}{% url 'index' %}{% endif %}"{% if category == "applications" %} class="text-white"{% endif %}>
        {% trans 'Applications' %} <span class="badge badge-primary{% if category == "applications" %} bg-secondary{% endif %}">{{ application_count }}</span>
      </a>
    {% else %}
      {% trans 'Applications' %} <span class="badge badge-primary{% if category == "applications" %} bg-secondary{% endif %}">0</span>
    {% endif %}
    </div>
    {% if not category or category == "applications" and application_count %}
      <div class="card-body">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item" id="nominations-draft">
            {% if application_draft_count > 0 %}
              <a
                  class="nav-link"
                  id="applications-draft"
                  href="{% url 'applications-draft' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
                  title="{% trans 'Saved application drafts' %}"
                  data-toggle="tooltip"
                  >
                  {% trans 'Drafts' %}
                  <span class="badge badge-primary">{{ application_draft_count }}</span>
              </a>
            {% else %}
              <span class="nav-link"
                  title="{% trans 'No application drafts' %}"
                  data-toggle="tooltip"
              >
                {% trans 'Drafts' %}
                <span class="badge badge-primary">0</span>
              </span>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if application_submitted_count > 0 %}
              <a
                  class="nav-link"
                  id="applications-submitted"
                  href="{% url 'applications-submitted' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
                  title="{% if SITE_ID == 4 and not is_staff and not u.is_superuser or u.is_site_staff %}{% trans 'Submitted, approved, and withdrawn applications' %}{% else %}{% trans 'Submitted applications' %}{% endif %}"
                  data-toggle="tooltip"
              >
                  {% trans 'Submitted' %}
                  <span class="badge badge-primary">{{ application_submitted_count }}</span>
              </a>
            {% else %}
              <span class="nav-link"
                  title="{% trans 'No submitted applications' %}"
                  data-toggle="tooltip"
              >
                {% trans 'Submitted' %}
                <span class="badge badge-primary">0</span>
              </span>
            {% endif %}
          </li>
          {% if SITE_ID == 2 and application_in_review_count or SITE_ID == 5 and application_in_review_count %}
            <li class="nav-item">
              <a
                  class="nav-link"
                  id="applications-in_review"
                  href="{% url 'applications-in_review' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
                  title="{% trans 'Submitted for the referee reviewing' %}"
                  data-toggle="tooltip"
              >
                  {% trans 'In Review' %}
                  <span class="badge badge-primary">{{ application_in_review_count }}</span>
              </a>
            </li>
          {% endif %}
          {% if application_approved_count %}
            <li class="nav-item">
              {% if application_approved_count > 0 %}
                <a
                    class="nav-link"
                    id="applications-approved"
                    href="{% url 'applications-approved' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
                    title="{% trans 'Approved applications' %}"
                    data-toggle="tooltip"
                >
                    {% trans 'Approved' %}
                    <span class="badge badge-primary">{{ application_approved_count }}</span>
                </a>
              {% else %}
                <span class="nav-link"
                    title="{% trans 'No approved applications' %}"
                    data-toggle="tooltip"
                >
                  {% trans 'Approved' %}
                  <span class="badge badge-primary">0</span>
                </span>
              {% endif %}
            </li>
          {% endif %}
          {% if application_accepted_count %}
            <li class="nav-item">
              {% if application_accepted_count > 0 %}
                <a
                    class="nav-link"
                    id="applications-accepted"
                    href="{% url 'applications-accepted' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
                    title="{% trans 'Accepted applications' %}"
                    data-toggle="tooltip"
                >
                    {% trans 'Accepted' %}
                    <span class="badge badge-primary">{{ application_accepted_count }}</span>
                </a>
              {% else %}
                <span class="nav-link"
                    title="{% trans 'No accepted applications' %}"
                    data-toggle="tooltip"
                >
                  {% trans 'Accepted' %}
                  <span class="badge badge-primary">0</span>
                </span>
              {% endif %}
            </li>
          {% endif %}
          {% if application_funded_count %}
            <li class="nav-item">
              {% if application_funded_count > 0 %}
                <a
                    class="nav-link"
                    id="applications-funded"
                    href="{% url 'applications-with-state' state='funded' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
                    title="{% trans 'Funded applications' %}"
                    data-toggle="tooltip"
                >
                    {% trans 'Funded' %}
                    <span class="badge badge-primary">{{ application_funded_count }}</span>
                </a>
              {% else %}
                <span class="nav-link"
                    title="{% trans 'No funded applications' %}"
                    data-toggle="tooltip"
                >
                  {% trans 'Funded' %}
                  <span class="badge badge-primary">0</span>
                </span>
              {% endif %}
            </li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  </div>
  {% endif %}


  {% if SITE_ID != 1 and SITE_ID != 7 %}
  <div class="card mb-2">
    <div class="card-header{% if category == "contracts" %} bg-primary{% endif %}">
      {% if contract_count > 0 or u.is_superuser or is_staff or u.is_site_staff %}
        <a href="{% url 'contract-list' %}" id="contract-list" class="{% if category == "contracts" %} text-white{% endif %}">
          {% trans 'Contracts' %}
        </a> <span class="badge badge-primary{% if category == "contracts" %} bg-secondary{% endif %}">{{ contract_count|default:0 }}</span>
      {% else %}
      <span data-toggle="tooltip" title="{% trans 'No contracts saved or submitted' %}">
        {% trans 'Contracts' %} <span class="badge badge-primary{% if category == "contracts" %} bg-secondary{% endif %}">0</span>
      </span>
      {% endif %}
    </div>
    {% if category == 'contracts' %}
      <div class="card-body">
        <ul class="nav nav-pills flex-column">
          {% for s, count, sn in contract_counts %}
          <!-- {{ s }} - {{ count }} -->
          {% if s != 'total' and count > 0 %}
          <li class="nav-item" id="nominations-draft">
            {% if count > 0 %}
              <a class="nav-link{% if state == s or object and object.state == s %} active{% endif %}"
                 id="contracts-{{ s }}"
                 href="{% url 'contract-list' %}?state_filter={{ s }}&state={{ s }}">
                {{ sn }}
                <span class="badge badge-primary{% if category == "contracts" and s == state %} bg-secondary{% endif %}">{{ count }}</span>
              </a>
            {% else %}
              <span class="nav-link" title="{% trans 'No contracts' %}" data-toggle="tooltip">
                {{ sn }}
                <span class="badge badge-primary">{{ count|default:0 }}</span>
              </span>
            {% endif %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  {% endif %}

  {% if is_ro or user.is_superuser or user.is_site_staff %}

    {% if change_request_count %}
    <div class="card mb-2">

      <div class="card-header{% if category == "change_requests" %} bg-primary{% endif %}">
        {% if change_request_count > 0 or u.is_superuser or is_staff or u.is_site_staff %}
          <a href="{% url 'change-request-list' %}" id="change_request-list" class="{% if category == "change_requests" %} text-white{% endif %}">
            {% trans 'Change Requests' %}
          </a> <span class="badge badge-primary{% if category == "change_requests" %} bg-secondary{% endif %}">{{ change_request_count|default:0 }}</span>
        {% else %}
        <span data-toggle="tooltip" title="{% trans 'No change requests saved or submitted' %}">
          {% trans 'Change Requests' %} <span class="badge badge-primary{% if category == "change_requests" %} bg-secondary{% endif %}">0</span>
        </span>
        {% endif %}
      </div>

      {% if category == 'change_requests' %}
        <div class="card-body">
          <ul class="nav nav-pills flex-column">
            {% for s, count, sn in change_request_counts %}
            <!-- {{ s }} - {{ count }} -->
            {% if s != 'total' and count > 0 %}
            <li class="nav-item" id="nominations-draft">
              {% if count > 0 %}
                <a class="nav-link{% if state == s or object and object.state == s %} active{% endif %}"
                  id="change-request-{{ s }}"
                  href="{% url 'change-request-list' %}?state_filter={{ s }}&state={{ s }}">
                  {{ sn }}
                  <span class="badge badge-primary{% if category == "change_requests" and s == state %} bg-secondary{% endif %}">{{ count }}</span>
                </a>
              {% else %}
                <span class="nav-link" title="{% trans 'No Change Requests' %}" data-toggle="tooltip">
                  {{ sn }}
                  <span class="badge badge-primary">{{ count|default:0 }}</span>
                </span>
              {% endif %}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}

    </div>
    {% endif %}

  {% endif %}

  {% if SITE_ID != 1 and SITE_ID != 7 and report_counts and report_counts.total %}
  <div class="card mb-2">
    <div class="card-header{% if category == "reports" %} bg-primary{% endif %}">
        <a href="{% url 'report-list' %}" id="report-list"{% if category == "reports" %} class="text-white"{% endif %}>{% trans 'Reports' %}</a>
        <span
          class="badge badge-primary{% if category == "reports" %} bg-secondary{% endif %}"
          {% if not report_counts.total  %}data-toggle="tooltip" title="{% trans 'No reports saved or submitted' %}"{% endif %}
        >{{ report_counts.total|default:0 }}</span>
    </div>

    {% if category == 'reports' %}
      <div class="card-body">
        <ul class="nav nav-pills flex-column">
          {% for s, count in report_counts.items %}
          <!-- {{ s }} - {{ count }} -->
          {% if s != 'total' and count > 0 %}
          <li class="nav-item" id="nominations-draft">
            <a class="nav-link{% if state == s or object and object.state == s %} active{% endif %}"
                id="reports-{{ s }}"
                href="{% url 'report-list' %}?state_filter={{ s }}&state={{ s }}">
              {{ s|report_state }}
              <span class="badge badge-primary{% if category == "reports" and s == state %} bg-secondary{% endif %}">{{ count }}</span>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}


  </div>
  {% endif %}


  {% if nomination_count > 0 or u.is_superuser or is_staff or u.is_site_staff %}
  <div class="card mb-2">
    <div class="card-header{% if category == "nominations" %} bg-primary{% endif %}">
        <a href="{% url 'nominations' %}" id="nominations"{% if category == "nominations" %} class="text-white"{% endif %}> {% trans 'Nominations' %}
          <span
            class="badge badge-primary{% if category == "nominations" %} bg-secondary{% endif %}"
            {% if not nomination_count %}
              data-toggle="tooltip"
              title="{% trans 'No nomination saved or submitted' %}"
            {% endif %}
          >{{ nomination_count|default:0 }}</span>
        </a>
    </div>
    {% if category == "nominations" %}
      <div class="card-body">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            {% if nomination_draft_count > 0%}
              <a
                  class="nav-link"
                  id="nominations-draft"
                  href="{% url 'nominations-draft' %}"
                  title="{% trans 'Saved nomination drafts' %}"
                  data-toggle="tooltip"
                  >{% trans 'Drafts' %}
                  <span class="badge badge-primary">{{ nomination_draft_count }}</span>
              </a>
            {% else %}
              <span
                  class="nav-link"
                  title="{% trans 'No nomination drafts' %}"
                  data-toggle="tooltip"
                  >{% trans 'Drafts' %}
                  <span class="badge badge-primary">0</span>
              </span>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if nomination_submitted_count > 0 %}
              <a
                  class="nav-link"
                  id="nominations-submitted"
                  href="{% url 'nominations-submitted' %}"
                  title="{% trans 'Submitted and previous nominations' %}"
                  data-toggle="tooltip"
                  >{% trans 'Submitted' %}
                  <span class="badge badge-primary">{{ nomination_submitted_count }}</span>
              </a>
            {% else %}
              <span
                  class="nav-link"
                  title="{% trans 'No submitted nominations' %}"
                  data-toggle="tooltip"
                  >{% trans 'Submitted' %}
                  <span class="badge badge-primary">0</span>
              </span>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if nomination_accepted_count > 0 %}
              <a
                  class="nav-link"
                  id="nominations-accepted"
                  href="{% url 'nominations-accepted' %}"
                  title="{% trans 'Accepted nominations' %}"
                  data-toggle="tooltip"
                  >{% trans 'Accepted' %}
                  <span class="badge badge-primary">{{ nomination_accepted_count }}</span>
              </a>
            {% else %}
              <span
                  class="nav-link"
                  title="{% trans 'No accepted nominations' %}"
                  data-toggle="tooltip"
                  >{% trans 'Accepted' %}
                  <span class="badge badge-primary">0</span>
              </span>
            {% endif %}
          </li>
        </ul>
      </div>
    {% endif %}
  </div>
  {% endif %}

  {% if testimonial_count > 0 or u.is_superuser or is_staff or u.is_site_staff %}
  <div class="card mb-2">
    <div class="card-header{% if category == "testimonials" %} bg-primary{% endif %}">
        {% if testimonial_count %}
        <a href="{% url 'testimonials' %}" id="testimonials" {% if category == "testimonials" %} class="text-white"{% endif %}>
        {% else %}
        <span data-toggle="tooltip" title="{% if SITE_ID == 5 %}{% trans 'No referee report saved or submitted' %}{% else %}{% trans 'No testimonials saved or submitted' %}{% endif %}">
        {% endif %}
          {% if SITE_ID == 5 %}
            {% trans 'Referee Reports' %}
          {% else %}
            {% trans 'Testimonials' %}
          {% endif %}
        <span class="badge badge-primary{% if category == "testimonials" %} bg-secondary{% endif %}">{{ testimonial_count }}</span>
        {% if testimonial_count %}</a>{% else %}</span>{% endif %}
    </div>
    {% if category == "testimonials" %}
      <div class="card-body">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            {% if testimonial_draft_count > 0 %}
              <a
                  class="nav-link"
                  href="{% url 'testimonials-draft' %}"
                  id="testimonials-draft"
                  title="{% trans 'Saved testimonial drafts' %}"
                  data-toggle="tooltip"
              >{% trans 'Drafts' %}
                <span class="badge badge-primary">{{ testimonial_draft_count }}</span>
              </a>
            {% else %}
              <span
                  class="nav-link"
                  title="{% trans 'No testimonial drafts' %}"
                  data-toggle="tooltip"
              >{% trans 'Drafts' %}
                <span class="badge badge-primary">0</span>
              </span>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if testimonial_submitted_count > 0 %}
              <a
                  class="nav-link"
                  href="{% url 'testimonials-submitted' %}"
                  id="testimonials-submitted"
                  title="{% trans 'Submitted and previous testimonials' %}"
                  data-toggle="tooltip"
                  >{% trans 'Submitted' %}
                  <span class="badge badge-primary">{{ testimonial_submitted_count }}</span>
              </a>
            {% else %}
              <span
                  class="nav-link"
                  title="{% trans 'No submitted testimonials' %}"
                  data-toggle="tooltip"
                  >{% trans 'Submitted' %}
                  <span class="badge badge-primary">0</span>
              </span>
            {% endif %}
          </li>
        </ul>
      </div>
    {% endif %}
  </div>
  {% endif %}

  {% if u.is_superuser or is_staff or review_count > 0 or score_sheet_count > 0 or u.is_site_staff %}
    <div class="card mb-2">
      <div class="card-header">
        {% if review_count %}
        <a href="{% url 'reviews' %}" id="reviews" {% if category == "reviews" %} class="text-white"{% endif %}>
        {% else %}
        <span data-toggle="tooltip" title="{% trans 'No reviews saved or submitted' %}">
        {% endif %}

          {% trans 'Reviews' %}
        <span class="badge badge-primary{% if category == "reviews" %} bg-secondary{% endif %}">{{ review_count }}</span>
        {% if review_count %}</a>{% else %}</span>{% endif %}

      </div>
      {% if category == "reviews" %}
        <div class="card-body">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              {% if review_draft_count > 0 %}
                <a
                    class="nav-link"
                    id="reviews-working"
                    href="{% url 'reviews-working' %}"
                    title="{% trans 'Working reviews' %}"
                    data-toggle="tooltip"
                    >{% trans 'Working' %}
                    <span class="badge badge-primary">{{ review_draft_count }}</span>
                </a>
              {% else %}
                <span
                    class="nav-link"
                    title="{% trans 'No draft reviews' %}"
                    data-toggle="tooltip"
                >{% trans 'Working' %}
                  <span class="badge badge-primary">0</span>
                </span>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if review_submitted_count > 0 %}
                <a
                    class="nav-link"
                    id="reviews-submitted"
                    href="{% url 'reviews-submitted' %}"
                    title="{% trans 'Submitted and previous reviews' %}"
                    data-toggle="tooltip"
                >{% trans 'Submitted' %}
                  <span class="badge badge-primary">{{ review_submitted_count }}</span>
                </a>
              {% else %}
                <span
                    class="nav-link"
                    title="{% trans 'No submitted reviews' %}"
                    data-toggle="tooltip"
                >{% trans 'Submitted' %}
                  <span class="badge badge-primary">0</span>
                </a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if score_sheet_count > 0 %}
                <a
                    class="nav-link"
                    id="score-sheet-list"
                    href="{% url 'score-sheet-list' %}"
                    title="{% trans 'Uploaded score sheets' %}"
                    data-toggle="tooltip"
                >{% trans 'Score Sheets' %}
                  <span class="badge badge-primary">{{ score_sheet_count }}</span>
                </a>
              {% else %}
                <span
                  class="nav-link"
                  title="{% trans 'No uploaded score sheets' %}"
                  data-toggle="tooltip"
                >{% trans 'Score Sheets' %}
                  <span class="badge badge-primary">0</span>
                </span>
              {% endif %}
            </li>
          </ul>
        </div>
      {% endif %}
    </div>
  {% endif %}

{% endif %}

<div class="card mb-2">
  <div class="card-header{% if category == "profile" %} bg-primary{% endif %}">
    <a href="{% url 'my-profile' %}" id="profile"{% if category == "profile" %} class="text-white"{% endif %}>
      {% trans 'Profile' %}
    </a>
  </div>
  {% if category == "profile" %}
    <div class="card-body">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'profile-employments' %}"
             id="profile-employments"
             title="{% trans 'Organisation Affiliations' %}"
             data-toggle="tooltip"
             >{% trans 'Organisation Affiliations' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-career-stages' %}" id="profile-career-stages">{% trans 'Career Stages' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-external-ids' %}" id="profile-external-ids">{% trans 'External IDs' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-cvs' %}" id="profile-cvs">{% trans 'Curriculum Vitae' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-academic-records' %}" id="profile-academic-records">
            {% trans "Academic Records" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-recognitions' %}" id="profile-recognitions">
            {% trans "Prizes or Medals" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-professional-records' %}" id="profile-professional-records">
            {% trans "Professional Bodies" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile-protection-patterns' %}" id="profile-protection-patterns">
            {% trans "Protection Pattern" %}
          </a>
        </li>
        {% comment %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile-files' %}" id="profile-files">
              {% trans "Files" %}
            </a>
          </li>
        {% endcomment %}
      </ul>
    </div>
  {% endif %}
</div>

<div class="card mb-2">
  <div class="card-header{% if category == "account" %} bg-primary{% endif %}">
    <a href="{% url 'account' %}" id="account"{% if category == "account" %} class="text-white"{% endif %}>
      {% trans 'Account' %}
    </a>
  </div>
  {% if category == "account" %}
    <div class="card-body">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a
              class="nav-link"
              id="socialaccount_connections"
              href="{% url 'socialaccount_connections' %}"
              title="{% trans 'Add or remove linked external system or social network accounts' %}"
              data-toggle="tooltip"
              >{% trans 'Linked Accounts' %}</a>
        </li>
        <li class="nav-item">
          <a
              class="nav-link"
              id="account_change_password"
              href="{% url 'account_set_password' %}"
              title="{% trans 'Set or reset your password' %}"
              data-toggle="tooltip"
              >{% trans 'Password' %}</a>
        </li>
      </ul>
    </div>
  {% endif %}
</div>
{% endwith %}
{# vim:set ft=htmldjango: #}
