{% extends 'base.html' %}
{% load i18n static tags bootstrap4 django_bootstrap_breadcrumbs %}
{% load render_table export_url from django_tables2 %}
{% load crispy_forms_tags %}

{% block css %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock css %}

{% block localcss %}
  {{ block.super }}
  <!-- link href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" rel="stylesheet" -->
  <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet">
  <style>
.table-container th.asc:after {
  /*content: '\0000a0\0025b2';
float: right;*/
  color: #026d7d;
}
.table-container th.desc:after {
  /*content: '\0000a0\0025b2';
float: right;*/
  color: #026d7d;
}
/* thead th.orderable > a {
   padding-right: 20px;
   background: url("{% static 'images/arrow-inactive-up.png' %}") right center no-repeat;
}
thead th.orderable.asc > a {
  padding-right: 20px;
  background: url("{% static 'images/arrow-active-up.png' %}") right center no-repeat;
}
thead th.orderable.desc > a {
  padding-right: 20px;
  background: url("{% static 'images/arrow-active-down.png' %}") right center no-repeat;
}*/


#table-filter {
  flex: 0 0 240px;
  order: 1;
  border-left: none;
  margin: 0 0 0 30px;
  width: 100%;
}

#table-filter h2 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 5px 15px;
  margin-bottom: 12px;
  border-bottom: none;
  background-color: var(--info);
  color: white;
  width: 100%;
}

#table-filter h3, #table-filter details summary {
  font-weight: 400;
  padding: 0 15px;
  margin-bottom: 10px;
}

#table-filter #table-filter-clear a {
  font-size: 0.8125rem;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}

  </style>
{% endblock localcss %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if view_name == "invitation-list" %}
    {% breadcrumb "Innovations" "invitation-list" %}
  {% elif view_name == "contract-list" %}
    {% breadcrumb "Contracts" "contract-list" %}
  {% elif view_name == "report-list" %}
    {% breadcrumb "Reports" "report-list" %}
  {% else %}
    {% breadcrumb "Applications" "applications" %}
    {% if state == "draft" %}
      {% breadcrumb "Draft" "applications-draft" %}
    {% elif state == "submitted" %}
      {% breadcrumb "Submitted" "applications-submitted" %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block title %}
  {% if view.title %}
    {{ view.title }}
  {% else %}
    {{ super }}
  {% endif %}
{% endblock title %}

{% block content %}

    <!-- Placeholder for the modal -->
    {% if view_name == "applications-funded" or view_name == "applications-accepted" or SITE_ID == 2 and view_name == "applications-in_review" or SITE_ID == 5 and view_name == "applications-in_review" %}
    <div id="outcome-form-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
      <div id="form-dialog" class="modal-dialog modal-lg" hx-target="this">
        <div class="modal-content">
        <form method="post" enctype="multipart/form-data" id="id_outcome_form">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title">Load Outcomes</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="id_outcome_file">Outcome file (.csv or .xlsx)</label>
              <input type="file" class="form-control-file" name="outcome_file" required id="id_outcome_file" accept=".csv,.xlsx">
              <small id="hint_id_outcome_file" class="form-text text-muted">
                with fields: NUMBER, DECISION ('Y' or 'N'), [AMOUNT], [START], [END]
                (awarded amount, start date, and end date are optional)
              </small>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- button type="button" class="btn btn-primary">Save changes</button -->
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </div>
        </form>
      </div>
    </div>
    <div class="alert alert-primary" role="alert" id="wait-message" style="display:none;">
      <img src="{% static 'images/spinner.png' %}" />
      {% trans 'We are processing your request. Please be patient.' %}
    </div>
    {% endif %}

    <div id="contract-form-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
      <div id="contract-form-dialog" class="modal-dialog modal-lg" hx-target="this">
        <div class="modal-content">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" id="id_application" name="application">
          <div class="modal-header">
            <h5 class="modal-title">Initiate a new contract</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group row">
              <div class="col-6">
              <label for="id_duration">Duration</label>
              <!-- input type="number" class="form-control" name="duration" required id="id_duration" -->
              <select class="custom-select my-1 mr-sm-2" id="id_duration" name="duration">
                <!--option selected="">Choose...</option-->
                <option value="1">One year</option>
                <option value="2">Two years</option>
                <option value="3">Three years</option>
                <option value="4">Four years</option>
                <option value="5">Five years</option>
                <option value="6">Six years</option>
                <option value="7">Seven years</option>
                <option value="8">Eight years</option>
                <option value="9">Nine years</option>
              </select>
              </div>
            <!-- /div>

            <div class="form-group" -->
              <div class="col-6">
              <label for="id_awarded_amount">Awarded Amount</label>
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" id="id_awarded_amount" name="awarded_amount" class="form-control" placeholder="0.00" step="0.01" max="9999999">
              </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="id_start_date" class="col-2 col-form-label">Start date</label>
              <div class="col-4">
                <input
                  autocomplete="off"
                  class="form-control"
                  data-date-end-date="+6y"
                  data-date-format="yyyy-mm-dd"
                  data-date-start-date="0y"
                  id="id_start_date"
                  name="start_date"
                  style="z-index: 9999 !important;"
                  type="text"
                >
                <small class="form-text text-muted">The contract start date</small>
              </div>
              <label for="id_end_date" class="col-2 col-form-label">End date</label>
              <div class="col-4">
                <input
                  autocomplete="off"
                  class="form-control"
                  data-date-end-date="+12y"
                  data-date-format="yyyy-mm-dd"
                  data-date-start-date="+1y"
                  id="id_end_date"
                  name="end_date"
                  style="z-index: 9999 !important;"
                  type="text"
                >
                <small class="form-text text-muted">The contract end date</small>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- button type="button" class="btn btn-primary">Save changes</button -->
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </div>
        </form>
      </div>
    </div>

  {% if rounds %}

    <div style="display: inline-flex;">
      <div class="dropdown show" style="margin: 1px;">

        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="active-round-menu-link" data-toggle="dropdown">
          {{ round|title }}
        </a>

        <div class="dropdown-menu">
          {% for r in rounds %}
            {% if r.id != round.id %}
              <a class="dropdown-item" href="{% url view_name round=r.id %}">{{ r.title }}
                <span class="badge badge-primary"> {{ r.total_applications }}</span>
              </a>
            {% else %}
              <span class="dropdown-item active">{{ r.title }}
                <span class="badge badge-primary"> {{ r.total_applications }}</span>
              </span>
            {% endif %}
          {% endfor %}
        </div>

      </div>

      <!-- a class="btn btn-outline-primary" href="{% url 'round-summary' round=round.id %}" role="button">
        {% trans "Show Detailed Report" %}</a -->

      <a class="btn btn-outline-primary" href="{% url 'scores-list' round=round.id %}" role="button" style="margin: 1px;">
        {% trans "Show Scores" %}</a>

      <a
          class="btn btn-outline-primary"
          href="{% url 'round-application-export' pk=round.id %}"
          trarget="_blank"
          data-toggle="tooltip"
          {% if SITE_ID == 2 or SITE_ID == 5 %}
            title="Export all the applications of the round for the panellist scoring"
          {% else %}
            title="{% trans 'Export all the applications of the round' %}"
          {% endif %}
          role="button"
          style="margin: 1px;"
      >
        {% if SITE_ID == 2 or SITE_ID == 5 %}
          {% trans "Export Applications" %}
        {% else %}
          {% trans "Export PDF" %}
        {% endif %}
      </a>
    </div>

  {% endif %}

  {% if view.title %}
    <h1>{{ view.title }}</h1>
  {% elif round %}
    <h5 class="mb-3" style="padding: 0.75rem 1.25rem;{% if round.background and round.background != 'colour' or round.foreground %} {% if round.background and round.background != 'colour' %}background-color: {{ round.background }};{% endif %} color:{% if round.foreground %} {{ round.foreground }}{% else %} white;{% endif %}{% endif %}; border-radius: 0.25rem;">
      {#% trans "The Prime Minister's" %#}
      <b style="text-transform: uppercase;">
        {{ round.title }}
      </b>
    </h5>
  {% endif %}

  {% block filters %}
    {% if add_show_only_conflicts_filter %}
      <form method="GET">
        <div class="form-group form-check">
          <input
              {% if show_only_conflicts %}checked{% endif %}
              type="checkbox"
              class="form-check-input"
              id="show-only-conflicts"
              name="show_only_conflicts">
          <label class="form-check-label" for="show-only-conflicts">{% trans 'Show Only Conflicts' %}</label>
        </div>
      </form>
      <script>
        $(document).ready(function() {
          $('#show-only-conflicts').change(function() {
            $(location).attr("href",
              $(location).attr("pathname") + "?show_only_conflicts=" + (this.checked ? '1':'0'));
            });
          });
      </script>
    {% endif %}

    {% if filter and not filter_disabled %}
    <form action="" method="GET" class="form form-inline mb-3" autocomplete="on">
        {% for n, v in request.GET.items %}
          {% if n != 'object_filter' and n != 'contract_filter' and  n != 'report_filter' and n != 'nomination_filter' and n != 'testimonial_filter' and n != 'application_filter' and n != 'archived_filter' and n != 'active_filter' and n != 'page' %}
            <input type="hidden" name="{{ n }}" value="{{ v }}">
          {% endif %}
        {% endfor %}

        {% comment %}
        <!-- input type="checkbox"
          data-toggle="toggle"
          {% if filter.form.archived_filter.value == True %}checked{% endif %}
          name="{{ filter.form.archived_filter.name }}"
          id="{{ filter.form.archived_filter.auto_id }}"
          {% if filter.form.archived_filter.value == True %}value="true"{% else %}value="unknown"{% endif %}
          data-toggle="toggle" data-on="All" data-off="Active"
        -->
        <input type="checkbox"
          data-toggle="toggle"
          {% if filter.form.active_filter.value == True %}checked{% endif %}
          name="{{ filter.form.active_filter.name }}"
          id="{{ filter.form.active_filter.auto_id }}"
          {% if filter.form.active_filter.value == True %}value="true"{% else %}value="false"{% endif %}
          data-toggle="toggle" data-on="{% trans 'Active' %}" data-off="{% trans 'All' %}"
        >
        {% endcomment %}
        <span>&nbsp;</span>
        {% if filter.form.object_filter %}
          {% bootstrap_field filter.form.object_filter show_label=False %}
        {% elif filter.form.application_filter %}
          {% bootstrap_field filter.form.application_filter show_label=False %}
        {% elif filter.form.report_filter %}
          {% bootstrap_field filter.form.report_filter show_label=False %}
        {% elif filter.form.contract_filter %}
          {% bootstrap_field filter.form.contract_filter show_label=False %}
        {% elif filter.form.testimonial_filter %}
          {% bootstrap_field filter.form.testimonial_filter show_label=False %}
        {% elif filter.form.nomination_filter %}
          {% bootstrap_field filter.form.nomination_filter show_label=False %}
        {% endif %}
        {#% bootstrap_field filter.form.round show_label=False %#}
        {#% bootstrap_field filter.form.archived_filter show_label=False %#}
        {#% if user.is_superuser or user.is_staff %#}
        {#% endif %#}

        <button class="btn btn-primary ml-1">{% trans 'Filter' %}</button>
        <a href="?" type="button" class="btn btn-outline-secondary ml-1"
          data-toggle="tooltip"
          title="{% trans 'Clear all filters' %}"
        >
          {% trans 'Clear' %}
        </a>

        {% if user.is_staff or user.is_superuser or user.is_site_staff %}
          {% if view_name == "applications-funded" or view_name == "applications-accepted" or SITE_ID == 2 and view_name == "applications-in_review" or SITE_ID == 5 and view_name == "applications-in_review" %}
            <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#outcome-form-modal">Load outcomes...</button>
            {% if outcome_file_url %}
              <a type="button" class="btn btn-outline-primary ml-1" data-toggle="tooltip" title="Generate an outcome file..." href="{{ outcome_file_url }}">New outcomes</a>
            {% endif %}
          {% endif %}
        {% endif %}

      </form>
    {% endif %}
  {% endblock %}

  {% if user.is_staff and filter or user.is_superuser and filter or is_ro and filter or user.is_site_staff and filter %}
    {#% if filter.form.round_filter or filter.form.year_filter or filter.form.fund_filter %#}
    {% if filter.filters %}
    <div class="row">
      <div class="col-md-10">
        {% render_table table %}

        {% if view_name == "applications-funded" or view_name == "applications-accepted" or SITE_ID == 2 and view_name == "applications-in_review" or SITE_ID == 5 and view_name == "applications-in_review" %}
          <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#outcome-form-modal">Load outcomes...</button>
          {% if outcome_file_url %}
            <a type="button" class="btn btn-outline-primary ml-1" data-toggle="tooltip" title="Generate an outcome file..." href="{{ outcome_file_url }}">New outcomes</a>
          {% endif %}
        {% endif %}

      </div>
      <div class="col-md-2">

        <div class="card text-dark bg-light" style="max-width: 18rem;">
          <!-- form action="" method="GET" class="form form-inline mb-3" autocomplete="on" -->
          <div class="card-header" style="width: 100%;">{% trans 'Filters' %}</div>
          <div class="card-body">
            <h7 id="table-filter-clear"><a href="?">✖ {% trans 'Clear all filters' %}</a></h7>
            <!-- h5 class="card-title">Light card title</h5 -->
            <p class="card-text">
              <!-- details data-filter-title="round" open="" -->
              {% for n, f in filter.filters.items %}
              <!-- {{ n }}: {{ f }} -->
              {% if f.side_bar %}
                <details data-filter-title="{{ f.label }}" id="{{ n }}">
                  <summary>{{ f.label }}</summary>
                    {{ filter.form|form_field:n }}
                </details>
              {% endif %}
              {% endfor %}
              {% comment %}
              {% if filter.form.fund_filter %}
                <details data-filter-title="fund" id="fund-filter">
                  <summary>{% trans 'By fund' %}</summary>
                  {{ filter.form.fund_filter }}
                  {#% bootstrap_field filter.form.round_filter show_label=False %#}
                  {#% bootstrap_field filter.form.archived_filter show_label=True %#}
                  <!-- button class="btn btn-primary ml-1">{% trans 'Filter' %}</button -->
                </details>
              {% endif %}
              {% if filter.form.state_filter %}
                <details data-filter-title="state" id="state-filter">
                  <summary>{% trans 'By state' %}</summary>
                  {{ filter.form.state_filter }}
                  {#% bootstrap_field filter.form.round_filter show_label=False %#}
                  {#% bootstrap_field filter.form.archived_filter show_label=True %#}
                  <!-- button class="btn btn-primary ml-1">{% trans 'Filter' %}</button -->
                </details>
              {% endif %}
              {% if filter.form.round_filter %}
                <details data-filter-title="round" id="round-filter">
                  <summary>{% trans 'By round' %}</summary>
                  {{ filter.form.round_filter }}
                  <!-- button class="btn btn-primary ml-1">{% trans 'Filter' %}</button -->
                </details>
              {% endif %}
              {% if filter.form.year_filter %}
                <details data-filter-title="year" id="year-filter">
                  <summary>{% trans 'By year' %}</summary>
                  {{ filter.form.year_filter }}
                  {#% bootstrap_field filter.form.round_filter show_label=False %#}
                  {#% bootstrap_field filter.form.archived_filter show_label=True %#}
                  <!-- button class="btn btn-primary ml-1">{% trans 'Filter' %}</button -->
                </details>
              {% endif %}
              {% if filter.form.org_filter %}
                <details data-filter-title="org" id="org-filter">
                  <summary>{% trans 'By source' %}</summary>
                  {{ filter.form.org_filter }}
                  <!-- button class="btn btn-primary ml-1">{% trans 'Filter' %}</button -->
                </details>
              {% endif %}
              {% endcomment %}
            </p>
          </div>
          <!-- /form -->
        </div>

        {% comment %}
        <div id="table-filter">
          <form action="" method="GET" class="form form-inline mb-3" autocomplete="on">
            <h2>{% trans 'Filter' %}</h2>
            <h3 id="table-filter-clear"><a href="?">✖ {% trans 'Clear all filters' %}</a></h3>
            <details data-filter-title="round" open="">
              <summary>{% trans 'By round' %}</summary>
              {{ filter.form.round_filter }}
              {#% bootstrap_field filter.form.round_filter show_label=False %#}
              {#% bootstrap_field filter.form.archived_filter show_label=True %#}
              <!-- button class="btn btn-primary ml-1">{% trans 'Filter' %}</button -->
            </details>
          </form>
        </div>
        {% endcomment %}

      </div>
    </div>
    {% else %}
      {% render_table table %}
    {% endif %}
  {% else %}
    {% render_table table %}
  {% endif %}

  {% if has_actions or view.export_formats or view.has_actions %}
      <div class="buttonHolder mb-5 mt-3 float-right" style="display: inline-flex;">
      {% block action_button_line %}
        {% if view.export_formats %}
          <form method="GET">
            <input type="hidden" name="show_only_conflicts" value="{% if show_only_conflicts %}1{% else %}0{% endif %}" >
            <!-- label for="_export">{% trans 'Export Format' %}</label -->
            <select class="form-control mr-1"  name="_export" id="_export">
              {% for format in view.export_formats %}
                <option value="{{ format }}">{{ format }}</option>
              {% endfor %}
            </select>
            <input class="btn btn-primary" type="submit" value="{% trans 'Export' %}" >
          </form>
        {% endif %}
      {% endblock %}
      </div>
  {% endif %}

{% endblock %}

{% block javascript %}
  {{ block.super }}
<script>
{% if user.is_site_staff and filter or user.is_superuser and filter or is_ro and state == "submitted" or is_ro and filter %}
// Remember the state of a <details> element.
//
// If the element is opened and the page is reloaded, the element will
// be reopened.
//
// Pass the ID of the <details> element after the page has loaded.
//
function rememberIfDetailsWasFolded(el) {
  var key = el.id + ":wasFolded";

  el.addEventListener("toggle", event => {
    if (el.open) {
      localStorage.setItem(key, true);
    } else {
      localStorage.removeItem(key);
    }
  });

  if (localStorage.getItem(key)) {
    el.open = true;
  }
};

  $(document).ready(function(){
    $("details[data-filter-title]").each(function() {
      rememberIfDetailsWasFolded(this);
    });
    $("table thead tr th input[type='checkbox']").on("change", function (event) {
        $("table tbody tr td input[type='checkbox']").prop("checked", this.checked);
    });
    $("#id_duration").on("change", function (event) {
        let sd = new Date($("#id_start_date").val()||'');
        let ed = new Date(sd.getTime() + (event.target.value*31557600000));
        $("#id_end_date").val(ed.toISOString().slice(0,10))
    });
    $('#contract-form-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-title').text(button.data("originalTitle"));
      modal.find('.modal-body #id_duration').val(button.data("duration"));
      $('#id_application').val(button.data("applicationId"));
      var awarded_amount = button.data("awardedAmount");
      if (awarded_amount) {
        $('#id_awarded_amount').val(awarded_amount);
      }
      var start_date = button.data("startDate");
      var end_date = button.data("endDate");
      $('#id_start_date').val(start_date);
      $('#id_start_date').datepicker({
          zIndexOffset: 9999,
          // inputs: $("#id_start_date"),
          format: "yyyy-mm-dd",
          defaultDate: start_date,
          startDate: start_date,
          assumeNearbyYear: true,
          endDate: "+1y",
          todayBtn: "linked",
          autoclose: true,
          todayHighlight: true,
          immediateUpdates: true,
          container: "#contract-form-modal .modal-body"
      }).datepicker("setDate", start_date).on('show.bs.modal', function(event) {event.stopPropagation();}); // .on('hide', function(event) {event.preventDefault(); event.stopPropagation();});
      $('#id_end_date').val(end_date);
      $('#id_end_date').datepicker({
          zIndexOffset: 9999,
          // inputs: $("#id_end_date"),
          format: "yyyy-mm-dd",
          defaultDate: end_date,
          startDate: "+1y",
          assumeNearbyYear: true,
          endDate: "+6y",
          todayBtn: "linked",
          autoclose: true,
          todayHighlight: true,
          immediateUpdates: true,
          container: "#contract-form-modal .modal-body"
      }).datepicker("setDate", end_date).on('show.bs.modal', function(event) {event.stopPropagation();}); // .on('hide', function(event) {event.preventDefault(); event.stopPropagation();});
  })
  $("#id_archived_filter").on('change', function() {
    if ($(this).is(':checked')) {
      $(this).attr('value', 'true');
    } else {
      $(this).attr('value', 'unknown');
    }
    this.form.submit();
  });
  $("#id_active_filter").on('change', function() {
    if ($(this).is(':checked')) {
      $(this).attr('value', 'true');
    } else {
      $(this).attr('value', 'unknown');
    }
    this.form.submit();
  });
  {% if view_name == "applications-funded" or view_name == "applications-accepted" or SITE_ID == 2 and view_name == "applications-in_review" or SITE_ID == 5 and view_name == "applications-in_review" %}
  $("#id_outcome_form").on("submit", function(e) {
      if (this.checkValidity()) {
          $.blockUI({
            message: $('#wait-message'),
            css: {
              backgroundColor: '#0000',
              color: '#0fff',
              border: '0px',
            }
        });
      }
  });
  {% endif %}
  /* htmx.on("htmx:afterSwap", (e) => {
    // Response targeting #dialog => show the modal
    if (target_id == "form-dialog") {
        $('#outcome-form-modal').modal('show');
    }
    $("[required]").attr("hx-validate", true);
  });*/
});
{% endif %}
</script>
  {#{ form.media.js }#}
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
{% endblock %}
{# vim:set ft=htmldjango: #}
