{% extends "form.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block sidebar %}{% include 'sidebar.html' with category="testimonials" %}{% endblock sidebar %}

{% block content_header %}
  {{ round|title }}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Testimonials" "testimonials" %}
  {% if object.state == "draft" or object.state == "new" %}
    {% breadcrumb "Draft" "testimonials-draft" %}
  {% elif object.state == "submitted" %}
    {% breadcrumb "Submitted" "testimonials-submitted" %}
  {% endif %}
  {% if object.pk %}
    {% breadcrumb object "testimonial-update" object.pk %}
  {% else %}
    {% breadcrumb application "application" application.pk %}
  {% endif %}
{% endblock %}


{% block content %}
  {{ block.super }}

  <div class="table-responsive">
    {% include 'snippets/application_detail_table.html' with a=application u=request.user %}
  </div>

  {% include 'snippets/referee_privacy_statement_modal.html' %}

{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function(){
      $('#button-id-submit_button').click(function() {
        if (this.form.checkValidity()) $('#confirm-referee-submit').modal('show');
        else this.form.reportValidity();
      });
      $('#submit-id-turn_down').click(function() {
        document.getElementById("id_file").removeAttribute("required");
      });
      $('#submit-button').click(function(){
        /* when the submit button in the modal is clicked, submit the form */
        var form = document.getElementById('entry-form');
        if (form.checkValidity()) {
          form.action.value = "submit";
          $("[name='action'],#id_action").val("submit");
          // workaround to disable 'beforeunload' hadling:
          $(window).off("beforeunload"); $("form[id]").data("changed", false);
          $("form[id]").data("changed", false);
          form.submit();
        }
        else form.reportValidity();
      });
    });
  </script>
{% endblock %}
