{% load static %}
<header class="header">
  <!-- a href="{% url 'home' %}" style="float: right;width: 100%;">
    <img
        src="{% static 'images/stlp.royalsociety.org.nz/logo_120.png' %}"
    >
  </a -->
    <!-- a href="{% url 'home' %}"
       style="float: right; width: 100%; position: absolute; top: 20px; right: 0; text-decoration: none;"
    >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150.26 100.37" id="mobile">
      <use xlink:href="https://www.royalsociety.org.nz/resources/themes/royalsoc_dist/symbols/svg-symbols.svg#logo-inverse"></use>
    </svg>
  </a -->
  <!-- div class="lead banner" style="background-image:url(/static/images/banner.svg); background-position: right top; background-size: auto 127px; background-repeat: no-repeat; height: 127px; background-color: #000;">
    </div -->
    <img
        style="max-height: 120px; display: inline-block; margin-top: 5px; margin-bottom: 10px; vertical-align: top; width: auto"
        src="{% static 'images/MBIE_logo.jpg' %}"
    >
    <img
        style="float: right; max-height: 120px; display: inline-block; margin-top: 5px; margin-bottom: 10px; vertical-align: top; width: auto"
        src="{% static 'images/RS_logo.png' %}"
    >

</header>
