{% if messages %}
  {% include "partials/messages.html" %}
{% endif %}
{% for c in comments.order_by("-reply_to_id", "-created_at") %}
  {% with by=c.submitted_by.full_name, at=c.created_at.time(), on=c.created_at.date() %}
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#comment-{{ c.pk }}">
        <!-- span class="badge badge-primary">{{ loop.revcounter }}</span -->
        <i class="fas fa-comment-dots"></i>
        {#{ "submitted by %s at %s on %s" % (by, at, on) }#}
        {% trans %}submitted by {{by}} at {{at}} on {{on}}{% endtrans %}
        {% for r in c.recipients.all() %}{% if loop.first %}{{ _('to:') }} {% endif %}{% if r.user %}{{ r.user }} ({{ r.email}}){% else %}{{ r.email }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}
      </a>
      <button
        class="btn btn-outline-primary btn-sm float-right"
        hx-get="{{ url('email-import', pk=c.object_pk) }}?_modal_dialog=1&reply_to={{ c.pk }}&model={{ c.model_name }}"
        hx-params="none"
        hx-target="#form-dialog"
        data-toggle="tooltip"
        title="{{ _('Import a reply email file ...') }}"
      >
        ...
      </button>
    </div>
    <div id="comment-{{ c.pk }}" class="collapse{% if loop.first %} show{% endif %}" data-parent="#comments">
      <div class="card-body">
      {% if c.comment %}{{ c.comment|safe }}{% else %}{{ _('N/A') }}{% endif %}
      {% if c.attachment %}
        <hr/>
        <a class="card-link" href="{{ c.attachment.url }}">{{ c.attachment.path|basename }}</a>
      {% endif %}
      {% for a in c.attachments.all() %}
        {% if not c.attachment and loop.first %}
          <hr/>
        {% endif %}
        <a class="card-link" href="{{ a.attachment.url }}">{{ a.attachment.path|basename }}</a>
      {% endfor %}
      </div>
    </div>
</div>
{% endwith %}
{% endfor %}
{# vim:set ft=jinja: #}
