({%- if obj.converted_file -%}
<a href="{{ obj.converted_file.file.url }}" target="_blank">{{ obj.converted_file.file.name|basename }}</a>{% if obj.converted_file.page_count %}, {{ obj.converted_file.page_count }} page{% if obj.converted_file.page_count > 1 %}s{% endif %}{% endif %}
{%- else -%}<span class="text-muted sall">{{ _('No converted file available') }}</span>{% endif -%}<button
    type="button"
    {# data-toggle="tooltip" #}
    title="{{ _('Re-convert the file (if the conversion was unsuccessful or if you have updated the original file)') if obj.converted_file else _('Convert the file') }}"
    class="btn btn-outline-secondary btn-tiny ml-1"
    hx-put="{{ url('convert-file') }}?obj_id={{ obj.pk }}&model={{ obj.model_name }}{% if obj.converted_file %}&id={{ obj.converted_file.pk }}{% endif %}"
    hx-target="#id_converted_file_indicator"
    hx-indicator="#button-spinner"
>{{ _('Re-convert') if obj.converted_file else _('Convert') }}<img  id="button-spinner" class="htmx-indicator" src="{{ static('images/bars.svg') }}"/></button>)
{% if errror %}
  <div class="text-danger mt-1 small">
    {{ _('Conversion failed') }}: {{ error }}
  </div>
{% elif success %}
  <div class="text-success mt-1 small">
    {{ _('Conversion successful') }}
  </div>
{% endif %}

