{% set start_date=today.replace(day=1, month=3) if record.site_id == 5 else start_date %}
{% if record.contract %}
  <a
    href="{{ url("application-contract", pk=record.pk) }}"
    target="_blank"
    class="btn btn-primary btn-sm"
    data-toggle="tooltip"
    title="{{_('Update the contract')}}"
    > {{ _("Open") }}</a>

{% elif record.state in ["accepted"] %}
<button
    type="button"
    class="btn btn-primary btn-sm"
    data-tooltip="tooltip"
    title="{{_('Mark application funded and create a new contract')}}"
    data-toggle="modal"
    data-target="#contract-form-modal"
    data-application-id={{record.pk}}
    data-duration={{record.round.duration or 3}}
    data-start-date={{ start_date.isoformat() }}
    data-end-date="{{ (start_date + relativedelta(years=(record.round.duration or 3), days=-1)).isoformat() }}"
  >
  {{ _("Create") }}
</button>

{% elif record.state == "funded" %}
<button
    type="button"
    class="btn btn-primary btn-sm"
    data-tooltip="tooltip"
    title="{{_('Create a new contract')}}"
    data-toggle="modal"
    data-target="#contract-form-modal"
    data-application-id={{record.pk}}
    data-duration={{record.round.duration or 3}}
    data-start-date={{ start_date.isoformat() }}
    data-end-date="{{ (start_date + relativedelta(years=(record.round.duration or 3), days=-1)).isoformat() }}"
  >
  {{ _("Create") }}
</button>

{% else %}
  &mdash;
{% endif %}
