{% set r=report or object or o %}
{% set c=r.contract %}
{% set a=c.application %}
{% set n=a.nomination %}
{% set contract_number=c.number %}
{% set application_number=a.number %}
{% set due_in_days=r.due_in_days %}
<div class="table-responsive">
  <table class="table table-bordered searchable">
    <tbody>

      {% if export %}
        <tr>
          <th scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
            {{ _('Report Number') }}{% if export %}:{% endif %}
          </th>
          <td>
            {{ r.number }}
          </td>
        </tr>
        {% if r.due_date %}
          <tr>
            <th scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
              {{ _('Due Date') }}:
            </th>
            <td>
              {{ r.due_date }}
            </td>
          </tr>
        {% endif %}
        {% if r.submitted_at %}
          <tr>
            <th scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
              {{ _('Submitted Date') }}{% if export %}:{% endif %}
            </th>
            <td>
              {{ r.submitted_at.date() }}:
            </td>
          </tr>
        {% endif %}
      {% else %}
        <tr>
          <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
            {{ _('Contract') }}
          </th>
          <td>
            <a href="{{ url('contract-detail', number=contract_number) }}" target="_blank">{{ contract_number }}</a>
          </td>
        </tr>
      {% endif %}

      <tr>
        <th {% if not export %}class="table-dark"{% endif %} scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Contract PI') }}{% if export %}:{% endif %}
        </th>
        <td>
          {% if export %}
            {{ c.ci }}
          {% else %}
            {{ c.ci.full_name_with_email }} / {{ c.ci.username }}
          {% endif %}
          <!-- a href="{{ url('application-detail', number=application_number) }}" target="_blank">{{ application_number }}</a -->
        </td>
      </tr>

      {% if c.pi and c.ci and c.pi != c.ci %}
      <tr>
        <th {% if not export %}class="table-dark"{% endif %} scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Principal Investigator/Fellow') }}{% if export %}:{% endif %}
        </th>
        <td>
          {{ c.pi }}
          <!-- a href="{{ url('application-detail', number=application_number) }}" target="_blank">{{ application_number }}</a -->
        </td>
      </tr>
      {% endif %}

      {% if r.assessor or request.user.is_admin  %}
      <tr>
        <th {% if not export %}class="table-dark"{% endif %} scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Assessor') }}{% if export %}:{% endif %}
        </th>
        <td>
          {% if not r.assessor %}
            <em>{{ _('Not assigned') }}</em>
            {% if not export and r.state in ["approved", "submitted", "reported", "acknowledged", "assigned"] %}
              <button
                  type="button"
                  class="btn btn-sm btn-outline-primary ms-2"
                  hx-put="{{ request.path }}?action=assign-self"
                  hx-swap="none">
                {{ _('Assign yourself') }}
              </button>
            {% endif %}
          {% else %}
            {{ r.assessor.full_name_with_email }} /
            {{ r.assessor.username  }}
          {% endif %}
          <!-- a href="{{ url('application-detail', number=application_number) }}" target="_blank">{{ application_number }}</a -->
        </td>
      </tr>
      {% endif %}

      <!-- tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Coordinator') }}{% if export %}:{% endif %}
        </th>
        <td>
          {{ coordinator or _('N/A') }}
          {#{ c.host_contact_email_address or n and n.nominator.full_name_with_email or _('N/A') }#}
        </td>
      </tr -->

      <tr>
        <th {% if not export %}class="table-dark"{% endif %} scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Project Title') }}{% if export %}:{% endif %}
        </th>
        <td>
          {% if not export %}
            <a href="{{ url('contract-detail', number=contract_number) }}" target="_blank">
              {{ c.project_title or a.application_title or a.round.name }}
            </a>
          {% else %}
            {{ c.project_title or a.application_title or a.round.name }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <th {% if not export %}class="table-dark"{% endif %} scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Report Number, Type') }}{% if export %}:{% endif %}
        </th>
        <td>
          <a href="{{ url('report', pk=r.pk) }}" target="_blank">#{{ r.period }}, {{ r.get_type_display() }}</a>
        </td>
      </tr>

      <tr>
        <th {% if not export %}class="table-dark"{% endif %} scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Report Due') }}{% if export %}:{% endif %}
        </th>
        <td>
          {% if r.is_overdue and due_in_days < 4 %}
            {% if due_in_days < 1 %}
              <strong>
                  <span class="text-danger"> {{ r.due_date }} ({% if due_in_days == 0 %}{{ _('today') }}{% else %}{{ -due_in_days }} {{ _('day(s) overdue') }}{% endif %}) </span>
              </strong>
            {% else %}
              <strong>
              <span class="text-warning"> {{ r.due_date }} ({{ _('due in') }} {{ due_in_days }} {{ _('day(s)') }}) </span>
              </strong>
            {% endif %}
          {% else %}
            {{ r.due_date }}
          {% endif %}
        </td>
      </tr>

      {#
      <tr>
        <th {% if not export %}class="table-dark"{% endif %} scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Project URL') }}
        </th>
        <td>
          TODO: ???? (if relevant and known)
        </td>
      </tr>
      #}

      {% if c.host_number %}
        <tr>
          <th {% if not export %}class="table-dark"{% endif %} scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
            {{ _('Organisation Contract ID') }}{% if export %}:{% endif %}
          </th>
          <td>
            {{ c.host_number }}
          </td>
        </tr>
      {% endif %}

      {% if not export and r.file %}
      <tr>
        <th {% if not export %}class="table-dark"{% endif %} scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Report') }}
        </th>
        <td>
          <a href="{{ r.file.url }}" target="_blank">{{ r.file.name|basename }}</a>
          {% if not r.is_pdf_content %}
            <span class="text-muted" id="id_converted_file_indicator">
              {% with obj = r %}
                {% include 'partials/converted_file.html' %}
              {% endwith %}
            </span>
          {% endif %}

        </td>
      </tr>
      {% endif %}

      <tr>
        <th {% if not export %}class="table-dark"{% endif %} scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {{ _('Application') }}{% if export %}:{% endif %}
        </th>
        <td>
          {% if export %}
            {{ application_number }}
          {% else %}
            <a href="{{ url('application-detail', number=application_number) }}" target="_blank">{{ application_number }}</a>
          {% endif %}
        </td>
      </tr>

      {% if export %}
      {% endif %}
        {% set publications = r.publications %}
        {% if publications.count() and  user.is_superuser %}
          <tr><td colspan="4">
          {% for pub_type, items in publications.order_by("type")|groupby("type") %}
            <h3>
              {{ _('Publications') }} - {{ pub_type|title }}
            </h3>
            <table stype="width: 100%;">
              <thead>
                <tr>
                  <th>Status {{ pub_type }}</th>
                  {% if pub_type.code_2 in ['BC', 'BK'] %}
                    <th>Chapter Title</th>
                    <th colspan="2">Book Title</th>
                  {% elif pub_type.code_2 in ['JO', 'PR'] %}
                    <th>Title</th>
                    <th>Article Type</th>
                  {% else %}
                    <th>Title</th>
                    <th>Title #2</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for pub in items %}
                  <tr>
                    <td>{{ pub.status or '-' }}</td>
                    <td{% if pub_type.code_2 == 'JO' %} colspan="2"{% endif %}>{{ pub.title }}</td>
                    {% if pub_type.code_2 in ['BC', 'BK'] %}
                      <td colspan="2">{{ pub.title2 }}</td>
                    {% elif pub_type.code_2 == 'JO' %}
                      <td>{{ '???' }}</td>
                    {% endif %}
                  </tr>
                  {% if pub_type.code_2 in ['BC', 'BK'] %}
                    <tr>
                      <td></td>
                      <td colspan="2">
                        {% if pub.publisher %}
                          <strong>Publisher:</strong> {{ pub.publisher }}<br>
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>ID:</strong>  {% if pub.rsnz_ref %}0-{{ pub.rsnz_ref  }}{% else %} N/A {% endif %}
                      </td>
                      <td>
                        {% if pub.page_ref %}
                          <strong>Pages:</strong> {{ pub.page_ref }}<br>
                        {% endif %}
                      </td>
                      <td>
                        {% if pub.year_ref %}
                          <strong>Year:</strong> {{ pub.year_ref }}<br>
                        {% endif %}
                      </td>
                      <td>
                        <strong>ISDN:</strong> {{ '???' }}
                      </td>
                    </tr>
                  {% elif pub_type.code_2 == 'JO' %}
                    <tr>
                      <td></td>
                      <td colspan="3"> <strong>Publisher:</strong> {{ pub.journal or '-' }} </td>
                    </tr>
                    <tr>
                      <td> <strong>ID:</strong>  {% if pub.rsnz_ref %}0-{{ pub.rsnz_ref  }}{% else %} N/A {% endif %} </td>
                      <td> <strong>Year:</strong> {{ pub.year_ref or '-' }}<br> </td>
                      <td> <strong>Volume:</strong> {{ pub.volume or '-' }} </td>
                      <td> <strong>Pages:</strong> {{ pub.page_ref or '-' }}</td>
                    </tr>
                  {% endif %}
                  <tr>
                    <td></td>
                    <td colspan="3">
                      <strong>Author(s):</strong> {{ pub.ordered_authors|join(", ") }}<br>
                    </td>
                  </tr>

                {% endfor %}
              </tbody>

            </table>
          {% endfor %}
          </td></tr>
        {% endif %}

    </tbody>
  </table>

</div>
