<table class="table table-striped">
{#% for p in report.publications.all() %#}
{% for rp in report.publications.through.objects.filter(report=report) %}
  {% set p=rp.publication %}
  <tr>
    <td>{{ p.title }}{% if p.title2 %}
        / {{ p.title2 }}
      {% endif %}
      {% if p.doi %}
        DOI: <a href="https://doi.org{{ p.doi }}">
          {{ p.doi }}
        </a>
      {% endif %}
    </td>
    <td style="min-width: 90px;">
      <div class="buttonHolder float-right">
      <button
        class="btn btn-danger btn-sm"
        type="button"
        hx-delete="{{ url('objects-delete', model=rp._meta.model_name, pk=rp.pk) }}"
        hx-params="none"
        hx-target="#messages"
        hx-swap="beforeend scroll:bottom"
        hx-on:htmx:after-request="delete_closest_table_row(this, event)"
        hx-confirm="{{ _('Do you wish to deleted the publication record "%s"?') % p.title }}"
      >
        <i class="fa fa-times" style="width: 12px;"></i>
      </button>
      <button
        class="btn btn-primary btn-sm"
        type="button"
        hx-get="{{ url('publication-update', pk=p.pk) }}?report={{ report.pk }}&_modal_dialog=1"
        hx-target="#publication-dialog"
        hx-params="none"
      ><i class='fas fa-edit' style="width: 14px;"></i>
      </button>
      </div>
    </td>
  </tr>
{% endfor %}
<tr>
  <td>&nbsp;</td>
  <td style="min-width: 88px;">
    <div class="buttonHolder float-right">
    <button
      type="button"
      class="btn btn-success btn-sm"
      hx-get="{{ url('publication-create') }}?report={{ report.pk }}&_modal_dialog=1"
      hx-target="#publication-dialog"
    >
      <i class="fa fa-plus" style="width: 14px;"></i> </button>
    </div>
  </td>
</tr>
</table>
