{% extends "admin/change_list.html" %}

{% block extrabody %}
  {{ block.super }}
<script>
django.jQuery(document).ready(function(){
  django.jQuery("details[data-filter-title]").on("toggle", function() {
    if (this.open) {
      localStorage.setItem(this.dataset["filterTitle"], true);
    } else {
      localStorage.removeItem(this.dataset["filterTitle"]);
    }
  });

  django.jQuery("details[data-filter-title]").each(function() {
    if (localStorage.getItem(this.dataset["filterTitle"])) {
      this.open = true;
    }
  });
});
// borrowed from https://github.com/julianwachholz/django-autocompletefilter
(function($) {
    $.fn.djangoAdminAutocompleteFilter = function(options) {
        $.each(this, function(i, element) {
            var template = element.dataset.querystring;
            var placeholder = element.dataset.querystringPlaceholder;
            $(element).on('change', function(event) {
                var url;
                if (event.target.value) {
                    url = template.replace(placeholder, event.target.value);
                } else {
                    url = element.dataset.querystringAll;
                }
                window.location = url;
            });
        });
    };

    $(function() {
        $('.admin-autocomplete-filter').djangoAdminAutocompleteFilter();
    });
}(django.jQuery));
</script>
{% endblock %}
{#% block nav-global %}{% endblock %#}
{# vim:set ft=htmldjango: #}
