{% extends "admin/change_form_object_tools.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
  {% if original %}
     {% if original.can_export_to_pdf %}
        <li>
          <a
             href="{% url 'application-export' original.pk %}"
             target="_blank"
             title="Export the application into a consolidated PDF file"
          >
            Export
          </a>
        </li>
      {% elif SITE_ID == 5 and view_name == 'admin:portal_round_change' %}
        <li>
          <a
             href="{% url 'round-application-export' original.pk %}?for_panellists=1&format=7z"
             target="_blank"
             title="Export the round applications for the panellist scoring into a 7z file"
          >
            Export For Panellists
          </a>
        </li>
      {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}
