{% extends "contracts/base.html" %}

{% block content %}
{% set scheme = c.application.round.scheme %}
<div class=WordSection1>
  <table>
    <tr>
      <td style="vertical-align: top;" valign=top>
        <p style="vertical-align: top;"><span style="vertical-align: top;"><b>BETWEEN:&nbsp;</span></p>
      </td>
      <td>&nbsp;</td>
      <td><p><b>{{ agency.name.upper() }}</b>, a body corporate constituted under the Royal
        Society of New Zealand Act 1997 at
        {{ ", ".join(agency.address.__str__().split('\n')) }}
        (<b>{{ agency_short }}</b>)</p>
      </td>
    </tr>

    <tr>
      <td style="vertical-align: top;" valign=top>
        <p style="vertical-align: top;"><b>AND:</b></p>
      </td>
      <td>&nbsp;</td>
      <td>
        <p><b>{{ c.org.name.upper() }}</b>,
        {{ ", ".join(c.org.address.__str__().split('\n')) if c.org.address else 'N/A' }}
        (<b>Host Organisation</b>)</p>
      </td>
    </tr>

  </table>

  <p class=MsoNormal style='margin-bottom:1.2pt;line-height:115%;'>Each a &quot;<b>party</b>&quot;
  and together &quot;<b>the parties</b>&quot;</p>

  <!-- p class=BFTOC1><a name="_Toc153445303"></a><a name="_Toc157588003">Background</a></p -->
  <h1>Background</h1>

  <ol type="A" style="width: 100%;">

    <li style="width: 100%;line-height:normal;">
      {% if SITE_ID == 4 %}
      The Ng&#257; Puanga P&#363;taiao Fellowships support M&#257;ori and
      Pacific Peoples to establish careers in Science, Technology, Engineering and mathematics (<b>STEM</b>) research and create a support network of M&#257;ori
      and Pacific STEM researchers.  This will enable M&#257;ori and Pacific early- to mid-career STEM researchers to enter into and progress through the Research,
      Science and Innovation (<b>RSI</b>) workforce and provide the researchers with
      support to flourish within the RSI system.
      {% elif SITE_ID == 5 %}
        {% if s.code == "TTMFL" %}
          The Aotearoa New Zealand Tāwhia Te Mana Research Fellowships (the Fellowships) is an MBIE initiative that aims to develop the future leaders of the New Zealand Science, Innovation and Technology (SI&amp;T) system. The Fellowships will support researchers at different career stages to produce excellent and impactful research and to develop into leaders in their fields, their respective host organisations and across the whole of the Aotearoa New Zealand SI&amp;T system. The New Zealand Mana Tūāpapa Future Leader Fellowships support Aotearoa New Zealand’s talented early career researchers to establish the foundations of an excellent and impactful research career. The award is expected to have a significant value in the future career development of the Fellows and help them to establish a foundation on which to embark on an independent research career.
        {% elif s.code == "TTMRL" %}
          The Aotearoa New Zealand Tāwhia Te Mana Research Fellowships (the Fellowships) is an MBIE initiative that aims to develop the future leaders of the New Zealand Science, Innovation and Technology (SI&amp;T) system. The Fellowships will support researchers at different career stages to produce excellent and impactful research and to develop into leaders in their fields, their respective host organisations and across the whole of the Aotearoa New Zealand SI&amp;T system. The New Zealand Mana Tūānuku Research Leader Fellowships support mid-career researchers to firmly establish themselves as experts in their research domain and as leaders within the research landscape.
        {% elif s.code == "TTMDF" %}
          The Aotearoa New Zealand Tāwhia Te Mana Research Fellowships (the Fellowships) is an MBIE initiative that aims to develop the future leaders of the New Zealand Science, Innovation and Technology (SI&amp;T) system. The Fellowships will support researchers at different career stages to produce excellent and impactful research and to develop into leaders in their fields, their respective host organisations and across the whole of the Aotearoa New Zealand SI&amp;T system. The New Zealand Mana Tūārangi Distinguished Researcher Fellowship supports researchers with expansive and international reputations to make contributions that will extend beyond their own career span.
        {% endif %}
      {% endif %}
    </li>

    <li style="width: 100%;line-height:normal;">
      On behalf of MBIE, the Society is responsible for awarding and managing
      funding for {{ scheme.title }}.
      {#% if SITE_ID == 4 %}
      Ngā Puanga Pūtaiao Fellowships.
      {% elif SITE_ID == 5 %}
        {% if s.code == "TTMFL" %}
        {% elif s.code == "TTMRL" %}
        {% elif s.code == "TTMDF" %}
        {% endif %}
      {% endif %#}
    </li>

    <li style="width: 100%;line-height:normal;">
      The Society has awarded a Fellowship to {{ c.key_person.full_name_with_title }}
      (<b>Key Contact Person</b>) and will provide funding to the Host Organisation for the Programme. The Host Organisation has agreed to host and support the Key Contact Person in relation to that Programme.
    </li>

    <li style="width: 100%;line-height:normal;">
      {% if SITE_ID == 5 %}
        This Agreement records the arrangements reached between the Society and the Host Organisation for the provision of
        {% if s.code == "TTMFL" %}
          New Zealand Mana Tūāpapa Future Leader Fellowship
        {% elif s.code == "TTMRL" %}
          New Zealand Mana Tūānuku Research Leader Fellowship
        {% elif s.code == "TTMDF" %}
          New Zealand Mana Tūārangi Distinguished Researcher Fellowship
        {% endif %}
        funding for the Programme research undertaken by the Key Contact Person.
      {% else %}
        This Agreement records the arrangements reached between the Society and the Host
        Organisation for the provision of Ngā Puanga Pūtaiao Fellowship
        funding for the research undertaken by the Key Contact Person and Other Key
        Personnel.
      {% endif %}
    </li>

  </ol>

  <h1>Agreement</h1>

  <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  margin-left:.5in;text-indent:-.5in;line-height:115%'>The parties agree to be
  bound by the terms of this Agreement, which include: </p>

  <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  margin-left:.5in;text-indent:-.5in;line-height:115%'>(a)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>Schedule 1 &mdash; Key terms (including any attached Appendices); and  </p>

  <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  margin-left:.5in;text-indent:-.5in;line-height:115%'>(b)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>Schedule 2 &mdash; Standard Terms and Conditions</p>

  <p class=Legal6 style='margin-left:63.8pt'>(i)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>Appendix A &mdash; Declaration regarding compliance with the Society's Code of
  Professional Standards and Ethics. </p>

  <h3>Execution</h3>

  <table border=0 cellspacing=0 cellpadding=0 width=533 style='width:399.85pt;border-collapse:collapse'>

    <tr>
      <td width=262 valign=top style='width:196.7pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal> <b>SIGNED</b> for and on behalf of <b>{{ agency.name.upper() }}</b> by</p>
      </td>
      <td width=28 valign=top style='width:21.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal>)<br/>)<br/>)</p>
      </td>
      <td width=16 valign=top style='width:11.8pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal>&nbsp;</p>
      </td>
      <td width=227 valign=top style='width:170.1pt;border-bottom: thin solid black; padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal>&nbsp;</p>
      </td>
    </tr>

    <tr style="height: 1.5cm;">
      <td width=262 valign=top style='width:196.7pt;border-bottom: thin solid black; padding:0in 5.4pt 0in 5.4pt'>
      </td>
      <td width=28 valign=top style='width:21.25pt;padding:0in 5.4pt 0in 5.4pt'>&nbsp;</td>
      <td width=16 valign=top style='width:11.8pt;padding:0in 5.4pt 0in 5.4pt'>&nbsp;
      </td>
      <td width=227 valign=top style='border-bottom:thin solid black; padding:0in 5.4pt 0in 5.4pt'>
        <span style='margin:0in;font-size:8.0pt'>Signature</span>
      </td>
    </tr>

    <tr>
      <td width=262 valign=top>
        <span style='margin:0in;font-size:8.0pt; padding:0in 5.4pt 0in 5.4pt'>Name</span>
      </td>
      <td width=28 valign=top>&nbsp;</td>
      <td width=16 valign=top>&nbsp;</td>
      <td width=227 valign=top>
        <span style='margin:0in;font-size:8.0pt; padding:0in 5.4pt 0in 5.4pt'>Position</span>
      </td>
    </tr>
  </table>

  <div>


  <table border=0 cellspacing=0 cellpadding=0 width=533 style='width:399.85pt;border-collapse:collapse'>

    <tr>
      <td width=262 valign=top style='width:196.7pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b>SIGNED</b> for and on behalf of <b>{{ c.org.name.upper() }}</b> by</p>
      </td>
      <td width=28 valign=top style='width:21.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal>)<br/>)<br/>)</p>
      </td>
      <td width=16 valign=top style='width:11.8pt;padding:0in 5.4pt 0in 5.4pt'>&nbsp;</td>
      <td width=227 valign=top style='width:170.1pt; border-bottom: thin solid black; padding:0in 5.4pt 0in 5.4pt'>&nbsp;</td>
    </tr>

    <tr style="height: 1.5cm;">
      <td width=262 valign=top style='width:196.7pt; border-bottom: thin solid black; padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=28 valign=top style='width:21.25pt;padding:0in 5.4pt 0in 5.4pt'>&nbsp;</td>
      <td width=16 valign=top style='width:11.8pt;padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=227 valign=top style='width:170.1pt; border-bottom: thin solid black; padding:0in 5.4pt 0in 5.4pt'>
        <span style='margin:0in;font-size:8.0pt'>Signature</span>
      </td>
    </tr>

    <tr>
      <td width=262 valign=top style='width:196.7pt;padding:0in 5.4pt 0in 5.4pt'>
        <span style='margin:0in;font-size:8.0pt'>Name</span>
      </td>
      <td width=28 valign=top style='width:21.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal>&nbsp;</p>
      </td>
      <td width=16 valign=top style='width:11.8pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal>&nbsp;</p>
      </td>
      <td width=227 valign=top style='width:170.1pt;padding:0in 5.4pt 0in 5.4pt'>
        <span style='margin:0in;font-size:8.0pt'>Position</span>
      </td>
    </tr>

  </table>

{% endblock %}
