{% extends "contracts/base.html" %}

{% block content %}
{% set round = c.application.round %}
{% set scheme = round.scheme %}
<div class=WordSection1>
  <table>
    <tr>
      <td style="vertical-align: top;" valign=top>
        <!-- p style="vertical-align: top;"><span style="vertical-align: top;"><b>BETWEEN:&nbsp;</span></p -->
        <b>BETWEEN:&nbsp;
      </td>
      <td>&nbsp;</td>
      <td>
        <!-- p><b>{{ agency.name.upper() }}</b>, a body corporate constituted under the Royal Society of New Zealand Act 1997 at {{ c.agency_address }} (<b>{{ agency_short }}</b>)</p -->
        <b>{{ agency.name.upper() }}</b>, a body corporate constituted under the Royal Society of New Zealand Act 1997 at {{ c.agency_address }} (<b>{{ agency_short }}</b>)
      </td>
    </tr>
    <tr style="height:2pt;"><td colspan="3"></td></tr>
    <tr>
      <td style="vertical-align: top;" valign=top>
        <!-- p style="vertical-align: top;"><b>AND:</b></p -->
        <b>AND:</b>
      </td>
      <td>&nbsp;</td>
      <td style="vertical-align: top;" valign=top>
        <!--p><b>{{ c.org.name.upper() }}</b>, {{ c.host_address }} (<b>Host Organisation</b>)</p -->
        <b>{{ c.org.name.upper() }}</b>, {{ c.host_address }} (<b>Host Organisation</b>)
      </td>
    </tr>

  </table>

  <p class=MsoNormal style='margin-bottom:1.2pt;line-height:100%;'>Each a &quot;<b>party</b>&quot;
  and together &quot;<b>the parties</b>&quot;</p>

  <!-- p class=BFTOC1><a name="_Toc153445303"></a><a name="_Toc157588003">Background</a></p -->
  <h1>Background</h1>

  <ol type="A" style="width: 100%; font-size:10.0pt;">
    <!-- font-family: "Arial"; font-size:10.0pt; so-language: en-NZ; line-height: 120%; -->

    <li style="width: 100%;line-height:normal;">
      {% if round.contract_background and round.contract_background.strip() and round.contract_background.strip() not in ["<br>", "<p></p>"] %}
        {{ round.contract_background.strip()|safe }}
      {% elif SITE_ID == 4 %}
      The Ng&#257; Puanga P&#363;taiao Fellowships support M&#257;ori and
      Pacific Peoples to establish careers in Science, Technology, Engineering and mathematics (<b>STEM</b>) research and create a support network of M&#257;ori
      and Pacific STEM researchers.  This will enable M&#257;ori and Pacific early- to mid-career STEM researchers to enter into and progress through the Research,
      Science and Innovation (<b>RSI</b>) workforce and provide the researchers with
      support to flourish within the RSI system.
      {% elif SITE_ID == 5 %}
        The Aotearoa New Zealand Tāwhia Te Mana Research Fellowships is an MBIE initiative that aims to develop the future leaders of the New Zealand Science, Innovation and Technology (SI&amp;T) system. The Fellowships will support researchers at different career stages to produce excellent and impactful research and to develop into leaders in their fields, their respective host organisations and across the whole of the Aotearoa New Zealand SI&amp;T system.<br>
        {% if scheme.code in ["MTP", "TTMFL"] %}
          The New Zealand Mana Tūāpapa Future Leader Fellowship is a scheme under the Aotearoa New Zealand Tāwhia Te Mana Research Fellowships. It supports Aotearoa New Zealand’s talented early career researchers to establish the foundations of an excellent and impactful research career.
        {% elif scheme.code in ["MTN", "TTMRL"] %}
          The New Zealand Mana Tūānuku Research Leader Fellowships is a scheme under the Aotearoa New Zealand Tāwhia Te Mana Research Fellowships. It supports talented mid-career researchers to firmly establish themselves as experts in their research domain and as leaders within the research landscape.
        {% elif scheme.code in ["MTR", "TTMDR"] %}
          The New Zealand Mana Tūārangi Distinguished Researcher Fellowship is a scheme under the Aorearoa New Zealand Tāwhia Te Mana Research Fellowships. It supports researchers with expansive and international reputations to make contributions that will extend beyond their own career span.
        {% else %}
          TODO: Background
        {% endif %}
      {% endif %}
    </li>

    <li style="width: 100%;line-height:normal;">
      On behalf of MBIE, the Society is responsible for awarding and managing
      funding for {{ scheme.title }}.
      {#% if SITE_ID == 4 %}
      Ngā Puanga Pūtaiao Fellowships.
      {% elif SITE_ID == 5 %}
        {% if s.code == "TTMFL" %}
        {% elif s.code == "TTMRL" %}
        {% elif s.code == "TTMDF" %}
        {% endif %}
      {% endif %#}
    </li>

    <li style="width: 100%;line-height:normal;">
      The Society has awarded a Fellowship to {{ c.key_person.full_name_with_title }}
      (<b>Key Contact Person</b>) and will provide funding to the Host Organisation for the Programme. The Host Organisation has agreed to host and support the Key Contact Person in relation to that Programme.
    </li>

    <li style="width: 100%;line-height:normal;">
      {% if SITE_ID == 5 %}
        This Agreement records the arrangements reached between the Society and the Host Organisation for the provision of
        {% if scheme.code == "TTMFL" %}
          New Zealand Mana Tūāpapa Future Leader Fellowship
        {% elif scheme.code == "TTMRL" %}
          New Zealand Mana Tūānuku Research Leader Fellowship
        {% elif scheme.code == "TTMDR" %}
          New Zealand Mana Tūārangi Distinguished Researcher Fellowship
        {% endif %}
        funding for the Programme research undertaken by the Key Contact Person.
      {% else %}
        This Agreement records the arrangements reached between the Society and the Host
        Organisation for the provision of Ngā Puanga Pūtaiao Fellowship
        funding for the research undertaken by the Key Contact Person and Other Key
        Personnel.
      {% endif %}
    </li>

  </ol>

  <h1>Agreement</h1>

  <p style='margin-top:0in;margin-right:0in;margin-bottom:4.0pt;
  margin-left:.5in;text-indent:-.5in;'>The parties agree to be
  bound by the terms of this Agreement, which include: </p>

  <p style='margin-top:0in;margin-right:0in;margin-bottom:4.0pt;
  margin-left:.5in;text-indent:-.5in;'>(a)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>Schedule 1 &mdash; Key terms (including any attached Appendices); and  </p>

  <p style='margin-top:0in;margin-right:0in;margin-bottom:4.0pt;
  margin-left:.5in;text-indent:-.5in;'>(b)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>Schedule 2 &mdash; Standard Terms and Conditions</p>

  <p style='margin-left:20pt;margin-bottom:3pt;margin-top:3pt;'>(i)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>Appendix A &mdash; Declaration regarding compliance with the Society's Code of
  Professional Standards and Ethics;</p>
  <p style='margin-left:20pt;margin-bottom:3pt;margin-top:3pt;'>(ii)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>Appendix B &mdash; Eligibility Criteria.</p>

  <h3>Execution</h3>

  <table border=0 cellspacing=0 cellpadding=0 width=533 style='width:399.85pt;border-collapse:collapse'>

    <tr>
      <td width=262 valign=top style='width:196.7pt;padding:0in 5.4pt 0in 5.4pt'>
        <p> <b>SIGNED</b> for and on behalf of <b>{{ agency.name.upper() }}</b> by</p>
      </td>
      <td width=28 valign=top style='width:21.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p>)<br/>)<br/>)</p>
      </td>
      <td width=16 valign=top style='width:11.8pt;padding:0in 5.4pt 0in 5.4pt'>
        <p>&nbsp;</p>
      </td>
      <td width=227 valign=top style='width:170.1pt;border-bottom: thin solid black; padding:0in 5.4pt 0in 5.4pt'>
        <p>&nbsp;</p>
      </td>
    </tr>

    <tr style="height: 1.5cm;">
      <td width=262 valign=top style='width:196.7pt;border-bottom: thin solid black; padding:0in 5.4pt 0in 5.4pt'>
      </td>
      <td width=28 valign=top style='width:21.25pt;padding:0in 5.4pt 0in 5.4pt'>&nbsp;</td>
      <td width=16 valign=top style='width:11.8pt;padding:0in 5.4pt 0in 5.4pt'>&nbsp;
      </td>
      <td width=227 valign=top style='border-bottom:thin solid black; padding:0in 5.4pt 0in 5.4pt'>
        <span style='margin:0in;font-size:8.0pt'>Signature</span>
      </td>
    </tr>

    <tr>
      <td width=262 valign=top>
        <span style='margin:0in;font-size:8.0pt; padding:0in 5.4pt 0in 5.4pt'>Name</span>
      </td>
      <td width=28 valign=top>&nbsp;</td>
      <td width=16 valign=top>&nbsp;</td>
      <td width=227 valign=top>
        <span style='margin:0in;font-size:8.0pt; padding:0in 5.4pt 0in 5.4pt'>Position</span>
      </td>
    </tr>
  </table>

  <div>


  <table border=0 cellspacing=0 cellpadding=0 width=533 style='width:399.85pt;border-collapse:collapse'>

    <tr>
      <td width=262 valign=top style='width:196.7pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal><b>SIGNED</b> for and on behalf of <b>{{ c.org.name.upper() }}</b> by</p>
      </td>
      <td width=28 valign=top style='width:21.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal>)<br/>)<br/>)</p>
      </td>
      <td width=16 valign=top style='width:11.8pt;padding:0in 5.4pt 0in 5.4pt'>&nbsp;</td>
      <td width=227 valign=top style='width:170.1pt; border-bottom: thin solid black; padding:0in 5.4pt 0in 5.4pt'>&nbsp;</td>
    </tr>

    <tr style="height: 1.5cm;">
      <td width=262 valign=top style='width:196.7pt; border-bottom: thin solid black; padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=28 valign=top style='width:21.25pt;padding:0in 5.4pt 0in 5.4pt'>&nbsp;</td>
      <td width=16 valign=top style='width:11.8pt;padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=227 valign=top style='width:170.1pt; border-bottom: thin solid black; padding:0in 5.4pt 0in 5.4pt'>
        <span style='margin:0in;font-size:8.0pt'>Signature</span>
      </td>
    </tr>

    <tr>
      <td width=262 valign=top style='width:196.7pt;padding:0in 5.4pt 0in 5.4pt'>
        <span style='margin:0in;font-size:8.0pt'>Name</span>
      </td>
      <td width=28 valign=top style='width:21.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal>&nbsp;</p>
      </td>
      <td width=16 valign=top style='width:11.8pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal>&nbsp;</p>
      </td>
      <td width=227 valign=top style='width:170.1pt;padding:0in 5.4pt 0in 5.4pt'>
        <span style='margin:0in;font-size:8.0pt'>Position</span>
      </td>
    </tr>

  </table>

{% endblock %}
