{% extends "contracts/base.html" %}

{% block content %}
<div class=WordSection1>
  <table align="center" border="0">
    <tr>
      <td align="right" valign="top" height="2cm">
        <p class=MsoNormal><b><span style='font-size:12.0pt'>DATED</span></b><span style='font-size:12.0pt'> {{ c and c.start_date.strftime("%d/%m/%Y") or year }}</span></p>
      </td>
    </tr>

    <tr>
      <td valign="middle" height="7cm" align=center>
        <p align=center style='text-align:center;line-height: 240%'><b><span
           style='font-size:16.0pt'>AGREEMENT FOR FUNDING FOR
         {% if fund %}{{ fund.description|upper }}{% else %}{% if c.site_id == 4 %}NG&#256; PUANGA P&#362;TAIAO FELLOWSHIP{% endif %}{% endif %}
          </span></b></p>
      </td>
    </tr>

    <tr>
      <td valign="middle" height="10cm" align=center>
        <p align=center style='text-align:center;line-height: 500%' ><b><span
           style='font-size:12.0pt'>{{ c.agency.name.upper() }}<br>
           And<br>{{ c.host.name.upper() }}</span></b></p>
      </td>
    </tr>

    <tr>
      <td valign="bottom" height="4cm" align=center>
        <p align=center style='text-align:center;'><b>Agreement number: {{ c.number }}</b></p>
      </td>
    </tr>

  </table>
</div>
{% endblock %}
