{#% extends "contracts/base.html" %}
{% block content %#}
  {% set kp=c.key_person %}
  <a name="_Toc_schedule_240101001">
    <h1 class="western" style="page-break-before: always">
      SCHEDULE<br>
    {% if fund %}{{ fund.description|upper }}{% else %}{% if c.site_id == 4 %}NG&#256; PUANGA P&#362;TAIAO FELLOWSHIP{% endif %}{% endif %}
    </h1>
  </a>
  <p>Programme Contract Number: <strong>{{ c.number }}</strong></p>

  <p>
  Programme Title: <strong>{{ c.project_title }}</strong>
  </p>
  <ol>

    <li>
      <h3>Key dates</h3>
      <dl><dd>
          <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=624
                 style='width:467.8pt;margin-left:5.4pt;border-collapse:collapse;border:none'>
            <tr>
              <td width=284 valign=top style='width:212.65pt;border:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
                <b>Start Date of Agreement</b></p>
              </td>
              <td width=340 valign=top style='width:255.15pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
                <b>
                  {{ c.start_date.strftime("%d %B, %Y") }}
                </b>
                </p>
              </td>
            </tr>
            <tr>
              <td width=284 valign=top style='width:212.65pt;border:solid windowtext 1.0pt; border-top:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
                <b>Date by which the Programme must start</b></p>
              </td>
              <td width=340 valign=top style='width:255.15pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>No later than
                six months after the Start Date of the Agreement (unless otherwise agreed by
                the parties)</p>
              </td>
            </tr>
            <tr style='height:4.15pt'>
              <td width=284 valign=top style='width:212.65pt;border:solid windowtext 1.0pt; border-top:none;padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
                <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Completion
                  Date </b></p>
              </td>
              <td width=340 valign=top style='width:255.15pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
                <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
                <b>
                {% if c.end_date %}{{ c.end_date.strftime("%d %B, %Y") if c.end_data else '' }}{% else %}&nbsp;{% endif %}
                </b>
                </p>
              </td>
            </tr>
          </table>
        </dd></dl>
    </li>

    {% if kp %}
      <li>
        <h3>Key Contact Person</h3>
        <dl><dd>
            <table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="620" style="width:464.7pt;margin-left:5.4pt;border-collapse:collapse;border:none">
              <tbody>
                <tr>
                  <td width="207" valign="top" style="width:155.5pt;border:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt">
                    <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>Name</b></p>
                  </td>
                  <td width="150" valign="top" style="width:112.75pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt">
                    <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>Role</b></p>
                  </td>
                  <td width="154" valign="top" style="width:115.35pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt">
                    <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>Contact details</b></p>
                  </td>
                  {#
                  <!--td width="108" valign="top" style="width:81.1pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt">
                    <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>FTE</b></p>
                  </td -->
                  {% for p in range(1, c.duration+1) %}
                    <td valign="top" style="width:81.1pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt">
                      <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>FTE{{ p }}</b></p>
                    </td>
                  {% endfor %}
                  #}
                </tr>

                <tr>
                  <td width="207" valign="top" style="width:155.5pt;border:solid windowtext 1.0pt; border-top:none;padding:0in 5.4pt 0in 5.4pt">
                    <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">{{ kp.full_name_with_title }}</p>
                  </td>
                  <td width="150" valign="top" style="width:112.75pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt">
                    <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">{{ kp.role }}</p>
                  </td>
                  <td width="154" valign="top" style="width:115.35pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt">
                  <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">{% if kp.address %}{{ kp.address }}{% else %}&nbsp;{% endif %}</p>
                  </td>
                  {# <!-- td width="108" valign="top" style="width:81.1pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt">
                    <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">{{ '%0.2f' % kp.total_fte|float }}</p>
                    </td -->
                  {% for p in range(1, c.duration+1) %}
                    {% set fte=kp.fte(p) %}
                    <td valign="top" style="width:81.1pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt">
                      <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">
                      {% if fte %}
                        {{ '%0.2f' % fte|float }}
                      {% else %}
                        N/A
                      {% endif %}
                      </p>
                    </td>
                  {% endfor %}
                    #}

                </tr>
              </tbody>
            </table>
          </dd></dl>
      </li>
    {% endif %}

    {% set okp=c.other_key_personnel %}
    {% if okp %}
      <li>
        <h3>Other Key Personnel</h3>
        <dl><dd>

            <table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="624" style="width:467.8pt;margin-left:5.4pt;border-collapse:collapse;border:none">
              <tbody>
                <tr>
                  <td width="284" valign="top" style="width:212.65pt;border:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt">
                    <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>Name</b></p>
                  </td>
                  <td width="189" valign="top" style="width:141.75pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt">
                    <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>Role</b></p>
                  </td>
                  {# <td width="151" valign="top" style="width:113.4pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt">
                    <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>FTE</b></p>
                  </td>
                  {% for p in range(1, c.duration+1) %}
                    <td valign="top" style="width:81.1pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt">
                      <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>FTE{{ p }}</b></p>
                    </td>
                  {% endfor %}
                  #}
                </tr>

                {% for p in okp %}
                  <tr>
                    <td width="284" valign="top" style="width:212.65pt;border:solid windowtext 1.0pt; border-top:none;padding:0in 5.4pt 0in 5.4pt">
                      <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">{{ p.full_name_with_title }} </p>
                    </td>
                    <td width="189" valign="top" style="width:141.75pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt">
                      <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">{{ p.role }}</p>
                    </td>
                    {#
                    <td width="151" valign="top" style="width:113.4pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt">
                      <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">{{ '%0.2f' % p.total_fte|float }}</p>
                    </td>
                    {% for i in range(1, c.duration+1) %}
                      {% set fte=p.fte(i) %}
                      <td valign="top" style="width:81.1pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt">
                        <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">
                        {% if fte %}
                          {{ '%0.2f' % fte|float }}
                        {% else %}
                          N/A
                        {% endif %}
                        </p>
                      </td>
                    {% endfor %}
                    #}
                  </tr>
                {% endfor %}

              </tbody>
            </table>

          </dd></dl>
      </li>
    {% endif %}


    <li>
      <h3>Description of Programme</h3>
      <dl><dd>

          <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=624 style='width:467.8pt;margin-left:5.4pt;border-collapse:collapse;border:none'>
            <tr>
              <td width=170 valign=top style='width:127.6pt;border:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Programme Title</b></p>
              </td>
              <td width=454 valign=top style='width:340.2pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{{ c.project_title or a.application_title }}</p>
              </td>
            </tr>
            <tr style='height:4.15pt'>
              <td width=170 valign=top style='width:127.6pt;border:solid windowtext 1.0pt; border-top:none;padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
                <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Application Number</b></p>
              </td>
              <td width=454 valign=top style='width:340.2pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
                <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><strong>{{ a.number }}</strong></p>
              </td>
            </tr>
            <tr style='height:4.15pt'>
              <td width=170 valign=top style='width:127.6pt;border:solid windowtext 1.0pt; border-top:none;padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
                <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Overall aim of research</b></p>
              </td>
              <td width=454 valign=top style='width:340.2pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
              <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{% if c.abstract and c.abstract.strip() %}{{ c.abstract|safe }}{% else %}&nbsp;{% endif %}</p>
              </td>
            </tr>
          </table>

        </dd></dl>
    </li>

    <li>
      <h3>Acknowledgement of Funding</h3>
      <dl><dd>
          <!-- TODO: adjust per site/schema/round -->
          <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>For the
          purposes of clause <!-- NB! -->8.5 of Schedule 2, the phrase that must be used to
          acknowledge the provision of funding and support from the New Zealand Government is
          <!-- NB! for example -->
        &quot;<i>Supported by the {% if c.fund %}{{ c.fund.description }}{% else %}{{ c.site.name }}
          from Government funding{% endif %},
          administered by the Royal Society Te Ap&#257;rangi&quot;</i>.
          </p>
      </dd></dl>
    </li>

    <li>
      <h3>Reporting dates</h3>
      <dl><dd>

        <table border="1" cellpadding="5" cellspacing="0" with="100%">
          <tr bgcolor="#d0d0d0">
            <th><b>Year</b></th>
            <th><b>Report</b></th>
            <th><b>Due date</b></th>
          </tr>
          {% for y, entries in c.reporting_schedule_by_years %}
            {% for r in entries %}
              <tr>
                {% if not loop.index0 %}
                  <td rowspan="{{ entries.__len__() or 1 }}">{{ y }}</td>
                {% endif %}
                <td>{{ r.get_type_display() }} Report (Year {{ r.period }})</td>
                <td>{{ r.due_date and r.due_date.strftime("%d %B, %Y") or _("N/A") }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </table>

      </dd></dl>
    </li>

    <li>
      <h3>Funding</h3>
      <dl><dd>

            <table border="1" cellpadding="7" cellspacing="0" with="100%">
              <col width="96"/>
              <col width="225"/>
              <col width="197"/>
              <tr bgcolor="#d0d0d0" valign="middle">
                <th><b>Year</b></th>
                <th><b>Amount of Funding</b> (GST excl.)</th>
                <th><b>Purpose of Funding</b></th>
                <th><b>Payment details</b></th>
              </tr>
                {% for y, entries in c.allocations_by_years %}
                  {% for r in entries %}
                  <tr valign="middle">
                    {% if not loop.index0 %}
                      <td rowspan="{{ entries.__len__() or 1 }}">{{ y }}</td>
                    {% endif %}
                    <td style="text-align: right;">${{ r.allocation }}</td>
                    <td>{{ r.purpose or '' }}</td>
                    <td>{{ r.details or '' }}</td>
                  </tr>
                  {% endfor %}
                {% endfor %}
              <tr valign="middle">
                <td>TOTAL</td>
                <td colspan="3" style="text-align: right;">
                  ${{ '%0.2f' % c.total_allocation }}
                </td>
              </tr>
            </table>


      </dd></dl>
    </li>

    <li>
      <h3>Address for notices</h3>
      <dl><dd>

      <table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="625"
             style='width:468.65pt;margin-left:5.4pt;border-collapse:collapse;border:none'>
        <tr style='height:29.6pt'>
          <td width=265 valign=top style='width:198.45pt;border:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%;page-break-after: avoid'><b>Party name</b></p>
          </td>
          <td width=360 valign=top style='width:270.2pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
            <b>Contact details</b></p>
          </td>
        </tr>
        <tr style='height:29.6pt'>
          <td width=265 valign=top style='width:198.45pt;border:solid windowtext 1.0pt; border-top:none;padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>The Royal Society of New Zealand </p>
          </td>
          <td width=360 valign=top style='width:270.2pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>[Contact]</p>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>[Phone number]</p>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>[Address / email address] </p>
          </td>
        </tr>
        <tr style='height:45.2pt'>
          <td width=265 valign=top style='width:198.45pt;border:solid windowtext 1.0pt; border-top:none;padding:0in 5.4pt 0in 5.4pt;height:45.2pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{{ c.org.name }}</p>
          </td>
          <td width=360 valign=top style='width:270.2pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt;height:45.2pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{{ c.org.address or kp and kp.address or "N/A" }}</p>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>[Phone number]</p>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>[Address / email address]</p>
          </td>
        </tr>
      </table>

      </dd></dl>
    </li>

    {% if additional_clauses %}
    <li>
      <h3>Additional terms that apply in addition to the terms in Schedule 2 (if any)</h3>
      <dl><dd>

      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=625
             style='width:468.65pt;margin-left:5.4pt;border-collapse:collapse;border:none'>
        <tr style='height:29.6pt'>
          <td width=163 valign=top style='width:121.95pt;border:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Clause </b></p>
          </td>
          <td width=462 valign=top style='width:346.7pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Additional
              term</b></p>
          </td>
        </tr>

      {% for cc in additional_clauses %}
        <tr style='height:29.6pt'>
          <td width=163 valign=top style='width:121.95pt;border:solid windowtext 1.0pt; border-top:none;padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{{ cc.clause }}</p>
          </td>
          <td width=462 valign=top style='width:346.7pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            {{ cc.term|safe }}
          </td>
        </tr>
      {% endfor %}

      </table>
      </dd></dl>
    </li>
  {% endif %}


    {% if ammended_clauses %}
    <li>
      <h3>Variations to terms in Schedule 2 (if any)</h3>
      <dl><dd>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=625
             style='width:468.65pt;margin-left:5.4pt;border-collapse:collapse;border:none'>
        <tr style='height:29.6pt'>
          <td width=163 valign=top style='width:121.95pt;border:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Clause
              number</b></p>
          </td>
          <td width=462 valign=top style='width:346.7pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Amendment</b></p>
          </td>
        </tr>

        {% for cc in ammended_clauses %}
        <tr style='height:29.6pt'>
          <td width=163 valign=top style='width:121.95pt;border:solid windowtext 1.0pt; border-top:none;padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{{ cc.clause }}</p>
          </td>
          <td width=462 valign=top style='width:346.7pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            {{ cc.term|safe }}
          </td>
        </tr>
      {% endfor %}


      </table>
      </dd></dl>
    </li>
  {% endif %}

    <li>
      <h3>Appendices attached to Schedule 1</h3>
      <dl><dd>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=625
             style='width:468.65pt;margin-left:5.4pt;border-collapse:collapse;border:none'>
        <tr style='height:29.6pt'>
          <td width=163 valign=top style='width:121.95pt;border:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Appendix
              number</b></p>
          </td>
          <td width=462 valign=top style='width:346.7pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Title</b></p>
          </td>
        </tr>
        {% for a in c.documents.all().order_by("required_document__ordering") %}
          <tr style='height:29.6pt'>
            <td width=163 valign=top style='width:121.95pt;border:solid windowtext 1.0pt; border-top:none;padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
              <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{{ loop.index }}</p>
            </td>
            <td width=462 valign=top style='width:346.7pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
            padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
              <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{{ a.document_type }}</p>
            </td>
          </tr>
        {% endfor %}
      </table>
      </dd></dl>
    </li>


    {#

    <li>Application Number: <strong>{{ a.number }}</strong></li>
    <li>Total approved funding and payment process:<br/>
      <dl><dd></dd></dl>
    </li>

    <li>Start Date: <strong>{{ c.start_date.strftime("%d %B, %Y") }}</strong></li>
    <li>Completion Date: <strong>{% if c.end_date %}{{ c.end_date.strftime("%d %B, %Y") if c.end_data else '' }}{% else %}&nbsp;{% endif %}</strong></li>
    <li>Reporting dates:

    </li>

    <li>
      Key Personnel and FTE totals:

      <table border="1" cellpadding="5" cellspacing="0" with="100%">
        <tr bgcolor="#d0d0d0">
          <th><b>Name</b></th>
          <th><b>Role</b></th>
          <th><b>Time (%)</b></th>
        </tr>
        {% for m in c.members.all() %}
          <tr>
            <td>{{ m.full_name_with_title }}</td>
            <td>{{ m.role.name }}</td>
            <td>{{ m.total_fte }}%</td>
          </tr>
        {% endfor %}
      </table>

    </li>

   #}

  </ol>
  <div title="footer" style="font-size: 6pt; font-family: Arial; width: 100%;">
    <font size="1" style="font-size: 6pt; font-family: Arial;" face="Arial">
      <table border="0" style="border: none; font-size: 6pt; font-family: Arial;" width="100%">
        <col align="left">
        <col align="center">
        <col align="right">
        <tr>
          <td border="0" style="border: none; font-family: Arial; font-size: 6pt; text-align: left;" align="left">
            <font size="1" style="font-size: 6pt; font-family: Arial" face="Arial">
              <span lang="en-NZ" style="font-family: Arial; font-size: 6pt;"><small>{{ c.fund.code }} {{ c.number }}</small></span>
            </font>
          </td>
          <td border="0" style="border: none; font-family: Arial; font-size: 6pt; text-align: center;" align="center">
            <font size="1" style="font-size: 6pt; font-family: Arial" face="Arial">
              <span lang="en-NZ"><small>Contract	Issued: <sdfield type=DATETIME sdnum="5129;3081;NNNN&quot;&quot;D MMMM YYYY">{{ c.start_date.strftime("%d %B, %Y") }}</sdfield></small></span>
            </font>
          </td>
          <td border="0" style="border: none; font-family: Arial; font-size: 6pt; text-align: right;" align="right">
            <font size="1" style="font-size: 6pt; font-family: Arial" face="Arial">
              <small>Page <b><sdfield type=PAGE subtype=RANDOM format=PAGE>N</sdfield></b> of <b><sdfield type=DOCSTAT subtype=PAGE format=PAGE>NN</sdfield></b></small>
            </font>
          </td>
        </tr>
      </table>
    </font>
  </div>
{#% endblock %#}
