{% extends "contracts/base.html" %}

{% block style %}
  {{ super() }}
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  p {margin-block-start: 0.5em;}
  h2 {margin-bottom: 6pt;}
{% endblock %}

{% macro org_address_tr(c, org) %}
  <tr>
    <td valign=top style='padding: 6pt 5.4pt 0in 5.4pt;height:29.6pt'>
      {{ org.legal_name or org.name }}
    </td>
    <td valign=top style='padding: 0pt 5.4pt 0in 5.4pt'>
      <p style='margin-bottom:6.0pt;'>
      {% if org.code in ["ROY", "RSTA", "NZRS"] %}
        Director - Research Funding
      {% elif c.contact or org.contact %}
        {{ c.contact or org.contact }}
      {% else %}
        [Contact]
      {% endif %}
      </p>
      <p style='margin-bottom:6.0pt;'>
      {% if org.code in ["ROY", "RSTA", "NZRS"] %}
        {{ org.contact_phone or '[Phone number]' }}
      {% else %}
        {{ c.contact_phone or org.contact_phone or '[Phone number]' }}
      {% endif %}
      </p>
      {% if org.code in ["ROY", "RSTA", "NZRS"] %}
        <p style='margin-bottom:6.0pt;'>Email: {{ c.fund and c.fund.email or org.email }}</p>
      <p style='margin-bottom:6.0pt;'>{% if org.address %}{{ org.address.__html__()|safe }}{% else %}[Address]{% endif %}</p>
    {% else %}
      {% if c.host_contact_email or org.email %}
        <p style='margin-bottom:6.0pt;'>Email: {{ c.host_contact_email or org.email or org.ro_email }}</p>
      {% endif %}
    <p style='margin-bottom:6.0pt;'>{% if c.address or org.address %}{{ (c.address or org.address).__html__()|safe }}{% else %}[Address]{% endif %}</p>
  {% endif %}
    </td>
  </tr>
{% endmacro %}

{% block content %}
  {% set kp=c.key_person %}
  <h1 style="page-break-before: always; text-align: center;">
    SCHEDULE 1 - KEY TERMS<br>
  {% if fund %}{{ fund.description|upper }}{% else %}{% if c.site_id == 4 %}NG&#256; PUANGA P&#362;TAIAO FELLOWSHIP{% endif %}{% endif %}
  </h1>
  <!-- h2 style="text-align: center;">(Application: {{ a.number }})</h2 -->
  <p>Programme Contract Number: <strong>{{ c.number }}</strong></p>
  <!-- p> Programme Title: <strong>{{ c.project_title }}</strong> </p -->
  <ol type="1" style="width: 100%; font-size:10.0pt; padding-left: 16px;">
    <li>
      <h2>Key dates</h2>
      <!-- table class=MsoNormalTable border=1 cellspacing=0 cellpadding=7 width=625 style='width:468.65pt;margin-left:-12pt;' -->
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=7 width=625 style='width:16cm;margin-left:-12pt;'>
        <tr style="page-break-inside: avoid; page-break-after: avoid;">
          <td width=281 valign=top style='width:45%; padding:0in 5.4pt 0in 5.4pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
            <b>Start Date of Agreement</b></p>
          </td>
          <td width=344 valign=top style='width:55%;padding:0in 5.4pt 0in 5.4pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
            <b>
              {{ c.start_date.strftime("%-d %B %Y") }}
            </b>
            </p>
          </td>
        </tr>
        {#
        <tr>
          <td valign=top style='padding:0in 5.4pt 0in 5.4pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
            <b>Date by which the Programme must start</b></p>
          </td>
          <td valign=top style='padding:0in 5.4pt 0in 5.4pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>No later than
            six months after the Start Date of the Agreement (unless otherwise agreed by
            the parties)</p>
          </td>
        </tr>
        #}
        <tr style='height:4.15pt'>
          <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Completion Date</b></p>
          </td>
          <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
            <b>
            {% if c.end_date %}{{ c.end_date.strftime("%-d %B %Y") }}{% else %}&nbsp;{% endif %}
            </b>
            </p>
          </td>
        </tr>
      </table>
    </li>

    <li>
      <h2>Key Contact Person</h2>
      <table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="7" width="625" style="width:16cm;margin-left:-12pt;">
        <tbody>

          <tr style="page-break-inside: avoid; page-break-after: avoid;">
            <td width="250" valign="top" style="width:40%; padding:0in 5.4pt 0in 5.4pt">
              <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>Name</b></p>
            </td>
            <td width="187" valign="top" style="width:30%;padding:0in 5.4pt 0in 5.4pt">
              <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>Role</b></p>
            </td>
            <td width="187" valign="top" style="width:30%;padding:0in 5.4pt 0in 5.4pt">
              <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>Contact details</b></p>
            </td>
          </tr>

          <tr style="page-break-inside: avoid; page-break-after: avoid;">
            <td width="207" valign="top" style="padding:0in 5.4pt 0in 5.4pt">
            <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">{% if kp %}{{ kp.full_name_with_title }}{% else %}&nbsp;{% endif %}</p>
            </td>
            <td width="150" valign="top" style="padding:0in 5.4pt 0in 5.4pt">
            <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">{% if kp %}{{ kp.role.name }}{% else %}&nbsp;{% endif %}</p>
            </td>
            <td width="154" valign="top" style="padding:0in 5.4pt 0in 5.4pt">
            <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">{% if kp %}{% if kp.address %}{{ kp.address }}{% else %}&nbsp;{% endif %}{% else %}&nbsp;{% endif %}</p>
            </td>
          </tr>

        </tbody>
      </table>
    </li>

    {% set okp=c.other_key_personnel %}
    <li>
      <h2>Other Key Personnel</h2>

      <table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="7" width=625 style="width:16cm;margin-left:-12pt;">
        <tbody>

          <tr style="page-break-inside: avoid; page-break-after: avoid;">
            <td valign="top" style="width:55%; padding:0in 5.4pt 0in 5.4pt">
              <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>Name</b></p>
            </td>
            <td valign="top" style="width:45%;padding:0in 5.4pt 0in 5.4pt">
              <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%"><b>Role</b></p>
            </td>
          </tr>

          {% for p in okp %}
            <tr{% if loop.first %} style="page-break-inside: avoid; page-break-after: avoid;"{% endif %}>
              <td width="284" valign="top" style="width:212.65pt;padding:0in 5.4pt 0in 5.4pt">
                <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">{{ p.full_name_with_title }} </p>
              </td>
              <td width="189" valign="top" style="width:141.75pt; padding:0in 5.4pt 0in 5.4pt">
                <p class="MsoNormal" style="margin-bottom:6.0pt;line-height:115%">{{ p.role.name }}</p>
              </td>
            </tr>
          {% else %}
            <tr style="page-break-inside: avoid !important;">
              <td width="284" valign="top" style="width:212.65pt;padding:0in 5.4pt 0in 5.4pt;page-break-inside: avoid !important;height:29.6pt;">&nbsp;</td>
              <td width="189" valign="top" style="width:141.75pt; padding:0in 5.4pt 0in 5.4pt;page-break-inside: avoid !important;height:29.6pt;">&nbsp;</td>
            </tr>
          {% endfor %}

        </tbody>
      </table>

    </li>

    <li>
      <h2>Description of Programme</h2>

      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=7 width=625 style='width:16cm;margin-left:-12pt;'>
        <tr style="page-break-inside: avoid; page-break-after: avoid;">
          <td valign=top style='width:35%; padding:0in 5.4pt 0in 5.4pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Programme Title</b></p>
          </td>
          <td valign=top style='width:65%;padding:0in 5.4pt 0in 5.4pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{{ c.project_title or a.application_title }}</p>
          </td>
        </tr>
        <tr style='height:4.15pt'>
          <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Application Number</b></p>
          </td>
          <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><strong>{{ a.number }}</strong></p>
          </td>
        </tr>
        <tr style="page-break-inside: auto;">
          <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Overall aim of research</b></p>
          </td>
          <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:4.15pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
            {% if c.abstract and c.abstract.strip() %}
            {% if format != "html" %}{{ c.abstract|summernote }}{% else %}{{ c.abstract|safe }}{% endif %}
          {% else %}&nbsp;{% endif %}</p>
          </td>
        </tr>
      </table>

    </li>

    <li>
      <h2>Acknowledgement of Funding</h2>
      <dl><dd>
          <!-- TODO: adjust per site/schema/round -->
          <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>For the
          purposes of clause <!-- NB! -->8.5 of Schedule 2, the phrase that must be used to
          acknowledge the provision of funding and support from the New Zealand Government is
          <!-- NB! for example -->
        &quot;<i>Supported by the {% if c.fund %}{{ c.fund.description }}{% else %}{{ c.site.name }}
          from Government funding{% endif %},
          administered by the Royal Society Te Ap&#257;rangi&quot;</i>.
          </p>
        </dd></dl>
    </li>

    <li>
      <h2>Reporting dates</h2>

      <table width=625
             border="1"
             cellpadding="5"
             cellspacing="0"
             style="width:16cm;margin-left:-12pt;">
        <!-- tr bgcolor="#d0d0d0" -->
        <tr bgcolor="white" valign="middle" style="page-break-inside: avoid; page-break-after: avoid;">
          <th style="width:20%;"><b>Year</b></th>
          <th style="width:30%;"><b>Report</b></th>
          <th style="width:50%;"><b>Due date</b></th>
        </tr>
        {% for y, entries in c.reporting_schedule_by_years %}
          {% for r in entries %}
            <tr>
              {% if loop.first %}
                <td rowspan="{{ entries.__len__() or 1 }}">{{ y }}</td>
              {% endif %}
              <td>{{ r.get_type_display() }} Report (Year {{ r.period }})</td>
              <td>{{ r.due_date and r.due_date.strftime("%-d %B %Y") or _("N/A") }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>

    </li>

    <li>
      <h2>Funding</h2>

      <table border="1" cellpadding="7" cellspacing="0" with="625"
                                                        style="width:16cm;margin-left:-12pt;">
        <!-- col width="96"/>
        <col width="176"/>
        <col width="176"/>
        <col width="176"/ -->
        <!-- tr bgcolor="#d0d0d0" valign="middle" -->
        <tr bgcolor="white" valign="middle" style="page-break-inside: avoid; page-break-after: avoid;">
          <th style="width:10%;"><b>Year</b></th>
          <th style="width:20%;"><b>Amount of Funding</b> (GST excl.)</th>
          <th style="width:35%;"><b>Purpose of Funding</b></th>
          <th style="width:35%;"><b>Payment details</b></th>
        </tr>
        {% for y, entries in c.allocations_by_years %}
          {% for r in entries %}
            <tr valign="middle">
              {% if loop.first %}
                <td rowspan="{{ entries.__len__() or 1 }}">{{ y }}</td>
              {% endif %}
              <td style="text-align: right;">${{ '{:0,.0f}'.format(r.allocation) }}</td>
              <td>{{ r.purpose or '' }}</td>
              <td>{{ r.details or '' }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
        <tr valign="middle">
          <td><b>TOTAL</b></td>
          <td colspan="3" style="text-align: right;">
            ${{ '{:0,.0f}'.format(c.total_allocation) }}
          </td>
        </tr>
      </table>

    </li>

    <li>
      <h2>Address for notices</h2>

      <table class="MsoNormalTable"
             border="1"
             cellspacing="0"
             cellpadding="1"
             width="625"
             style='width:16cm;margin-left:-12pt;'>
        <tr style='height:29.6pt' style="page-break-inside: avoid; page-break-after: avoid;">
          <td valign=top style='width:40%; padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%;page-break-after: avoid'><b>Party name</b></p>
          </td>
          <td valign=top style='width:60%;padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
            <b>Contact details</b></p>
          </td>
        </tr>
        {{ org_address_tr(c, c.agency) }}
        {{ org_address_tr(c, c.host) }}
      </table>

    </li>

    <li>
      <h2>Additional terms that apply in addition to the terms in Schedule 2 (if any)</h2>

      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=625 style='width:16cm;margin-left:-12pt;'>
        <tr style='height:29.6pt' style="page-break-inside: avoid; page-break-after: avoid;">
          <td valign=top style='width:15%; padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Clause </b></p>
          </td>
          <td valign=top style='width:85%;padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
            <b>Additional term</b>
            </p>
          </td>
        </tr>

        {% for cc in additional_clauses %}
          <tr style='height:29.6pt'>
            <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
              <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{{ cc.clause }}</p>
            </td>
            <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
              {{ cc.term|safe }}
            </td>
          </tr>
        {% else %}
          <tr style="height:29.6pt;page-break-inside: avoid; page-break-after: avoid;">
            <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>&nbsp;</td>
            <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>&nbsp;</td>
          </tr>
        {% endfor %}

      </table>
    </li>

    {#% if ammended_clauses %#}
    <li>
      <h2>Variations to terms in Schedule 2 (if any)</h2>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=625 style='width:16cm;margin-left:-12pt;'>
        <tr style='height:29.6pt' style="page-break-inside: avoid; page-break-after: avoid;">
          <td valign=top style='width:15%; padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Clause
              number</b></p>
          </td>
          <td valign=top style='width:85%;padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Amendment</b></p>
          </td>
        </tr>

        {% for cc in ammended_clauses %}
          <tr style='height:29.6pt'>
            <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
              <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{{ cc.clause }}</p>
            </td>
            <td valign=top style=' padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
              {{ cc.term|safe }}
            </td>
          </tr>
        {% else %}
          <tr style="height:29.6pt;page-break-inside: avoid; page-break-after: avoid;">
            <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>&nbsp;</td>
            <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>&nbsp;</td>
          </tr>
        {% endfor %}
      </table>
    </li>

    <li>
      <h2>Appendices attached to Schedule 1</h2>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=625 style='width:16cm;margin-left:-12pt;'>
        <tr style='height:29.6pt' style="page-break-inside: avoid; page-break-after: avoid;">
          <td valign=top style='width:35%; padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>
            <b>Appendix number</b>
            </p>
          </td>
          <td valign=top style='width:65%;padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
            <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'><b>Title</b></p>
          </td>
        </tr>
        {% for a in c.documents.all().order_by("required_document__ordering") %}
          <tr style="height:29.6pt;{% if loop.first %}page-break-inside: avoid; page-break-after: avoid;{% endif %}">
            <td valign=top style='padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
              <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{{ loop.index }}</p>
            </td>
            <td valign=top style=' padding:0in 5.4pt 0in 5.4pt;height:29.6pt'>
              <p class=MsoNormal style='margin-bottom:6.0pt;line-height:115%'>{{ a.required_document.title or a.required_document.get_role_display() }}</p>
            </td>
          </tr>
        {% endfor %}
      </table>
    </li>


    {#

    <li>Application Number: <strong>{{ a.number }}</strong></li>
    <li>Total approved funding and payment process:<br/>
      <dl><dd></dd></dl>
    </li>

    <li>Start Date: <strong>{{ c.start_date.strftime("%d %B, %Y") }}</strong></li>
  <li>Completion Date: <strong>{% if c.end_date %}{{ c.end_date.strftime("%d %B, %Y") if c.end_data else '' }}{% else %}&nbsp;{% endif %}</strong></li>
  <li>Reporting dates:

  </li>

  <li>
    Key Personnel and FTE totals:

    <table border="1" cellpadding="5" cellspacing="0" with="100%">
      <tr bgcolor="#d0d0d0">
        <th><b>Name</b></th>
        <th><b>Role</b></th>
        <th><b>Time (%)</b></th>
      </tr>
      {% for m in c.members.all() %}
        <tr>
          <td>{{ m.full_name_with_title }}</td>
          <td>{{ m.role.name }}</td>
          <td>{{ m.total_fte }}%</td>
        </tr>
      {% endfor %}
    </table>

  </li>

  #}

  </ol>

  {#
  <div title="footer" style="font-size: 6pt; font-family: Arial; width: 100%;">
    <font size="1" style="font-size: 6pt; font-family: Arial;" face="Arial">
      <table border="0" style="border: none; font-size: 6pt; font-family: Arial;" width="100%">
        <col align="left">
        <col align="center">
        <col align="right">
        <tr>
          <td border="0" style="border: none; font-family: Arial; font-size: 6pt; text-align: left;" align="left">
            <font size="1" style="font-size: 6pt; font-family: Arial" face="Arial">
              <span lang="en-NZ" style="font-family: Arial; font-size: 6pt;"><small>{{ c.fund.code }} {{ c.number }}</small></span>
            </font>
          </td>
          <td border="0" style="border: none; font-family: Arial; font-size: 6pt; text-align: center;" align="center">
            <font size="1" style="font-size: 6pt; font-family: Arial" face="Arial">
              <span lang="en-NZ"><small>Contract	Issued: <sdfield type=DATETIME sdnum="5129;3081;NNNN&quot;&quot;D MMMM YYYY">{{ c.start_date.strftime("%d %B, %Y") }}</sdfield></small></span>
            </font>
          </td>
          <td border="0" style="border: none; font-family: Arial; font-size: 6pt; text-align: right;" align="right">
            <font size="1" style="font-size: 6pt; font-family: Arial" face="Arial">
              <small>Page <b><sdfield type=PAGE subtype=RANDOM format=PAGE>N</sdfield></b> of <b><sdfield type=DOCSTAT subtype=PAGE format=PAGE>NN</sdfield></b></small>
            </font>
          </td>
        </tr>
      </table>
    </font>
  </div>
  #}

{% endblock %}
