{% load i18n tags %}
{% if not a.is_wip %}
  <a
      class="list-group-item list-group-item-action"
      href="{% url 'application' pk=a.id %}"
      {% if SITE_ID == 4 and a.application_title %}title="{{ a.application_title }}"
      data-toggle="tooltip"{% endif %}>{{ a }}</a>
    {% if is_admin %}
    <a
        class="list-group-item list-group-item-action"
        href="{% url 'application-export' pk=a.pk %}"
        style="padding-top: 1px; padding-bottom: 0px;"
        target="_blank"
        class="btn btn-info float-right align-top"
        data-toggle="tooltip"
        title="{% trans 'Export the application into a consolidated PDF file' %}"
        >{% trans 'Export' %}
    </a>
    {% endif %}
  {% elif a|can_edit:user %}
    <!-- li class="list-group-item" -->
    <a
      class="list-group-item list-group-item-action"
      href="{% if SITE_ID == 2 or SITE_ID == 4 or SITE_ID == 5 %}{% url 'application' pk=a.id %}{% else %}{% url 'application-update' pk=a.id %}{% endif %}"
    >
      {% if a.deadline_days > 0 and a.deadline_days < 5 %}
        <i class="fas fa-exclamation-circle text-danger"
           data-toggle="tooltip"
           title="{% blocktrans with deadline_days=a.deadline_days closes_on=a.round.closes_at|date:"d-m-Y" closes_at=a.round.closes_at|time:"P" %}The round is closing in {{ deadline_days }} day(s) on {{ closes_on }} by {{ closes_at }}{% endblocktrans %}"
           ></i>
      {% endif %}
      <span
        {% if a.deadline_days < 5 %}
          data-toggle="tooltip"
          title="{% blocktrans with deadline_days=a.deadline_days closes_on=a.round.closes_at|date:"d-m-Y" closes_at=a.round.closes_at|time:"P" %}The round is closing in {{ deadline_days }} day(s) on {{ closes_on }} by {{ closes_at }}{% endblocktrans %}"
        {% elif SITE_ID == 4 and a.application_title %}title="{{ a.application_title }}"
            data-toggle="tooltip"
        {% endif %}
      >
        {{ a }}
      </span>
    </a>
    <!-- /li -->
  {% else %}
    <a
        class="list-group-item list-group-item-action"
        href="{% url 'application' pk=a.id %}"
        {% if SITE_ID == 4 and a.application_title %}title="{{ a.application_title }}"
        data-toggle="tooltip"{% endif %}>
      {{ a }}
    </a>
{% endif %}
{# vim:set ft=htmldjango: #}
