{% load i18n tags %}
<div class="application-list card-body">
    <ul class="list-group list-group-flush">
    {% if is_ro or is_admin %}
      {% regroup applications by round as application_list %}
      {% for r in application_list %}
        {% with bg=r.grouper.background fg=r.grouper.foreground %}
          <li class="list-group-item">
            <a href="{% url 'applications' %}?round_filter={{ r.grouper.pk }}"{% if bg and bg != 'colour' %} style="color: {{ bg }};"{% endif %}>
              <b>{{ r.grouper }}</b>
            </a>
            <ul class="list-group list-group-flush mt-1">
              {% for a in r.list %}
                {% include 'snippets/application_card_row.html' with a=a %}
              {% endfor %}
            </ul>
          </li>
        {% endwith %}
      {% endfor %}
    {% else %}
      {% for a in applications %}
        {% include 'snippets/application_card_row.html' with a=a %}
      {% endfor %}
    {% endif %}
  </ul>
</div>
{# vim:set ft=htmldjango: #}
