{% load i18n crispy_forms_tags tags %}
<table{% if for_pdf_export %} style="{% if a.site_id == 4 %}width: 17cm;{% else %}width: 18cm;{% endif %}"{% else %} class="table table-bordered searchable"{% endif %}>
  <tbody{% if for_pdf_export %} style="{% if a.site_id == 4 %}width: 17cm;{% else %}width: 18cm;{% endif %}"{% endif %}>

    <tr>
    <th scope="row"{% if not for_pdf_export %} class="table-dark" style="width: 21%; min-width: 160px; max-width: 180px;"{% endif %}>{% trans 'Application' %}</th>
    <td scope="row"{% if not a.panel %}colspan="3"{% endif %}>
        {% if user.is_admin and not export %}
          <a href="{% url 'admin:portal_application_change' object_id=a.id %}" target="_blank">
            <strong>{{ a.number }}</strong>{% if a.application_title %}: {{ a.application_title }}{% endif %}
          </a>
        {% else %}
          <strong><a href="{% url 'application-detail' number=a.number %}" target="_blank">{{ a.number }}</a></strong>{% if a.application_title %}: {{ a.application_title }}{% endif %}
        {% endif %}
        {% if not show_basic_details and not for_panellists %}
            &lt;<strong>{{ a.get_state_display|upper }}</strong>&gt;
        {% endif %}
    </td>
    {% if a.panel %}
      <th scope="row" class="table-dark">{% trans 'Panel' %}</th>
      <td> {{ a.panel }} </td>
    {% endif %}
    </tr>
    {% if a.preliminary %}
      <tr>
        <th class="table-dark" scope="row" style="width: 21%; min-width: 160px; max-width: 180px;">
          {% trans 'Preliminary Application' %} / {% trans 'Expression of Interest' %}</th>
        <td colspan="3">
          <strong>
              <a href="{% url 'application-detail' number=a.preliminary.number %}" target="_blank">
                {{ a.preliminary.number }}
              </a>
        </strong>{% if a.preliminary.application_title %}: {{ a.preliminary.application_title }}{% endif %}
        </td>
      </tr>
    {% endif %}

    {% if a.presentation_url %}
      <tr>
        <td colspan="4">

          {% if "youtube" in a.presentation_url or "vimeo" in a.presentation_url %}

            <iframe
              src="{% if "vimeo" in a.presentation_url %}https://player.vimeo.com/video/{% else %}https://www.youtube.com/embed/{% endif %}{{ a.presentation_url|video_id }}"
              title="{% trans 'Vimeo video player' %}"
              width="640"
              height="360"
              frameborder="0"
              allow="fullscreen; accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              ></iframe>

          {% else %}
            <video
                width="640"
                height="360"
                controls
                >
                <source src="{{ a.presentation_url }}">
                {% trans 'Your browser does not support the video tag.' %}
            </video>

            {% endif %}

            <p><a href="{{ a.presentation_url }}" target="_blank">{{ a.application_title|default:a.presentation_url }}</a>.</p>

        </td>
      </tr>
    {% endif %}

    <tr>
      <th scope="row" class="table-dark" >{% trans 'Round' %}</th>
      <td colspan="3">{{ a.round }}</td>
    </tr>

    <tr>
      <th scope="row" class="table-dark">
        {% if a.is_team_application or a.site_id == 5 and a.members.all.count > 1 or a.site_id != 5 and a.members.all.count %}
          {% trans 'Team Lead' %}
        {% else %}
          {% trans 'Applicant' %}
        {% endif %}
      </th>
      <td colspan="3">{{ a|person_with_email }}{% if user.is_admin %} (username: {{ a.submitted_by.username }}){% endif %}</td>
    </tr>

    {% if a.is_team_application or a.site_id == 5 and a.members.all.count > 1 or a.site_id != 5 and a.members.all.count %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Team:' %}</th>
        <td colspan="3">
          {%if a.team_name %}{{ a.team_name|default:'' }}:{% endif %}
          <ul>
            {% for m in a.members.all %}
              <li>
                {% if is_admin %}
                  <a href="{% url 'admin:portal_member_change' object_id=m.pk %}" target="_blank"> {{ m | person_with_email }} </a>
                {% elif is_ro and not export and not for_pdf_export %}
                  <a href="{% url 'member-update' pk=m.pk %}" target="_blank"> {{ m | person_with_email }} </a>
                {% else %}
                  {{ m | person_with_email }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </td>
      </tr>

    {% endif %}

    {% if a.org.name == a.organisation %}
    <tr>
      <th scope="row"{% if not for_pdf_export %} class="table-dark" style="width: 21%; min-width: 120px; max-width: 180px;"{% endif %}>
        {% if SITE_ID == 2 or SITE_ID == 5 or SITE_ID == 4 %}
          {% trans 'Host Organisation' %}
        {% else %}
          {% trans 'Organisation' %}
        {% endif %}
      </th>
      <td>{% if a.org %}
        {% if user.is_admin and not export %}
          <a href="{% url 'admin:portal_organisation_change' object_id=a.org.pk %}" target="_blank">
            {{ a.org }}
          </a>
        {% else %}
          {{ a.org }}
        {% endif %}
        {% else %}{{ a.organisation|default:'' }}{% endif %}
      </td>
      <th scope="row"{% if not for_pdf_export %} class="table-dark" style="width: 21%; min-width: 120px; max-width: 180px;"{% endif %}>{% trans 'Position' %}</th>
      <td>{{ a.position|default:'' }}</td>
    </tr>
    {% else %}

    <tr>
      <th scope="row" class="table-dark" style="width: 21%; min-width: 120px; max-width: 180px;">
        {% trans 'Contact Organisation' %}
      </th>
      <td> {{ a.organisation|default:'' }}</td>
      <th scope="row"{% if not for_pdf_export %} class="table-dark" style="width: 21%; min-width: 120px; max-width: 180px;"{% endif %}>{% trans 'Position' %}</th>
      <td>{{ a.position|default:'' }}</td>
    </tr>

    <tr>
      <th scope="row"{% if not for_pdf_export %} class="table-dark" style="width: 21%; min-width: 120px; max-width: 180px;"{% endif %}>
        {% trans 'Host Organisation' %}
      </th>
      <td colspan="3">{% if a.org %}
        {% if user.is_admin and not export %}
          <a href="{% url 'admin:portal_organisation_change' object_id=a.org.pk %}" target="_blank">
            {{ a.org }}
          </a>
        {% else %}
          {{ a.org }}
        {% endif %}
        {% else %}{{ a.organisation|default:'' }}{% endif %}
      </td>
    </tr>
    {% endif %}

    {% if SITE_ID == 2 or SITE_ID == 5 %}
        <tr>
          <th class="table-dark" scope="row">{% trans 'Project Title' %}</th>
          <td colspan="3">
            {% if a.application_title %}
              {{ a.application_title }}
            {% else %}
              {% trans 'N/A' %}
            {% endif %}
          </td>
        </tr>

        {% if a.proposed_start_date or a.requested_amount %}
          <tr>
            <th scope="row" class="table-dark" style="width: 21%; min-width: 120px; max-width: 180px;">
              {% trans 'Proposed start date' %}
            </th>
            <td>{% if a.proposed_start_date %}
                {{ a.proposed_start_date }}
              {% else %}
                {% trans 'N/A' %}
              {% endif %}
            </td>
            <th scope="row" class="table-dark" style="width: 21%; min-width: 120px; max-width: 180px;">{% trans 'Requested amount' %}</th>
            <td>{% if a.requested_amount %}{{ a.requested_amount|floatformat:"-3g" }} NZD{% else %}{% trans 'N/A' %}{% endif %}</td>
          </tr>
        {% endif %}

      {% if round.research_experience_in_years_required %}
        <tr>
          <th class="table-dark" scope="row">{% trans 'Years of experience post PhD' %}</th>
          <td colspan="3">
            {% if a.research_experience_in_years is not None %}
              {{ a.research_experience_in_years }}
              {% if a.research_experience_in_years == 0 or a.research_experience_in_years > 1 %}
                {% trans 'years' %}
              {% else %}
                {% trans 'year' %}
              {% endif %}
            {% else %}
              {% trans 'N/A' %}
            {% endif %}
          </td>
        </tr>
      {% endif %}

      {% if user.is_admin and attachments or referee and attachments %}
          <tr>
              <th colspan="4" class="table-dark" scope="row">{% trans 'Attached Documents' %}</th>
          </tr>
        {% for rd in required_documents %}
          <tr>
              <th class="table-secondary" scope="row"><span><span class="badge badge-secondary">{{ forloop.counter }}</span> {{ rd }}</span>{% if rd.is_optional %} (<i>{% trans 'optional' %}</i>){% endif %}</th>
            <td colspan="3">
              {% for d in attachments|filter_documents:rd %}
                {% if not forloop.first %}, {% endif %}<a href="{{ d.file.url }}" target="_blank">{{ d.file|basename }}</a>
                {% if d.converted_file %}
                  (<a href="{{ d.converted_file.file.url }}" target="_blank">{{ d.converted_file.file|basename }}</a>)
                {% endif %}
                {% empty %}
                {% if rd.is_optional %}{% trans 'N/A' %}{% else %}<span style="color: text-danger">{% trans 'N/A' %}</span>{% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}

      {% else %}

        {% if documents.CV or referee and referee.user != user %}
          <tr>
            <th class="table-dark" scope="row">{% trans 'Narrative CV' %}</th>
            <td colspan="3">
              {% if documents.CV %}
                <a href="{{ documents.CV.url }}" target="_blank">{{ documents.CV.name|basename }}</a>
              {% else %}
                {% trans 'N/A' %}
              {% endif %}
            </td>
          </tr>
        {% endif %}

        {% if documents.HS or referee and referee.user != user %}
          <tr>
            <th class="table-dark" scope="row">{% trans 'Host Suitablity' %}</th>
            <td colspan="3">
              {% if documents.HS %}
                <a href="{{ documents.HS.url }}" target="_blank">{{ documents.HS.name|basename }}</a>
              {% else %}
                {% trans 'N/A' %}
              {% endif %}
            </td>
          </tr>
        {% endif %}

        {% if documents.B or referee and referee.user != user %}
          <tr>
            <th class="table-dark" scope="row">{% trans 'Budget' %}</th>
            <td colspan="3">
              {% if documents.B %}
                <a href="{{ documents.B.url }}" target="_blank">{{ documents.B.name|basename }}</a>
              {% else %}
                {% trans 'N/A' %}
              {% endif %}
            </td>
          </tr>
        {% endif %}

        {% if documents.AF or documents.A or referee and referee.user != user %}
          <tr>
            <th class="table-dark" scope="row">{% trans 'Proposed research' %}</th>
            <td colspan="3">
              {% if documents.AF %}
                <a href="{{ documents.AF.url }}" target="_blank">{{ documents.AF.name|basename }}</a>
              {% elif documents.A %}
                <a href="{{ documents.A.url }}" target="_blank">{{ documents.A.name|basename }}</a>
              {% else %}
                {% trans 'N/A' %}
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endif %}

    {% endif %}

    <tr>
      <th class="table-dark" scope="row">{% trans 'Postal Address' %}</th>
      <td colspan="3">
        {{ a|html_address }}
      </td>
    </tr>

    {% if a.daytime_phone_number or a.mobile_phone_number %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Daytime Phone Number' %}</th>
        <td>{{ a.daytime_phone_number }}</td>
        <th class="table-dark" scope="row">{% trans 'Mobile Phone Number' %}</th>
        <td>{{ a.mobile_phone_number }}</td>
      </tr>
    {% endif %}

    {% if not show_basic_details and not export %}

      {% if a.summary or a.summary_en or a.summary_mi %}
        {% if a.is_bilingual %}

          {% if a.summary_en %}
            <tr>
              <th class="table-dark" scope="row" colspan="4" style="padding-top: 6px;padding-bottom: 6px;">{% trans 'Summary (English)' %}</th>
            <tr>
            </tr>
              <td colspan="4">
                {{ a.summary_en|safe }}
              </td>
            </tr>
          {% endif %}

          {% if a.summary_mi %}
            <tr>
              <th class="table-dark" scope="row" colspan="4" style="padding-top: 6px;padding-bottom: 6px;">{% trans 'Summary (Māori)' %}</th>
            <tr>
            </tr>
              <td colspan="4">
                {{ a.summary_mi|safe }}
              </td>
            </tr>
          {% endif %}

        {% elif a.summary %}
          <tr>
            <th colspan="4" class="table-dark" scope="row" style="padding-top: 6px;padding-bottom: 6px;">{% trans 'Summary' %}</th>
          </tr>
          <tr>
            <td colspan="4">
            {% if for_pdf_export %}<div style="width: 17cm;">{{ a.summary|safe }}</div>{% else %}{{ a.summary|safe }}{% endif %}
            </td>
          </tr>
        {% endif %}

      {% endif %}

      {% if a.site_id != 2 and a.site_id != 4 and a.site_id != 5 %}
        <tr>
          <th class="table-dark" scope="row">
            {% trans 'Completed Application Form' %}
            {% if is_panellist %}
              ({% trans 'with attachments' %})
            {% endif %}
          </th>
          <td colspan="3">
            {% if a.file %}
              {% if a|can_edit:user %}
                {% if a.preliminary and a.preliminary.file %}
                  {% trans 'E.O.I.' %}: <a href="{{ a.preliminary.file.url }}" target="_blank"> {{ a.preliminary.filename }} </a><br>
                {% endif %}
                <a href="{{ a.file.url }}" target="_blank"> {{ a.filename }} </a>
              {% elif is_panellist %}
                <a href="{% url 'application-export' pk=a.pk %}" target="_blank"> {{ a.number }}.pdf </a>
              {% else %}
                {% if a.preliminary and a.preliminary.file %}
                  {% trans 'E.O.I.' %}: <a href="{{ a.preliminary.pdf_file.url }}" target="_blank"> {{ a.preliminary.pdf_filename }} </a><br>
                {% endif %}
                <a href="{{ a.pdf_file.url }}" target="_blank"> {{ a.pdf_filename }} </a>
              {% endif %}
            {% else %}
              {% trans 'N/A' %}
            {% endif %}
          </td>
        </tr>
        {% if a.converted_file and a|can_edit:user or a.preliminary and a.preliminary.converted_file and a.preliminary|can_edit:user %}
          <tr>
            <th class="table-dark" scope="row">{% trans 'Completed Application Form (PDF version)' %}</th>
            <td colspan="3">
              {% if a.preliminary and a.preliminary.converted_file %}
                {% trans 'E.O.I.' %}: <br><a href="{{ a.preliminary.converted_file.file.url }}" target="_blank"> {{ a.preliminary.converted_file.file.name|basename }} </a>
              {% endif %}
              {% if a.converted_file and a|can_edit:user %}
                <a href="{{ a.converted_file.file.url }}" target="_blank"> {{ a.converted_file.file.name|basename }} </a>
              {% endif %}
            </td>
          </tr>
        {% endif %}
        {% if a.budget %}
          {% if u.is_admin or is_panellist %}
            <tr>
              <th class="table-dark" scope="row">{% trans 'Budget' %}</th>
              <td colspan="3"><a href="{{ a.budget.url }}" target="_blank"> {{ a.budget.name|basename }} </a></td>
            </tr>
          {% endif %}
        {% endif %}
      {% endif %}

    {% endif %}

    {% if user.is_admin %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Photo Identity' %}</th>
        <td colspan="3">
          {% if a.photo_identity %}<a href="{{ a.photo_identity.url }}" target="_blank">
              {{ a.photo_identity.name|basename }}
        </a>{% else %}{% trans 'N/A' %}{% endif %}
        </td>
      </tr>
    {% endif %}

    {% if a.site_id == 4 and a.round.research_experience_in_years_required %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Research Experience in Years' %}</th>
        <td colspan="3">
          {% if a.research_experience_in_years  is not None %}{{ a.research_experience_in_years }}{% else %}{% trans 'N/A' %}{% endif %}
        </td>
      </tr>
    {% endif %}

    {% if nominator %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Nominator' %}</th>
        <td colspan="3">
          {{ nominator | person_with_email }}
        </td>
      </tr>
    {% endif %}
    {#% if nominator or user.is_superuser or user.is_site_staff or a|can_edit:user %#}

    {% if not export and not for_pdf_export and a.site_id != 2 %}
      {% if nominator or  a|can_edit:user %}
        {% with nomination=a.nomination %}
          {% if nomination %}
            <tr>
            <th class="table-dark" scope="row">{% trans 'Nomination' %}</th>
            <td colspan="3">
              <a href="{% url 'nomination-detail' pk=nomination.pk %}" target="_blank">
                {{ nomination }}
              </a>
            </td>
            </tr>
          {% endif %}
        {% endwith %}
      {% endif %}
    {% endif %}

    {% if SITE_ID != 2 or SITE_ID != 5 or not is_ro or user.is_admin %}{% if a.round.has_referees and a.referees.count and a|can_see_referees:u %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Referees' %}</th>
        <td colspan="3">
          <ul>
            {% if referees %}
              {% for r in referees %}
                {% include 'snippets/referee_li.html' %}
              {% endfor %}
            {% else %}
              {% for r in a.referees.all %}
                {% include 'snippets/referee_li.html' %}
              {% endfor %}
            {% endif %}
          </ul>
        </td>
      </tr>
    {% endif %}{% endif %}

    {% if a.round.has_seos and a.application_seos.count > 0 %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Socio-Economic Objective(s)' %}</th>
        <td colspan="3">
          <table{% if not for_pdf_export %} class="table table-striped table-bordered"{% endif %}>
            <tr>
              <th>Socio-Economic Objective</th>
              <th>Share</th>
            </tr>
            {% for r in a.application_seos.all %}
              <tr>
                <td>{{ r.code }}</td>
                <td>{{ r.share }}</td>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    {% endif %}

    {% if a.round.has_fors and a.application_fors.count > 0 %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Field(s) of Research' %}</th>
        <td colspan="3">
          <table class="table table-striped table-bordered">
            <tr>
              <th>Field of Research</th>
              <th>Share</th>
            </tr>
            {% for r in a.application_fors.all %}
              <tr>
                <td>{{ r.code }}</td>
                <td>{{ r.share }}</td>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    {% endif %}

    {% if a.round.has_toas %}
      {% if a.toa_applied or a.toa_basic or a.toa_strategic or a.toa_experimental %}
        <tr>
          <th class="table-dark" scope="row">{% trans 'Types(s) of Activity' %}</th>
          <td colspan="3">
            <table class="table table-striped table-bordered">
              <tr>
                <th>{% trans 'Type of Activity' %}</th>
                <th>{% trans 'Share' %}</th>
              </tr>
              {% if a.toa_basic > 0 %}<tr><td>{% trans 'Basic' %}</td><td>{{ a.toa_basic }}</td></tr>{% endif %}
              {% if a.toa_strategic > 0 %}<tr><td>{% trans 'Strategic' %}</td><td>{{ a.toa_strategic }}</td></tr>{% endif %}
              {% if a.toa_applied > 0 %}<tr><td>{% trans 'Applied' %}</td><td>{{ a.toa_applied }}</td></tr>{% endif %}
              {% if a.toa_experimental > 0 %}<tr><td>{% trans 'Experimental' %}</td><td>{{ a.toa_experimental }}</td></tr>{% endif %}
            </table>
          </td>
        </tr>
      {% endif %}
    {% endif %}

    {% if a.round.has_vmts %}
      {% if a.vm_ecs or a.vm_ens or a.vm_hsw or a.vm_ink or a.is_vm_na %}
        <tr>
          <th class="table-dark" scope="row">{% trans 'Vision Mātauranga Theme Categories' %}</th>
          <td colspan="3">
            {% if a.is_vm_na %}
              {% trans 'N/A' %}
            {% else %}
              <table class="table table-striped table-bordered">
                <tr>
                  <th>{% trans 'Vision Mātauranga Theme' %}</th>
                  <th>{% trans 'Share' %}</th>
                </tr>
                {% if a.vm_ecs > 0 %}<tr><td>{% trans 'Indigenous Innovation' %}</td><td>{{ a.vm_ecs }}</td></tr>{% endif %}
                {% if a.vm_ens > 0 %}<tr><td>{% trans 'Taiao' %}</td><td>{{ a.vm_ens }}</td></tr>{% endif %}
                {% if a.vm_hsw > 0 %}<tr><td>{% trans 'Hauora/Oranga' %}</td><td>{{ a.vm_hsw }}</td></tr>{% endif %}
                {% if a.vm_ink > 0 %}<tr><td>{% trans 'Mātauranga' %}</td><td>{{ a.vm_ink }}</td></tr>{% endif %}
              </table>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if a.vm_rationale %}
        <tr>
          <th class="table-dark" scope="row">{% trans 'Rationale' %}</th>
          <td colspan="3">
            {{ a.vm_rationale_html|safe }}
          </td>
        </tr>
      {% endif %}
    {% endif %}

    {% if a.round.has_keywords and a.keywords.count > 0 %}
      <tr>
        <th class="table-dark" scope="row">{% trans 'Keyword(s)' %}</th>
        <td colspan="3">
          <ul>
            {% for k in a.keywords.all %}<li>{{ k.name }}</li>{% endfor %}
          </ul>
        </td>
      </tr>
    {% endif %}

  </tbody>
</table>
{# vim:set ft=htmldjango: #}
