{% load tags i18n %}
<div id="comments" class="mt-2"
  hx-on::after-swap="setTimeout(function() {$('#comments .alert').fadeOut('slow');}, 5000); $('#form-modal').modal('hide');">
    {% if comments.count > 0 %}
      {% jinja 'partials/comments.html' %}
    {% endif %}
</div>
<script>
  function toggleMessageFolding() {
      if ($("#comments .collapse.show").length == $("#comments .collapse").length) {
          $('#comments .collapse').each( function() { $(this).removeClass( "show" ) } );
      } else {
          $('#comments .collapse').each( function() { $(this).addClass( "show" ) } );
      }
  }
</script>
{# vim:set ft=htmldjango: #}
