{% load i18n  %}
<div class="buttonHolder mb-5 mt-3 float-right">

  {% if start_applying %}
    <a class="btn btn-primary" href="{{ start_applying }}">
      {% if SITE_ID == 4 %}
        {% trans 'Start Application' %}
      {% else %}
        {% trans 'Start Prize Application' %}
      {% endif %}
    </a>
  {% endif %}

  {% if survey_url %}
    <div class="tooltip-wrapper{% if not scheme.current_round.is_open or object.state == "submitted" or object.status == "submitted" or object.status == "accepted" or object.referee.survey_completed_at %} disabled{% endif %}"
         {% if object.referee and object.referee.survey_completed_at %}
           disabled
         title="{% blocktrans with completed_at=object.referee.survey_completed_at %}Referee report was completed at <b>{{ completed_at }}</b>{% endblocktrans %}"
       {% elif object.state == "submitted" or object.status == "submitted" %}
           disabled
         data-title="{% trans 'The entry has been already submitted and cannot be modified.' %}"
       {% elif object.status == "accepted" %}
           disabled
         title="{% trans 'You cannot alter a nomination that has been submitted. If you feel a need to do this, please email pmscienceprizes@royalsociety.org.nz with a reason and we may be able to enable.' %}"
       {% endif %}
         >
         <a class="btn btn-primary{% if object.state == "submitted" or object.status == "submitted" or object.status == "accepted" or object.referee.survey_completed_at  %} disabled{% endif %}"
            href="{{ survey_url }}">{% trans 'Complete' %} <strong>{% trans 'Survey' %}</strong></a>
    </div>

  {% endif %}

  {% if update_view_name %}
    <div class="tooltip-wrapper{% if not scheme.current_round.is_open or object.state == "submitted" or object.status == "submitted" or object.status == "accepted" %} disabled{% endif %}"
         {% if object.state == "submitted" or object.status == "submitted" %}
           disabled
         data-title="{% trans 'The entry has been already submitted and cannot be modified.' %}"
       {% elif object.status == "accepted" %}
           disabled
         title="{% trans 'You cannot alter a nomination that has been submitted. If you feel a need to do this, please email pmscienceprizes@royalsociety.org.nz with a reason and we may be able to enable.' %}"
       {% endif %}
         >
         <a class="btn btn-primary{% if object.state == "submitted" or object.status == "submitted" or object.status == "accepted" %} disabled{% endif %}"
            href="{% url update_view_name pk=object.pk %}">{% trans update_button_name %}</a>
    </div>
  {% endif %}

  {% if export_button_view_name %}
    <a class="btn btn-primary" href="{% url export_button_view_name pk=object.pk %}">{% trans 'Export' %}</a>
  {% endif %}

</div>
{# vim:set ft=htmldjango: #}
