{% load i18n %}
{% if r and r.agent_declaration or round and round.agent_declaration %}
  <div class="modal fade" tabindex="-1" role="dialog" id="id_agent_declaration_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
          {% blocktrans with pi=object.pi %}
            Duly authorised agent (i.e. the research office) declaration for {{ pi.full_name }}
          {% endblocktrans %}
          </h5>
          <!-- button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button -->
        </div>
        <div class="modal-body">
          {% if r %}{{ r.agent_declaration|safe }}
          {% else %}{{ round.agent_declaration|safe }}
          {% endif %}

          {% comment %}
          <div id="div_id_resolution" class="form-group">
            <!-- label for="id_postal_address" class=" requiredField">{% trans 'Resolution' %}<span class="asteriskField">*</span> </label -->
            <!-- input type="text" name="resolution" maxlength="120" class="textinput textInput form-control" required="" id="id_resolution" -->
            <textarea autofocus name="resolution" id="id_resolution" rows="10" style="width: 100%;"></textarea>
          </div>
          {% endcomment %}
          <div id="div_id_resolution" class="form-group">
            <!-- label for="id_postal_address" class=" requiredField">{% trans 'Resolution' %}<span class="asteriskField">*</span> </label -->
            <!-- input type="text" name="resolution" maxlength="120" class="textinput textInput form-control" required="" id="id_resolution" -->
            <textarea autofocus name="resolution" id="id_resolution" rows="10" style="width: 100%;"></textarea>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="id_declaration_accepted_check">
            <label class="form-check-label" for="id_accepted_check">{% trans 'I accept the declaration' %}</label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick='$(this).closest("form").submit();'>{% trans 'Commit' %}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<div class="modal fade" tabindex="-1" role="dialog" id="id_resolution_modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans 'Resolution or comment' %}</h5>
        <!-- button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button -->
      </div>
      <div class="modal-body">

        <div id="div_id_resolution" class="form-group">
          <!-- label for="id_postal_address" class=" requiredField">{% trans 'Resolution' %}<span class="asteriskField">*</span> </label -->
          <!-- input type="text" name="resolution" maxlength="120" class="textinput textInput form-control" required="" id="id_resolution" -->
          <textarea autofocus name="resolution" id="id_resolution" rows="10" style="width: 100%;"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick='$(this).closest("form").submit();'>{% trans 'Commit' %}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
      </div>
    </div>
  </div>
</div>
{# vim:set ft=htmldjango: #}
